/*body*/
a:link{ 
	color:#66DFFF;
	text-decoration: underline;
}
a:active{ 
	color:#fe9002;
	text-decoration: underline;
}
a:visited{ color:#ce04e0;}
a:hover{
	color:#fe9002;
	text-decoration: underline;
}
body{ background-color:#0E3E68;}
td,th{ border:0; padding:3px; vertical-align:top;}
/*header*/
#header{
	background:#0E3E68 url(../images/header_bg.gif) repeat-y center 0;
	width:100%;
	min-width:900px;
	overflow:hidden;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
}
#header-top{
	height:46px;
	background-color:#000;
	width:100%;
	min-width:900px;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
}
#business-hour{
	color:#fff;
	line-height:21px;
	font-size:14px;
	*font-size:13px;
	min-width:900px;
	width: expression(document.body.clientWidth < 342? "342px": "100%" );
}
#business-hour span{
	float:left;
	text-align:left;
}
#business-hour h1{
	padding-top:3px;
}
#business-hour img{
	float:left;
}
#logo{
	position: absolute;
	z-index:99;
	top:0;
	text-align:center;
	width:33.3333%;
	min-width:300px;
	width: expression(document.body.clientWidth < 300? "300px": "33.3333%" );
}
#header-nav{
	width:100%;
	background:url(../images/header_nav.png) no-repeat center 0;
	height:156px;
	padding-top:20px;
	min-width:900px;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
}
#header-payment{
	float:right;
	*margin-top:-46px;
}
#header-payment img{
	float:right;
}
#header-nav ul{
	z-index:100;
	position:absolute;
	padding:0;
	margin:0;
	width:100%;
	display:inline-block;
	*min-width:900px;
}
#header-nav li{
	float:left;
	text-align:center;
	list-style-type: none;
}
#header-nav li img{
	float:left;
	text-align:center;
	/**margin-left:8px;*/
}
#header-nav li span{
	width:80px;
	display:block;
	text-align:center;
	clear:both;
	padding-top:12px;
	margin-left:-5px;
}
.space-1-7{
	margin-left:7.5%;
	width:6%;
}
.space-5-7{
	margin-left:7%;
	width:6%;
}
.space-2-7,.space-3-7,.space-6-7{
	margin-left:6%;
	width:6%;
}
.space-7-7{
	margin-left:5.5%;
	width:6%;
}
.space-4-7{
	margin:0 9.5% 0 3.5%;
	width:7%;
}
/*current*/
#current{
	margin-left:48px;
	letter-spacing:0;
	word-spacing:0;
	color:#fff;
	text-align:left;
	position:relative;
	z-index:110;
	line-height:24px;
	font-size:14px;
}
#current img{ text-align:center; vertical-align:middle; margin:0 10px;}
#current a:link{ line-height:24px; font-size:14px; color:#66DFFF;}
#current a:active{color:#fe9002; line-height:24px;}
#current a:visited{ color:#ce04e0; line-height:24px;}
#current a:hover{ color:#fe9002; line-height:24px;}

/*main*/
#main{
	width:100%;
	background:#0E3E68 url(../images/header_bg.gif) repeat-y center top;
	min-width:900px;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
	overflow:hidden;
}
#layout {
	background:url(../images/header_nav_bottom.png) no-repeat center top;
	overflow:hidden;
	*display:inline-block;
	width:100%;
	text-align:center;
	padding:5px 0;
	z-index:110px;
}
#main-content{
	margin:10px 10%;
	clear:both;
	padding:10px 15px;
	text-align:left;
	overflow:hidden;
	color:#fff;
	position:relative;
	z-index:110;
	background:rgba(22, 55, 94, 0.8) none repeat scroll 0 0 !important;
    /*filter:Alpha(opacity=90);*/
	background-color:#16375E;
}
#main-content p{
	margin:5px 0;
}
#main-content table{
	color:#fff;
	overflow:hidden;
	margin-bottom:0;
}
#main-content h2,#main-content h1{
	background-color: #466886;
    border: 1px solid #466886;
    color: #FFFFFF;
    letter-spacing: 0;
    word-spacing: 0;
	padding-left:5px;
	margin-bottom:15px;
	line-height:25px;
	font-size:18px;
}
/*Decoration*/
#float-box{
	background:url(../images/money.png) no-repeat center bottom;
	width:100%;
	margin:0 auto;
	float:left;
	position: relative;
	bottom:0;
	border-bottom:1px solid #59A9E4;
	height:134px;
	z-index:1;

}
#l-box{
	left:0;
	position: absolute;
	top:-264px;
}
#r-box{
	right:0;
	position: absolute;
	top:-264px;
}

/*footer*/

#footer{
	border-top:1px solid #515256;
	background-color:#111216;
	font-size:14px;
	overflow:hidden;
	width:100%;
	min-width:900px;
	letter-spacing:0;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
}
.footer_links{ color:#fff;word-spacing:0;}
#links,#footer-nav{
	text-align:center; 
	color:#fff;
	padding:10px 0;
	word-spacing:0.2em;
}
#footer p{ text-align:center; color:#94969D; font-size:14px; padding:0; margin:0;}

/*gamelist*/

.box_title{ font-weight:bold; color:#fff; text-align:left; padding:10px 0; margin:0 5px;}
#box ul{margin:0; padding:0 0 15px 0; overflow:hidden;}
#box li{ 
	width:16%; 
	float:left; 
	text-align:left;
	line-height:25px;
	font-size:14px;
	margin-left:0.8%;
}
#box li a:link{
	text-decoration:none;
	color:#66DFFF;
}
#box li a:active{
	color:#fe9002;
}
#box li a:visited{
	text-decoration:underline;
	color:#66009;
}
#box li a:hover{
	text-decoration:underline;
	color:#fe9002;
}
#input_text{ 
	width:40%;
}
#input_text_short{
	width:25%;
}

/*link*/

#box{ overflow:hidden; clear:both;}
.product_listing td{
	padding:0;
}
.product_listing_link{
    display: block;
    height: 40px;
    line-height: 40px;
	text-align:center;
    background: url(../images/design/box/product_listing_sort_01.gif);
}
.product_listing_link:hover{
    display: block;
    height: 40px;
    line-height: 40px;
	text-align:center;
    background: url(../images/design/box/product_listing_sort_02.gif) !important;
}

.product_listing a{
	color:#66DFFF;
}
.web-box{
	margin-bottom:25px;
}
#web-box .web{ line-height:22px;}
.web-box table{ margin-left:10px; line-height:22px;}
.web-box table td{ width:16%;}
.web-tit{
	font-size:14px;
	line-height:25px;
	font-weight:bold;
	margin-bottom:8px;
}
.web-tit a{ font-size:16px;}
.web-ico {
    background: url(../images/more_img.gif) left 6px no-repeat;
    display: block;
    float: left;
	width:16px;
}
.text_out{ font-size:14px; line-height:22px;}
.search_header{
	margin:20px 0;
}
.search_header table{
	width:100%;
}
#search_txt{ width:40%;}
.web_3{ width:100%; font-size:14px; line-height:22px;}
.web_title{ line-height:28px;}
.web_title a{ line-height:28px; font-size:16px;}
.search_head{ *margin:25px 0; clear:both; overflow:hidden;}
#fornt_pager{ line-height:25px; margin-top:15px;}
.web-box-middle{ margin-top:10px;}
.lc_attention{ line-height:22px;}
.web a{ font-size:14px;}
.back_button a:link, .back_button a:hover{ text-decoration:none;}