a:link{ 
	color:#66DFFF;
	text-decoration: underline;
	font-size:14px;
}
a:active{ 
	color:#fe9002;
	text-decoration: underline;
	font-size:14px;
}
a:visited{ color:#ce04e0; font-size:14px;}
a:hover{
	color:#fe9002;
	text-decoration: underline;
	font-size:14px;
}
.hm_line{
	background:url(../image/line.gif) repeat-y 0 top;
	float:right;
	height:200px;
	position: relative;
	top:-10px;
}
#hm-more{
	clear:both;
	text-align:right;
	padding:10px 0;
	margin-right:20px;
	letter-spacing:0;
    word-spacing:0;
}
.hm-hot{
	text-align:center;
	color:#fff;
		padding-bottom:5px;
}

