<div class="otherweb">
	<ul>
	<!--{section name=loopFrequentSpecial loop=$frequentSpecial}-->
		<!--{assign var="num"   value=$smarty.section.loopFrequentSpecial.index   }-->
		<!--{assign var="sites" value=$frequentSpecial[loopFrequentSpecial].sites }-->
		<!--{assign var="show"  value=$frequentSpecial[loopFrequentSpecial].show  }-->
		<!--{if $frequentSpecial[loopFrequentSpecial].class.name}-->
		<li class="o1"><div class="web_3_title"><!--{$frequentSpecial[loopFrequentSpecial].class.name}-->:</div></li>
		<li class="o2">
			<!--{section name=loopFrequentSpecialSite loop=$sites max=$show}-->
			<a href='<!--{$sites[loopFrequentSpecialSite].url}-->' target='_blank'><!--{$sites[loopFrequentSpecialSite].name}--></a>
			<!--{/section}-->
		</li>
		<li class="o3"><a href='<!--{url controller=site action=class id=$frequentSpecial[loopFrequentSpecial].class.class_id}-->'>一覧</a></li>
		<!--{/if}-->
	<!--{/section}-->
	</ul>
</div>
