RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]*)(\.html)?$ index.php/$1 [L]
# 处理 css 子目录和 images 子目录
RewriteRule ^.*/(Css/.+)$ $1 [L]
RewriteRule ^.*/(images/.+)$ $1 [L]
RewriteRule ^.*/(fckeditor/.+)$ $1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RedirectMatch 301 ^(.*)admin$ $1linkcheck.php

RewriteCond %{REQUEST_FILENAME} !-f
RedirectMatch 301 ^(.*)admin/$ $1linkcheck.php
