<!--{include file=Admin/header.html}-->
<div id="left">
<!--{include file=Admin/menu.html}-->
</div>
<div id="right">
	<div id="content">
		<ul>
			<li class="content-bg">
 				<div id="title"><h3><!--{_t key='submit_edit'}--></h3></div>
 				<form action='<!--{url controller=submit action=editDo}-->' method='post'>
				<table id="table-line">
					<tr>
						<td class="td1">
    					<!--{_t key='name'   }-->:
    					</td>
    					<td class="td2">
    					<input name='name' maxlength='30' value='<!--{$site.name}-->' />
    					</td>
    				</tr>
   					<tr>
    					<td class="td1">
    					<!--{_t key='url'    }-->:
    					</td>
    					<td class="td2">
    					<input name='url' maxlength='30' value='<!--{$site.url}-->' />
    					</td>
    				</tr>
   					<tr>
    					<td class="td1">
    					<!--{_t key='comment'}-->:
    					</td>
    					<td class="td2">
    					<input name='comment' maxlength='200' value='<!--{$site.comment}-->' />
    					</td>
    				</tr>
   					<tr>
    					<td class="td1">
   						<!--{_t key='class'  }-->:
   						</td>
    					<td class="td2">
						<select name='class'>
						<!--{$str_classes}-->
						</select>
    					</td>
    				</tr>
   					<tr>
    					<td class="td1">
   						<!--{_t key='order'  }-->:
   						</td>
    					<td class="td2">
   						<input name='order' maxlength='4' value='0' />
    					</td>
    				</tr>
   					<tr>
    					<td colspan="2" class="td-center">
    					<input type='submit' value='<!--{_t key=submit}-->' id="submit">
						<input type='hidden' value='<!--{$site.id}-->' name='submit_id'>
						</td>
					</tr>
				</table>
				</form>	
			</li>
		</ul>
	</div>
</div>
</body>
</html>
