.container {
	margin:0 auto;
	width:900px;
}
.web_3_top {
	width:100%;
}
.web_3_top h3 a{
	padding-left:10px;
	font-size:12px;
	font-weight:bold;
	color:#237023;
	background:url(../../../images/design/box/arrow_2.gif) no-repeat left center;
}
.boxes {
	background:#F2F2F2 url(../../../images/design/link.gif) no-repeat;
	padding:5px 10px;
	margin-bottom:5px;
}
.boxes h1 {
	background:url(../../../images/menu_ico.gif) no-repeat 20px center;
	color:#676565;
	font-size:12px;
	font-weight:bold;
	height:24px;
	line-height:24px;
	padding-left:40px;
}
.boxes h2 {
	background:url(../../../images/menu_ico.gif) no-repeat 20px center;
	color:#676565;
	font-size:12px;
	font-weight:bold;
	height:24px;
	line-height:24px;
	padding-left:40px;
}
.link_h1 img {
	vertical-align:middle;
}
.middle {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #DDDDDD;
	padding:5px;
}
.web_3_title strong {
	padding-left:10px;
	color:#237023;
	background:url(../../../images/design/box/arrow_2.gif) no-repeat left center;
}
.link a{
display:block;
line-height:14px;
}