<!--{include file=Admin/header.html}-->
<div id="left">
<!--{include file=Admin/menu.html}-->
</div>
<div id="right">
<div id="content">
<ul>
<li class="content-bg">
<!--{section name=loopName loop=$seo}-->
<!--{if $smarty.section.loopName.first}-->
<table class = "global">
<tr>
<th align="left"><!--{_t key=seo_action_name}--></th>
<th align="left"><!--{_t key=seo_url}--></th>
<th align="left"><!--{_t key=table_operate}--></th>
</tr>
<!--{/if}-->
<tr>
<td>
<!--{$seo[loopName].name}-->
</td>
<!--{if $seo[loopName].action eq 'class'}-->
<td>http://<!--{$host_url}--><!--{$seo[loopName].action}-->_id_(number).html</td>
<!--{else}-->
<td>http://<!--{$host_url}--><!--{$seo[loopName].action}-->.html</td>
<!--{/if}-->
<td>
<a href="<!--{url controller=setseo action=edit id=$seo[loopName].id}-->">
<!--{_t key=seo_edit}-->
</a>
</td>
</tr>
<!--{if $smarty.section.loopName.last}-->
</table>
<!--{/if}-->
<!--{/section}-->
</li>
</ul>
</div>
</div>
</body>
</html>
