<div class="welcome">
	<ul>
		<li>
			<h3><!--{_t key=welcome}--></h3><br>
			<!--{_t key='admin_index_msg'}-->
		</li>
		<li>
			<strong><!--{_t key='username'}--></strong>:<!--{$username}-->
		</li>
		<li>
			<strong><!--{_t key=total_class}--></strong>:<!--{$count_class}-->
		</li>
		<li>
			<strong><!--{_t key=total_site}--></strong>:<!--{$count_site}-->
		</li>
		<li>
			<strong><!--{_t key=total_each_site}--></strong>:<!--{$count_each_site}-->
		</li>
		<li>
			<strong><!--{_t key=total_submit}--></strong>:<!--{$count_submit}-->
		</li>
	</ul>
</div>


