<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang='ja' lang="ja">
<head>
	<link rel="stylesheet" type="text/css" href="images/class/pstyle.css" />
	<title><!--{_t key='user_admin'}--></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-script-type" content="javascript" />
	<script type="text/javascript" src="Script/manager.js" ></script>
	<script type="text/javascript" src="Script/jquery-1.4.2.js" ></script>
</head>
<body>
<div id="header">
	<h2><!--{_t key='user_admin'}--></h2>
</div>
<div id="msg">
	<ul>
		<li>
			<!--{include file=msg.html}-->
		</li>
	</ul>
</div>
