/* ---------------------------
文字装飾
--------------------------- */
H1 {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
H2 {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
H3 {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.bold {
	font-weight: bold;
}
.red {
	color: #C85050;
}
.line {
	width: 689px;
	background-image: url(images/design/contents/parcer_space.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-weight: bold;
	text-align: right;
	/*padding-left: 5px;*/
	padding-bottom: 5px;
	margin-top: 4px;
	margin-bottom: 10px;
}
.comment {
	margin: 10px;
}
/* ---------------------------
画像
--------------------------- */
img.middle {
	vertical-align: middle;
}
.dot {
	background-image: url(images/design/box/dot.gif);
	background-repeat: repeat-x;
}
/* ---------------------------
リスト
--------------------------- */
UL {
	list-style-type: square;
	list-style-position: inside;
}
UL UL {
	list-style-type: disc;
	list-style-position: inside;
}
UL UL UL {
	list-style-type: circle;
	list-style-position: inside;
}
.r_c_links_ul {
	padding: 0px;
	margin: 5px 10px;
}
.l_m_category_ul {
	font-family: Osaka, Verdana, Arial, sans-serif;
	list-style: none outside none;
	text-align: left;
	padding: 0px;
	margin: 0px;
}
.l_m_category_ul2 {
	font-family: Osaka, Verdana, Arial, sans-serif;
	list-style: none outside none;
	padding: 0px 0px 7px 0px;
	margin: 0px;
	background-color: #ECF0F4;
	background-image: url(images/design/box/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.l_m_category_ul3 {
	padding: 0px 0px 0px 20px;
	*+padding: 0px 0px 0px 0;
	*+margin-left:0px;
}
.l_m_category_li {
	font-size: 11px;
	line-height: 11px;
	color: #004080;
	padding: 7px 0px 7px 15px;
	margin: 0px;
	background-image: url(images/design/box/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.l_m_category_li2 {
	font-size: 11px;
	line-height: 11px;
	color: #004080;
	padding: 7px 0px 0px 15px;
	margin: 0px;
	background-image: url(images/design/box/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #ECF0F4;
}
.l_m_categories_tree {
	font-size: 10px;
	line-height: 10px;
	color:#004080;
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
.l_m_categories_tree img {
	width:12px;
	height:9px;
	vertical-align:top;
	margin-top:2px;
}
.l_m_categories_tree strong{
	display:inline-block;
	height:10px;
	margin:0 0 0 -5px;
	padding:0 0 0 5px;
}
.l_m_categories_tree strong a{
}
.l_m_categories_tree a{
	display:inline-block;
	width:130px;
	height:10px;
	margin-left:-5px;
}
.l_m_categories_tree3{
list-style-type:none;
}
.l_m_categories_tree3 a{
	width:100px;
}
.subcategory_tree {
list-style-type:none;
}
/* ---------------------------
ヘッダー
--------------------------- */
#title {
	text-indent: 15px;
	font-family: Osaka, Verdana;
	font-size: 9px;
	color: #2864B4;
	margin: 0px;
	padding: 0px 0px 1px 0px;
	text-align: left;
	width: 900px;
	height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #EEF2F7;
}
#header {
	text-align: left;
	width: 900px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.side_border {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
#header_Menu {
	height: 39px;
	background-image: url(images/design/header/navi_bg.jpg);
}
.header_Navigation {
	height: 21px;
	background-color: #EEF2F7;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}
.header_Navigation_p {
	line-height: 21px;
	text-indent: 15px;
	font-family: Osaka, Verdana;
	font-size: 11px;
	color: #2864B4;
	margin: 0px;
	padding: 0px;
}
.left_colum_border {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.right_colum_border {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.category_menu {
    font-family: Osaka, Verdana, Arial, sans-serif;
    font-size: 11px;
	background-color: #E5EBF2;
	border: 1px solid #B0BFCF;
	margin: 1px;
	padding-left: 1px;
}
.menu {
    font-family: Osaka, Verdana, Arial, sans-serif;
    font-size: 11px;
	line-height: 25px;
	padding-left: 15px;
	background-image: url(images/design/box/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
/* ---------------------------
ランキング
--------------------------- */
.bestseller_text {
    font-family: Osaka, Verdana, Arial, sans-serif;
    font-size: 10px;
	background-color: #E4ECF6;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.bestseller_img {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.bestseller_description {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	padding: 5px;
}
#contents {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
	/*padding-top: 17px;*/
	padding-right: 13;
	padding-left: 13;
	padding-bottom: 20px;
}
.contents {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	/*padding-top: 17px;*/
	padding-right: 13;
	padding-left: 13;
	padding-bottom: 20px;
}
/* ---------------------------
お知らせ
--------------------------- */
#news {
  text-align: left;
  /*padding-top : 12px;*/
  padding-bottom : 21px;
  width : 100%;
  height : 100px;
  scrollbar : yes;
  overflow:hidden;
  scrollbar-base-color: #ffffff;
  scrollbar-track-color: #ffffff;
  margin-top:5px;
}
.news_ul {
	padding: 0px;
	margin: 0px 10px;
}
.news_list {
    font-family: Osaka, Verdana, Arial, sans-serif;
    font-size: 11px;
	background-image: url(images/design/box/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding: 5px 0px;
	margin: 0px;
}
/*
#contents h2 {
	font-size: 14px;
	font-weight: normal;
	color: #516182;
}
*/
.categoryh2{
  font-family: Osaka, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #004080;
  line-height: 25px;
  padding-top: 0px;
  padding-left: 15px;
  margin-bottom: 0px;
}
.categories_tree {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 10px;
	color:#004080;
	background-color: #ECF0F4;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CBCBCB;
	border-left-color: #CBCBCB;
	padding-top: 2px;
	padding-left: 25px;
	padding-bottom: 2px;
}
/* ---------------------------
ページタイトル
--------------------------- */
.pageHeading {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #516182;
	margin-top: 17px;
	margin-bottom: 10px;
	background-image: url(images/design/contents/headding_title.gif);
	background-repeat: no-repeat;
	padding-left: 13px;
	/*width:518;*/
	height: 23px;
	line-height: 23px;
	/*padding-top: 3px;*/
}
.pageHeading_long {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #516182;
	margin-top: 17px;
	margin-bottom: 10px;
	background-image: url(images/design/contents/headding_title_long.jpg);
	background-repeat: no-repeat;
	padding-left: 13px;
	height: 23px;
	line-height: 23px;
	/*padding-top: 3px;*/
}
/* ---------------------------
フッター
--------------------------- */
#footer {
	width: 900px;
	font-size: 10px;
	text-align: center;
	padding: 5px 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #325082;
}
.contact_us_warpper{ clear:both;}
.tcol{ clear:both;}
.lcol{height:100%;clear:both; padding:5px; border:1px solid #ccc; overflow:hidden;}
.rcol{height:100%;clear:both; padding:5px; margin-top:5px; border:1px solid #ccc; overflow:hidden;}
.contact_left{ float:left;}
.contact_right{ float:left; padding-left:5px; width:420px;}
.contact_right h3{
	font-weight: bold;
}
.contact_right input{ float:right;}
.status_form{ clear:both;}
.status_warpper02{ clear:both;}
.status_warpper{height:100%; overflow:hidden;clear:both;padding:5px 10px;}
.status_warpper label{width:110px;float:left; padding:3px;}
.status_warpper input{ float:left;}
.button2{ float:right;}
.open_title{
	clear:both;
	font-size:12px;
	margin-bottom:5px;
}
.open_users{border:1px solid #CCCCCC;width:100%;font-size:12px;}
.open_users td{padding:2px;}
.open_users th{text-align:left; font-size:12px; font-weight:400;}
.open_tele{ color: #3399CC;}
.error{font-size:12px; color:#FF0000;}
#infomessage{
	font-weight: bold;
}
.login_inc{padding-bottom:5px;margin:0;}
#errormessage{ font-weight: bold; background-color:#F2F2F2; border:1px solid #E0E0E0; }
.open_login{border:1px solid #CCCCCC;width:100%;font-size:12px;}
.open_login td{padding:2px;}
.open_login th{text-align:left; font-size:12px; font-weight:400;}
.tickets_lout{font-size:12px; margin-bottom:5px;}
.tickets,.infotable{font-size:12px; margin-bottom:5px;border:1px solid #CCCCCC;}
.tickets td,.infotable td{padding:2px;}
.tickets th,.infotable th{ background-color:#F2F2F2; font-size:12px;}
.tickets th{
padding-left:3px;
}
#ticketthread{padding:5px; font-size:12px; margin-bottom:10px;margin-top:3px;}
#ticketthread table{border:1px solid #E0E0E0; text-align:left; margin-bottom:7px;}
.message{
font-size:12px;
}
.response{
font-size:12px;
}
.captcha_comment{ font-size:12px;}
.login_inc_button {
padding-top:5px;
text-align:center;
}
.msg{
font-size:12px;
margin-bottom:10px;
}
.button{
cursor:pointer;
}
.product_listing_content{
	margin:10px 5px;
	padding:5px;
	width:520px;
	
}