<div class="top">
<!--{$bread}-->
</div>
<!--{if $top_info}-->
<h1 class="link_h1"><!--{_t key=$top_info.h1}--></h1>
<div class="middle">
<div class="text_out">
<!--{if $top_info.time}-->
<!--{$top_info.time}-->
<!--{_t key=$top_info.text}-->
<!--{else}-->
<!--{_t key=$top_info.text}-->
<!--{/if}-->
</div>
</div>
<!--{else}-->
<h1 class="link_h1"><!--{_t key=text_out_h1}--></h1>
<div class="middle">
<div class="text_out">
<p>
<!--{_t key=text_out_p1}-->
</p>
<p>
<!--{_t key=text_out_p2}-->
</p>
<p>
<!--{_t key=text_out_p3}-->
</p>
</div>
</div>
<!--{/if}-->
<div class="bottom"></div>

<div class = 'search_header'>
<form action="<!--{url controller=site action=sitesearch}-->" method="post" 
onsubmit="return valsearch()" name="form1" id="form1">
<table><tr><td align="center">
▼ホームページ検索 
<input type="text" id="search_txt" class="sh-txt" name='word' />

  <select name="method">
    <option value="and" selected="selected">AND</option>
    <option value="or">OR</option>
  </select>
   <input type="submit" value=" 検 索 " /> 
</td></tr>
</table>
</form>
</div>
</div>

