@charset "utf-8";
/* CSS Document */
.demo{position:relative; dotted #d3d3d3;}

.note{position:absolute; margin-top:0; overflow:hidden; cursor:move; font-size:14px; line-height:22px; color:#39f;
	/* Adding a CSS3 shadow below the note, in the browsers which support it: */
	-moz-box-shadow:2px 2px 0 #DDDDDD;
	-webkit-box-shadow:2px 2px 0 #DDDDDD;
	box-shadow:2px 2px 0 #DDDDDD;
}
.note span{margin:2px; color:#666}
.user{font-size:12px; color:#666}

.yellow{background-color:#FDFB8C;border:1px solid #336699;}
.blue{background-color:#A6E3FC;border:1px solid #75C5E7;}
.red{background-color:#f63b3b;border:1px solid #ff0000;}

#add{height:36px; line-height:36px; text-align:right; margin-top:10px}
.popup_title{background:#e8f5fe; padding:4px; color:#000000;}
#note_form{padding:4px}
#note_form p{line-height:24px}
.input{border:1px solid #ccc; padding:2px}
.posttable td{line-height:24px; padding:2px}
#color li{float:left; width:20px; height:20px; margin-left:6px; cursor:pointer}
#color li.cur{border:1px solid #369}
.btn{width:68px; height:24px; background:url(images/btn_bg.gif) repeat-x; border:1px solid #9cf; cursor:pointer}
#msg{padding:2px; margin-left:10px; color:#f30}
.red{background:#f63b3b; color:#ff0000;}
ul { list-style:none;}
.note_close { float:right;}
.note_close input{ position:relative; float:left; margin-left:2px;}
textarea{ width:100%; position:relative; height:100%;}
.note_move input { float:right;}
.note_textarea{ margin:15px 15px 15px 10px; clear:both;}
