@charset "utf-8";
.print_innput input ,#data1 ,#bill_templates{ border:0!important;}
#data1{ font-weight:normal!important;}
.print_innput td{vertical-align:top!important;}
.link_print input{ border:0!important; background-color:#fff!important; font-size:13px!important;}
.link_print { margin:0 3px; background-color:#000!important;}
.link_print td{ font-size:13px!important;}
.data td{ background-color:#fff!important;}
.link_02 { margin:0 3px; background-color:#ccc!important;}
textarea{ border:0!important;}
.print_none input ,.print_none select{ display:none!important;}
.print_none a{ display:none!important;}
.link_01 a{display:none!important;}
textarea{ overflow-y:visible!important;}
/*.link_print td{ background-color:#fff!important; border:1px solid #000000!important;}*/
.print_none{ display:none!important;}
.print_none_info{ background-color:#000000!important;}
.print_none_info td{ background-color:#fff!important;}
.link_01 img{ display:block!important;}
.link_print02{ border:1px solid #000; text-align:right;}
#cost_display{ background-color:#fff!important; text-align:right!important;}
.input_print02 input{color:#0000FF!important;text-decoration: underline!important;
}
.input_print03 textarea{ vertical-align:top!important; margin:0!important;}
.input_print04 input{ vertical-align:bottom!important; margin:0!important; padding:0!important;}
.input_print08 textarea{ vertical-align:middle!important;}
.input_print01{ font-size:20px!important;}
#email{ display:none!important;}
#email_display{ border-bottom:1px solid #0000ff!important; display:block!important; color:#0000FF!important; width:1%!important;}