/*
	$Id$
*/
body {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
}
/* links */
/* ---------------------------
A：リンク（通常）
--------------------------- */
a img {
	border: 0;
	padding-bottom:16px;
	vertical-align:middle;
}
.infoBoxContent a img {
	vertical-align: top;
}
img {
	vertical-align:middle;
}
a:link {
	color: #000000;                                 /* フォントサイズ */
	font-weight: normal;                            /* フォント太さ */
/*	text-decoration: none; */                         /* テキストの装飾 */
}
/* ---------------------------
A：リンク（訪問済み）
--------------------------- */
a:visited {
	color: #000000;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：リンク（選択している）
--------------------------- */
a:active {
	color: #000000;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：リンク（カーソルが上に乗ったとき）
--------------------------- */
a:hover {
	color: #000000;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: underline;                     /* テキストの装飾 */
}
/* ---------------------------
A：ヘッダリンク（通常）
--------------------------- */
a.headerLink:link {
	color: #ffffff;                                 /* フォントカラー */
	font-weight: bold;                              /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：ヘッダリンク（訪問済み）
--------------------------- */
a.headerLink:visited {
	color: #ffffff;                                 /* フォントカラー */
	font-weight: bold;                              /* フォント太さ */
	text-decoration: none;
                          /* テキストの装飾 */
}
/* ---------------------------
A：ヘッダリンク（選択している）
--------------------------- */
a.headerLink:active {
	color: #ffffff;                                 /* フォントカラー */
	font-weight: bold;                              /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：ヘッダリンク（カーソルが上に乗ったとき）
--------------------------- */
a.headerLink:hover {
	color: #ffffff;                                 /* フォントカラー */
	font-weight: bold;                              /* フォント太さ */
	text-decoration: underline;                     /* テキストの装飾 */
}
/* ---------------------------
A：メニューボックスヘッダリンク（通常）
--------------------------- */
a.menuBoxHeading_Link:link {
	font-size: 11px;
	color: #000;                                 /* フォントカラー */
	font-weight: bold;                              /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：メニューボックスヘッダリンク（訪問済み）
--------------------------- */
a.menuBoxHeading_Link:visited {
	font-size: 11px;
	color: #000;                                 /* フォントカラー */
	font-weight: bold;                              /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：メニューボックスヘッダリンク（選択している）
--------------------------- */
a.menuBoxHeading_Link:active {
	font-size: 11px;
	color: #000;                                 /* フォントカラー */
	font-weight: bold;                              /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：メニューボックスヘッダリンク（カーソルが上に乗ったとき）
--------------------------- */
a.menuBoxHeading_Link:hover {
	font-size: 11px;
	color: #000;                                 /* フォントカラー */
	font-weight: bold;                              /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：メニューボックスコンテンツリンク（通常）
--------------------------- */
a.menuBoxContent_Link:link {
	font-size: 11px;                                /* フォントサイズ */
	color: #000;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：メニューボックスコンテンツリンク（訪問済み）
--------------------------- */
a.menuBoxContent_Link:visited {
	font-size: 11px;
	color: #000;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：メニューボックスコンテンツリンク（選択している）
--------------------------- */
a.menuBoxContent_Link:active {
	font-size: 11px;
	color: #000;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：メニューボックスコンテンツリンク（カーソルが上に乗ったとき）
--------------------------- */
a.menuBoxContent_Link:hover {
	font-size: 11px;
	color: #000;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: underline;                     /* テキストの装飾 */
}
/* ---------------------------
A：ページリンク（通常）
--------------------------- */
a.splitPageLink:link {
	color: #0000FF;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：ページリンク（訪問済み）
--------------------------- */
a.splitPageLink:visited {
	color: #0000FF;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：ページリンク（選択している）
--------------------------- */
a.splitPageLink:active {
	color: #0000FF;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: none;                          /* テキストの装飾 */
}
/* ---------------------------
A：ページリンク（カーソルが上に乗ったとき）
--------------------------- */
a.splitPageLink:hover {
	color: #0000FF;                                 /* フォントカラー */
	font-weight: normal;                            /* フォント太さ */
	text-decoration: underline;                     /* テキストの装飾 */
	background-color: #FFFF33;                      /* 背景色 */
}
/* menu box */
/* ---------------------------
.[TD]：メニューボックスコンテンツ
--------------------------- */
.menuBoxHeading {
	color: #000;                                 /* フォントカラー */
	background-color: #ffffff;                      /* 背景色 */
}
/* ---------------------------
.[TD]：メニューボックスコンテンツ
--------------------------- */
.menuBoxContent {
	color: #616060;                                 /* フォントカラー */
}
/* page */
/* ---------------------------
BODY：ボディ
--------------------------- */
body {
	background-color: #ffffff;                      /* 背景色 */
	color: #000000;                                 /* フォントカラー */
	margin: 0px;                                    /* マージン */
}
/* ---------------------------
.[TR]：ヘッダ（ナビゲーション）
--------------------------- */
.headerBar {
	background-color: #000000;                      /* 背景色 */
}
/* ---------------------------
.[TD]：ヘッダ（ナビゲーション）
--------------------------- */
.headerBarContent {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 11px;                                /* フォントサイズ */
	color: #ffffff;                                 /* フォントカラー */
	font-weight: bold;                              /* フォント太さ */
	padding:2px;                               /* 境界線と内容との間の空間 */
}
/* ---------------------------
.[TABLE]：メニューボックスを統括するテーブル
--------------------------- */
.columnLeft {
	background-color: #F0F1F1;                      /* 背景色 */
	border-color: #999999;                          /* 境界線の色 */
	border-width: 1px;                              /* 境界線の幅 */
	border-style: solid;                            /* 境界線のスタイル */
	padding: 2px;                                   /* 境界線と内容との間の空間 */
        display:none;
}
.leftmenu {
 padding:5px 0 0 5px;
}
/* ---------------------------
.[TD]：ページヘッダ
--------------------------- */
.pageHeading {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 18px;                                /* フォントサイズ */
	color: #727272;                                 /* フォントカラー */
	font-weight: bold;                              /* フォント太さ */
}
/* data table */
/* ---------------------------
.[TR]：一覧表の項目名（背景色）
--------------------------- */
.dataTableHeadingRow {
	background-color: #808080;                      /* 背景色 */
}
/* ---------------------------
.[TD]：一覧表の項目名（コンテンツ）
--------------------------- */
.dataTableHeadingContent {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 11px;
	color: #ffffff;                                 /* フォントカラー */
	font-weight: bold; 
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;                           /* フォント太さ */
}
/* ---------------------------
.[TR]：一覧表データ（通常行）
--------------------------- */
.dataTableRow {
	background-color: #F0F1F1;                      /* 背景色 */
}
.inv {
	background-color:#fff;
}
/* ---------------------------
.[TR]：一覧表データ（色違行）
--------------------------- */
.dataTableSecondRow {
	background-color: #E0E0E0;                      /* 背景色 */
}
.inv_second {
	background-color:#ccc;
}
/* ---------------------------
.[TR]：一覧表データ（選択行）
--------------------------- */
.dataTableRowSelected {
	background-color: #FFD700;                      /* 背景色 */
}
/* ---------------------------
.[TR]：一覧表データ（カーソルが乗っている行）
--------------------------- */
.dataTableRowOver {
	background-color: #FFCC99;                      /* 背景色 */
}
/* ---------------------------
.[TD]：一覧表データ（コンテンツ）
--------------------------- */
.dataTableContent {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;
	color: #000000;
                        /* フォントカラー */
}
.dataTableContent1 {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;
	color: #000000;                         /* フォントカラー */
	/* width:25%;*/
	/* bobhero edit width:5%;*/
	overflow:hidden;
	white-space:nowrap;
	
}
.dataTableContent2 {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;
	color: #000000;                         /* フォントカラー */
	/*width:4%;*/
	text-align:right;
	white-space:nowrap;
	
}
/*.dataTableContent2 input{
	float:left;
}*/
.dataTableContent2 span{text-align:center; padding-top:5px;
}
.dataTableContent3 {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;
	color: #000000;                         /* フォントカラー */
	/*width:6%;*/
}
.dataTableContent4 {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;
	color: #000000;                         /* フォントカラー */
	/*width:6%;*/
}
.dataTableContent5 {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;
	color: #000000;                         /* フォントカラー */
/*	width:11%;*/
}
.dataTableContent6 {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;
	color: #000000;                         /* フォントカラー */
/*	width:1%;*/
}
.dataTableContent_line {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; 
	font-size: 12px;
	color: #000000;
	text-decoration:underline;
}                   
/* info box */
/* ---------------------------
.[TR]：情報ボックス（タイトル） - 右側に表示される、一覧から選んだ項目の情報
--------------------------- */
.infoBoxHeading {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;                                /* フォントサイズ */
	color: #000000;                                 /* フォントカラー */
	background-color: #FFD700;                      /* 背景色 */
	padding-left:8px;                     

}
/* ---------------------------
.[TD]：情報ボックス（コンテンツ） - 右側に表示される、一覧から選んだ項目の情報
--------------------------- */
.infoBoxContent {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;                                /* フォントサイズ */
	color: #000000;                                 /* フォントカラー */
	background-color: #FFD700;                      /* 背景色 */
	padding-left:8px;                     
}
/* message box */
/* ---------------------------
.[TR]：メッセージボックス
--------------------------- */
.messageBox {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;
}
/* ---------------------------
.[TR,TD]：エラー、警告メッセージ
--------------------------- */
.messageStackError, .messageStackWarning {
	background-color: #ffb3b5;                      /* 背景色 */
}
/* ---------------------------
.[TR,TD]：成功メッセージ
--------------------------- */
.messageStackSuccess {
	background-color: #99ff00;                      /* 背景色 */
}
/* forms */
/* ---------------------------
CHECKBOX, INPUT, RADIO, SELECT, TEXTAREA, FILE：FORMの入力・選択項目
--------------------------- */
CHECKBOX, INPUT, RADIO, SELECT, TEXTAREA, FILE {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 11px;
}
/* account */
/* ---------------------------
.[TABLE]：フォームエリア（境界線）
--------------------------- */
.formArea {
	background-color: #f1f9fe;                      /* 背景色 */
	border-color: #7b9ebd;                          /* 境界線の色 */
	border-style: solid;                            /* 境界線のスタイル */
	border-width: 1px;                              /* 境界線の幅 */
}
/* ---------------------------
.[TD]：フォームエリア（タイトル）
--------------------------- */
.formAreaTitle {
	font-size: 12px;                                /* フォントサイズ */
	font-weight: bold;                              /* フォント太さ */
}
/* attributes */
/* ---------------------------
TR：奇数行
--------------------------- */
.attributes-odd {
	background-color: #f4f7fd;                      /* 背景色 */
}
/* ---------------------------
TR：偶数行
--------------------------- */
.attributes-even {
	background-color: #ffffff;                      /* 背景色 */
}
/* miscellaneous */
/* ---------------------------
.[SPAN]：特価商品価格
--------------------------- */
.specialPrice {
	color: #ff0000;                                 /* フォントカラー */
}
/* ---------------------------
.[SPAN]：旧商品価格
--------------------------- */
.oldPrice {
	text-decoration: line-through;                  /* テキストの装飾 */
}
/* ---------------------------
.[SPAN]：「*必須」文字列
--------------------------- */
.fieldRequired {
	color: #ff0000;                                 /* フォントカラー */
}
/* ---------------------------
.[TD]：小さい文字（メッセージ）
--------------------------- */
.smallText {
	font-size: 10px;                                /* フォントサイズ */
}
/* ---------------------------
.[TD]：メイン
--------------------------- */
.main {
	font-family: "ＭＳ Ｐゴシック", Osaka, Verdana, Arial, sans-serif; /* フォントファミリ */
	font-size: 12px;                                /* フォントサイズ */
}
legend {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
#tep_site_filter {
	/*width:100%;*/
  width: 63%;/*float: left;*/
}
#order_icons {
	/*float: right;*/
  text-align: right;
	width: 63%;
}
#order_icons span {
}
#order_icons .order_icons_selected {
	background: red;
}
#tep_site_filter span {
	/*width:30px;*/
  /*height:25px;*/
  padding: 0 5px;
	background: #ddd;
	color: #000;/*display: block;*/
}
#tep_site_filter .site_filter_selected {
	color: #fff;
	font-weight: bold;
	background: #e42e2e;
}
#tep_site_filter .site_filter_selected a {
	color: #fff;
	font-weight: bold;
}
.readonly {
	background: #ccc;
}
.cleate_add {
	width:120px;
	padding:5px;
	background:#E0E0E0;
}
.cleate_main {
	padding:5px;
	background:#F0F1F1;
}
.change_one_list {
	font-size:12px;
	display:block;
	margin:10px 0;
	padding:0;
	overflow:hidden;
}
.change_one_list_main {
	display:block;
	float:left;
	width:210px;
}
.dataTableHeadingRow b {
	font-size:17px;
}
.history_img {
	width:120px;
}
.add_link {
	clear:both;
}
.search_class {
	margin-top:10px;
}
.search_class_td {
	font-size:12px;
	font-weight:bold;
}
#orders_flag {
	border-top: 1px solid #000;
}
.orders_flag_checked {
	color: #fff;
	background: #ff0000;
	font-size:12px;
	cursor:pointer;
	border: 1px solid #000;
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	font-weight:bold;
}
.orders_flag_unchecked {
	color: #000;
	background: #fff;
	font-size:12px;
	cursor:pointer;
	border: 1px solid #000;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	font-weight:bold;
}
#orders_info {
	margin-bottom: 10px;
	background: #f0f1f1;
}
#orders_client {
	margin-bottom: 10px;
	background: #f0f1f1;
}
#orders_referer {
	margin-bottom: 10px;
	background: #f0f1f1;
}
#orders_history {
	margin-bottom: 10px;
	background: #f0f1f1;
}
#orders_comment {
	margin-bottom: 10px;
	text-align:center;
	background: #f0f1f1;
}
#orders_answer {
	margin-bottom: 10px;
	background: #f0f1f1;
}
#orders_credit {
	margin-bottom: 10px;
	background: #f0f1f1;
}
#orders_telecom {
	margin-bottom: 10px;
	background: #f0f1f1;
}
h3 {
	height:15px;
	background:#888;
	font-size:11px;
	color:#fff;
	margin:0;
	line-height:15px;
	padding-left:2px;
	text-align:left;
}
.orders_computer_checked {
	color: #fff;
	background: #ff0000;
	font-size:12px;
	cursor:pointer;
	border: 1px solid #000;
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	font-weight:bold;
	text-align:center;
}
.orders_computer_unchecked {
	color: #000;
	background: #fff;
	font-size:12px;
	cursor:pointer;
	border: 1px solid #000;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	font-weight:bold;
	text-align:center;
}
.questions_date {
	border: 0;
	background: #f0f1f1;
}
.list_type span {
	padding: 0 5px;
	background: #ddd;
	color: #000;
}
.list_type .site_filter_selected {
	color: #fff;
	font-weight: bold;
	background: #808080;
}
.monitor_error {
	opacity:0.8;
	position:absolute;
	background:#F1F1F1;
	border:1px solid #999999;
	filter:alpha(opacity=80);
}
.error_monitor {
	color:#ff0000;
	font-weight:bold;
}
.relate_product_link:hover {
	text-decoration:none;
}
.new_product_reset img {
	vertical-align:top;
}
.inventory_table td {
	font-size:12px;
}
.inv_refresh {
	float:right;
}
.smallText a img {
	vertical-align:top;
}
.right_column01 {
/*	padding-top:14px;
*padding-top:12px;*/
}
.t_link01 {
	display:block;
	text-align:center;
	border-bottom:1px inherit #999;
}
.categories_input01 input {
	width:500px;
}
.categories_textarea01 textarea {
	width:500px;
}
td.menu01 {
	background:lightblue
}
.menu01 a{ text-decoration:underline; color:#00FF00;}
table.menu01 {
	font-size:100%;
	position:absolute;
	visibility:hidden;
}
#tutorials td {
	background:#000;
	padding:1px;
}
#tutorials td a {
	color:#fff;
	font-weight:bold;
	padding:2px 7px;
	text-decoration: underline;
}
#tutorials td a:hover {
	color:#000;
	text-decoration:none;
	background:#ffd700;
}
#ordermenu td {
	background:#000;
	padding:1px;
}
#ordermenu td a {
	color:#fff;
	font-weight:bold;
	padding:2px 5px;
}
#ordermenu td a:hover {
	color:#000;
	text-decoration:none;
	background:#ffd700;
}
#redirecturl td {
	background:#000;
	padding:1px;
}
#redirecturl td a {
	color:#fff;
	font-weight:bold;
	padding:2px 7px;
}
#redirecturl td a:hover {
	color:#000;
	text-decoration:none;
	background:#ffd700;
}
#orders_history h3 a{
color:#fff;
font-weight:bold;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
a.headerLink{
-webkit-text-size-adjust:none;
font-size:10px;!important;
}
}
.order_link{
	text-decoration: underline;
}
.order02_link a{text-decoration: underline;}


/*print*/
.data_table{ width:100%; margin:0 auto;}
.link_02 ,.link_03 ,.link_04,.link_05,.link_06,.link_07,.link_08,.link_09{ background-color:#ccc; color:#000; font-size:18px; font-weight:bold;}
.link_01 { background-color:#fff; color:#000; font-size:18px;}
.data_table td{ font-size:16px;}
.link_01 a{ color:#FF0000;}
.input_print01{ font-size:23px; color:#000000;  text-align:center; overflow:hidden; display:block;}
.link_03{padding:2px; border-top:none; border-right:none;font-size:13px; float:left;}
#data10{ overflow:hidden;}
#cost_print{ width:132px; margin:0 0 0 30px; text-align:right; float:left;}
#cost_print02{ float:left;}
#email_display{ display:none;}
.text_x{ width:100%;overflow:hidden;}
.text_x1{ height:19px; width:503px; /*float:left;*/}
.text_x2{ width:53px; font-size:15px; border-left:1px solid #000000;  border-bottom:1px solid #000000; border-right:1px solid #000000; background-color:#ccffff; /*float:left;*/ }
.text_x3{ width:90px; border-bottom:1px solid #000000; border-right:1px solid #000000; font-size:16px; /*float:left;*/ margin:0;} 
.price input{width:53px; display:block;}
.price span{width:53px; display:none;}


/*categories_tree*/
#gotomenu{ position:relative; }
#categories_tree {
display:none;
/*	width:100%;*/
	position: absolute;
	width:900px;
	background-color:#000;
	top:12px;
	right:0;
	z-index:180;
	border:1px solid #000;
}
.subcategory_tree_info{
	margin-left:-10px;
	*margin-left:10px;
/*	*margin:0 0 8px 0;*/
margin-bottom:15px\9;
}
#categories_tree li{
	padding:0;
	margin:0;
/*	margin:5px;
	*margin:0;*/
	margin:0 5px\9;
	text-align:left;
	color:#FFFFFF;
	list-style-type:none;
}
.subcategory a{
	padding:0;
	margin:5px;
	*margin:0px;
	text-align:left;
	color:#FFFFFF;
	display:block;
	padding-left:10px;
	background:url(/images/design/circle.gif) left 3px no-repeat;
}
.tdul{ padding:0; margin:0;/* border:1px solid #ff0000;*/}
.tdul li{ padding:0; margin:0;}
#categories_tree li a{ color:#fff;}
#categories_tree li a:hover{ color:#FFD700;}
.subcategory_tree_info li{ margin:0; padding:0;
}
.subcategory_tree{
	margin:10px 0;
	*margin-top:-8px!important;
	margin:5px\9;
}
#categories_tree li .subcategory_tree{list-style-type: none;}
.dataTableHeadingContent_pw a{ color:#FFFFFF; text-decoration:none; font-weight:bold;}
.pw_textarea{ width:97%;}

.popup-calendar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #000000;
    color: #000000;
    display: none;
    overflow:hidden;
    padding: 4px;
    position:absolute;
    width: 163px;
    z-index: 9;
}
a.date-picker {
    background: url(calendar.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    height: 16px;
    margin: 0;
    overflow:hidden;
    padding: 0;
    width: 16px;}
div.date-picker-holder input {
    float: left;
}
/*.date-picker-holder, div.date-picker-holder * {
    margin: 0;
    padding: 0;
	float:left;
}
*/	

/*  szn add managermenu */
#managermenu td{
	background-color:#000;
	padding:1px;
}
#managermenu td a {
	color:#fff;
	font-weight:bold;
	padding:2px 5px;
}
#managermenu td a:hover {
	color:#000;
	text-decoration:none;
	background:#ffd700;
}

#categories_tree li .current_link {
    color: #663399;
}
.gotomenu_out_div{ float:right; font-size:10px;}
.datatablecontent_warpper{
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
width:60px;
}
.datatablecontent_warpper02{
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
}
.datatablecontent_warpper03{

}
.button_save input{ vertical-align:bottom;}
.new_pwmanager{ text-align:right; width:100%;}
