/*body*/
a:link{ 
	color:#66DFFF;
	text-decoration: underline;
	font-size:14px;
}
a:active{ 
	color:#fe9002;
	text-decoration: underline;
	font-size:14px;
}
a:visited{ color:#ce04e0; font-size:14px;}
a:hover{
	color:#fe9002;
	text-decoration: underline;
	font-size:14px;
}
.hm_line{
	background:url(../images/line.gif) repeat-y 0 top;
	float:right;
	height:200px;
	position: relative;
	top:-10px;
}
#hm-more{
	clear:both;
	text-align:right;
	padding:10px 0;
	margin-right:20px;
	letter-spacing:0;
    word-spacing:0;
	font-size:14px;
}
.hm-hot{
	text-align:center;
	color:#fff;
		padding-bottom:5px;
}
body{ background-color:#0E3E68;}
td,th{ border:0; padding:2px; font-size:14px;}
/*header*/
#header{
	background:#0E3E68 url(../images/header_bg.gif) repeat-y center 0;
	width:100%;
	min-width:900px;
	overflow:hidden;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
}
#header-top{
	height:46px;
	background-color:#000;
	width:100%;
	min-width:900px;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
}
#business-hour{
	color:#fff;
	line-height:21px;
	font-size:14px;
	min-width:900px;
	width: expression(document.body.clientWidth < 342? "342px": "100%" );
}
#business-hour span{
	float:left;
	text-align:left;
}
#business-hour h1{
	padding-top:3px;
}
#business-hour img{
	float:left;
}
#logo{
	position:absolute;
	*position:relative!important;
	z-index:121;
	top:0;
	text-align:center;
	width:33.3333%;
	min-width:300px;
	width: expression(document.body.clientWidth < 342? "342px": "33.3333%" );
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#logo{
	position: absolute;
	z-index:121;
	top:0;
	text-align:center;
	width:33.3333%;
	min-width:300px;
	width: expression(document.body.clientWidth < 342? "342px": "33.3333%" );}
}
#logo a{
	display:block;
}
/*#logo a:hover{
	background:url(../image/logo_hover.gif) no-repeat;
	height:219px;
}
*/
#out_id{
	background:url(../images/seach_bottom04_bg.gif) repeat;
	/*background-color:#031F31;
    filter:Alpha(opacity=60);
	background:rgba(3, 31, 49, 0.5);
	border:1px solid #1D4E88;*/
	padding:15px;
	position:absolute;
	right:3%;
	top:178px;
	z-index:100;
	line-height:25px;
	font-size:14px;
}
#out_id a:link{
	background:url(../images/login_list.gif) no-repeat 0 5px;
	padding-left:10px;
	color:#66DFFF;
	text-decoration: none;
	display:inline;
}
#out_id a:active{color:#fe9002; background:url(../images/login_list.gif) no-repeat 0 5px; padding-left:10px}
#out_id a:visited{
	color: #ce04e0;
	background:url(../images/login_list.gif) no-repeat 0 5px;
	padding-left:10px
}
#out_id a:hover{
	color: #fe9002;
    text-decoration: underline;
	background:url(../images/login_list.gif) no-repeat 0 5px;
	padding-left:10px
}
#out_id li{
	background:url(../images/logo-out.gif) no-repeat;
}
#header-nav{
	width:100%;
	background:url(../images/header_nav.png) no-repeat center 0;
	height:155px;
	*height:176px;
	padding-top:20px;
	min-width:900px;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
}
#header-payment{
	float:right;
	*margin-top:-46px;
}
#header-payment img{
	float:right;
}
#header-nav ul{
	padding:0;
	margin:0;
	width:100%;
	display:inline-block;
}
#header-nav li{
	float:left;
	text-align:center;
	list-style-type: none;
}
#header-nav li img{
	float:left;
	text-align:center;
	display:block;
	*margin-left:8px;
}
#header-nav li span{
	width:80px;
	display:block;
	text-align:center;
	clear:both;
	padding-top:12px;
	margin-left:-5px;
}
.space-1-7{
	margin-left:6.5%;
	width:6%;
	z-index:121;
	position:relative;
}
.space-5-7{
	margin-left:6%;
	width:6%;
	z-index:125;
	position:relative;
}
.space-2-7,.space-3-7,.space-6-7{
	margin-left:6%;
	width:6%;
	z-index:121;
	position:relative;
}
.space-7-7{
	margin-left:6.5%;
	width:6%;
	z-index:121;
	position:relative;
}
.space-4-7{
	margin:0 6.5% 0 6%;
	width:7%;
	z-index:121;
	position:relative;
}
#header-nav li a{
	text-decoration:none;
	color:#66DFFF;
}
#header-nav li a:hover{
	/*color:#CB6C27;*/
	text-decoration: underline;
	color:#fdb64c;
	font-weight:bold;
}
/*current*/
#current{
	margin-left:48px;
	letter-spacing:0;
	word-spacing:0;
	color:#fff;
	text-align:left;
	position:relative;
	z-index:99;
	line-height:24px;
	font-size:14px;
}
#current img{ text-align:center; vertical-align:middle; margin:0 10px;}
#current a:link{ line-height:24px; font-size:14px; color:#66DFFF;}
#current a:active{color:#fe9002;}
#current a:visited{ color:#ce04e0;}
#current a:hover{ color:#fe9002;}

/*main*/
#main{
	width:100%;
	background:#0E3E68 url(../images/header_bg.gif) repeat-y center top;
	min-width:900px;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
	overflow:hidden;
}
#layout {
	background:url(../images/header_nav_bottom.png) no-repeat center top;
	overflow:hidden;
	*display:inline-block;
	width:100%;
	text-align:center;
	padding:5px 0;
}
.main-columns{
	background:url(../images/black_bg.gif);
	width:100%;
	min-width:900px;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
	padding-bottom:15px;
}
/*.main-columns a:hover{
	color:#00FFFF;
}
*/
.main-columns-img{
	position:relative;
	top:-45px;
	text-align:center;
	/*margin-left:39%;*/
	z-index:105;
}
#main-product-img{
	position:relative;
	top:-45px;
	margin-left:2%;
	z-index:105;
}
.main-columns h2{
	color:#fff;
	padding:10px 0 4px 0;
	text-align:center;
	margin-top:-45px;
	font-size:18px;
}
.main-columns h3{
	color:#fff;
	background:url(../images/mainunder_title.gif) repeat-x;
	height:41px;
	text-align:center;
	letter-spacing: normal;
    word-spacing: normal;
	padding:0;
	margin:0;
}
.main-columns h3 span{
	background:url(../images/mainunder_title02.gif) repeat-x;
	height:41px;
	padding:0 20px;
	line-height:27px;
	font-size:18px;
}
.main-columns ul{
	overflow:hidden;
	line-height:25px;
	list-style-type: none;
	margin-left: 2em;
}
.main-columns li{
	color:#94969D;
	font-size:14px;
	clear:both;

}
.main-columns li span{
	float:left;
}
.main-news{ 
	float:left;
	display:block;
	white-space:normal;
	width:52%;
}
.hm-detail,.hm-detail-last{
	text-align:left;
	font-size:14px;
	color:#fff;
	line-height:24px;
	padding: 0.5em 2em;
	overflow:hidden;
	height:720px;
}
.hm-product-content{
	text-align:left;
	font-size:14px;
	color:#fff;
	line-height:24px;
	padding: 0.5em 2em;
	overflow:hidden;
	letter-spacing:0;
    word-spacing:0;
	/*margin-top:-36px;*/
}
.no-title-class{ margin-top:-36px;}
.hm-product-title{
	font-size:18px;
	color:#ffffff;
	text-align:left;
	line-height:24px;
	padding: 0.5em 2em;
	overflow:hidden;
	letter-spacing:0;
    word-spacing:0;
	font-weight:bold;
	margin-top:-36px;
}
.hm-product-text{
	text-align:left;
	font-size:14px;
	color:#fff;
	line-height:24px;
	padding: 0.5em 2em;
	overflow:hidden;
	letter-spacing:0;
    word-spacing:0;
	margin-bottom:50px;
}
.hm-detail{
	border-right:1px solid #55565A;
}
#main-content{
	/*width:80%;*/
	
	margin:10px 6%;
	clear:both;
	padding:10px 15px;
	text-align:left;
	overflow:hidden;
	color:#fff;
	position:relative;
	z-index:90;
	background:rgba(22, 55, 94, 1.0) none repeat scroll 0 0 !important;
    /*filter:Alpha(opacity=90);*/
	background-color:#16375E;
	min-height:200px;
	font-size:14px;
}
#main-content p{
	font-size:14px;
}
#main-content table{
	color:#fff;
	margin-bottom:10px;
}

#main-content h2,#main-content h1{
	background-color: #466886;
    border: 1px solid #466886;
    color: #FFFFFF;
    letter-spacing: 0;
    word-spacing: 0;
	padding-left:5px;
	margin-bottom:3px;
	line-height:18px;
	font-size:18px;
}
#main-content h3{
	color: #fff;
	font-size:18px;
	/*padding:2px 5px;*/
	position:relative;
	z-index:103;
/*	background:url(../image/main_conten_h3.gif) no-repeat 0 15px;*/
	padding:9px 0 8px 0;
	overflow:hidden;
}
#main-content h4{
	color:#fff;
	font-size:14px;
	padding:2px 5px;
	position:relative;
	z-index:103;
	border-bottom:1px solid #114E85;
}
#main_box{
	width:100%;
	min-width:900px;
	display:inline-block;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
}
#main_box span img{
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
#main_box span img:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.product-list{
	color:#fff;
	clear:both;
	padding:5px;
	line-height:22px;
}
.product-list img{ float:left; margin-right:5px;}
#product-box{
	float:left;
	line-height:22px;
	display:block;
	*height:150px;
	margin-right:2%;
	margin-bottom:35px;
	margin-top:0;
}
#product-box td{ padding:0 3px;}
#description{
	clear:both;
	color:#fff;
	padding:10px 5px;
	overflow:hidden;
}
#product-detail{ 
	width:99%;
	margin:0 5px;
	letter-spacing:0;
    word-spacing:0;
	background-color:#16375E
}
#product-detail td{ border:0; color:#fff; padding:0.5em 0;}
#product-detail tr{
	border-bottom:1px dashed #4E7AB3;
}
.roll{ text-align:left;}
.roll span{ float:left;}
.roll_number{
	overflow:hidden;
}
.roll_number input{
	width:33px;
	float:left;
}
.roll_number img{
	float:left;
}
#shoping-cart{
	text-align:center;
	margin:15px 5px;
}
#shoping-cart img{
	margin-right:15px;
}
#detail-table{
	width:100%;
	background-color:#466886;
	margin:15px 0 5px 0;
}
#detail-table td{
	background-color:#16375E;
	color:#fff;
	letter-spacing:0;
    word-spacing:0;
	font-size:14px;
	padding:0 8px;
}
#detail-table th{
	background-color:#466886;
	border:1px solid #466886;
	color:#fff;
	letter-spacing:0;
    word-spacing:0;
	
}
#detail-table-noframe{
	width:100%;
	/*margin: 0 15px 20px 5px;*/
}
#detail-table-noframe td{
	color:#fff;
	letter-spacing:0;
    word-spacing:0;
}
#detail-table-noframe th{
	color:#fff;
	letter-spacing:0;
    word-spacing:0;
	
}
#detail-div{
	width:99%;
	margin:0 auto;
	padding:0 5px;
	overflow:hidden;
}
#detail-div table{ margin:10px 0;}
#detail-div-number{float:right; width:100%;}
#detail-div-number select ,#detail-div-number input ,#calculation{ float:left; margin-right:3px;}
#detail-div-number p{margin:10px 0;font-weight:bold;}
#calculation{ padding:0; /*margin:-4px 0 5px 0;*/ margin:8px 0 2px 0;}
#calculation span{ float:left;margin:12px 0 0 0;}
.calculation-add{ float:left; margin-top:5px;}
.calculation-add a{ float:left; margin-right:3px;}
#calculation-add{ float:left; margin-top:11px;}
#calculation-add a{ float:left; margin-right:2px;}
#calculation-bottom{ float:right; margin-left:15px; margin-right:-5px;}
#quantity{padding-top:2px;margin-top:10px; text-align:right;}
#detail-ul{clear:both; float:right; width:100%; width: expression(document.body.clientWidth < 900? "900px": "100%" ); display:block;}

#detail-ul li{ float:right; margin-left:10px;}
#detail-ul li img{ margin-right:5px;}
#detail-div{ color:#fff;}
.botton-continue{ 
	/*float:right; */
	margin-top:30px;
}
/*seach*/

#main-seach{
	height:61px;
	width:741px;
	text-align:center;
	margin:5px auto 0 auto;
}
#main-seach input{
	float:left;
}
#seach-content{
	background:url(../images/seach_left.png) no-repeat;
	border:0;
	width:259px;
	height:60px;
	font-size:18px;
	line-height:60px;
	font-weight:bold;
	color:#8B8B8B;
	padding-left:50px;
}
#seach-bottom{
	float:left;
	background:url(../images/seach_bottom.png) no-repeat;
	width:97px;
	height:60px;
}
#seach-bottom:hover{
	float:left;
	background:url(../images/seach_bottom_hover.png) no-repeat;
	width:97px;
	height:60px;
}
#game-preview{
	margin-left:40px;
	background:url(../images/seach_right.png) no-repeat;
	width:295px;
	height:74px;
	float:left;
	position:relative;
	z-index:90;
	top:1px;
}
.seach-close{
	position: absolute;
	right:0;
	z-index:90;
	top:0;
	_top:43%;
}

/*shopping_cart*/
#cart-shopping-h2{
	padding:10px 0;
}
.shopping_cart_continue {
    background: url(../includes/languages/japanese/images/buttons/button_continue_shopping.gif) no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 45px;
    padding: 0;
    width: 224px;
	margin-right:5%;
}
.shopping_cart_continue:hover {
    background: url(../includes/languages/japanese/images/buttons/button_continue_shopping_hover.gif) no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 45px;
    padding: 0;
    width: 224px;
	margin-right:5%;
}

.shopping_cart_checkout {
    background: url(../includes/languages/japanese/images/buttons/button_shipping_checkout.gif) no-repeat;
    border: 0 none;
    cursor: pointer;
    height:45px;
    padding: 0;
    width:196px;
	 margin-left:5%;
}
#shopping_cart_continue{ width:45%; padding:10px 0;}
#shopping_cart_checkout{ width:45%; padding:10px 0;}
.roll_add{ float:left; margin-top:-6px;}
#detail-table .input_text_short{ float:left; width:32px; text-align:right;}
.roll_company{ float:left;}
.roll_price{ float:left;}
.roll_warp{ padding:5px;}
.checkout_s_link{ margin-top:10px;}
.checkout_s_link table{ margin:0;}
.checkout_s_link td{ padding:0;}
.checkout_s_link img{ vertical-align:middle;}
.checkout-title{ float:left; margin-top:5px;}
.checkout-bottom{ float:right; margin:5px 0;}
.checout_confirmation_table{
	border:1px solid #577C9D;
	margin-bottom:5px;
}
.checkout-conent{ clear:both; margin:0 7% 35px 7%; position:relative;}
.checkout-conent ul{ padding:0 0 0 20px;}
.checkout-conent li{
	list-style-type: square;
	margin-left:15px;
}
.checkout-conent table{ line-height:25px;}
.checkout-list{ clear:both; margin:15px 0; overflow:hidden;}
.checkout-list img{ float:left; margin-right:5px;}
.frame_w70{ float:left; display:block;}
.box_content_title{ margin:35px 0 8px 0; clear:both; overflow:hidden; _height:22px;}
.box_content_text{ padding-left:10px; width:90%;}
.payment-content input{ float:left; margin-right:8px;}
.txt_input_box{ clear:both;}
.txt_input_box div{ 
	float:left;
}
.frame_title{ width:30%; line-height:25px;}
.float_left { width:70%;}
.input_title{ width:70%;}
.input_title input{ width:40%;}
.cp_content{ overflow:hidden;}


/*Decoration*/
#float-box{
	background:url(../images/money.png) no-repeat center bottom;
	width:100%;
	margin:0 auto;
	float:left;
	position: relative;
	bottom:0;
	border-bottom:1px solid #59A9E4;
	height:134px;
}
#l-box{
	/*background:url(../image/header_left_flower_bg.png) no-repeat left bottom;*/
	float:left;
	position:relative;
	/*top:-266px;*/
	top:-263px;
}
#r-box{
	/*background:url(../image/header_right_flower_bg.png) no-repeat right bottom;*/
	float:right;
	position:relative;
	top:-263px;
}
/*footer*/

#footer{
	border-top:1px solid #515256;
	background-color:#111216;
	font-size:14px;
	overflow:hidden;
	width:100%;
	min-width:900px;
	letter-spacing:0;
	width: expression(document.body.clientWidth < 900? "900px": "100%" );
}
.footer_links{ color:#fff;word-spacing:0;}
#links,#footer-nav{
	text-align:center; 
	color:#fff;
	padding:10px 0;
	word-spacing:0.2em;
}
#footer p{ text-align:center; color:#94969D; font-size:14px; padding:0; margin:0;}


/*tab*/
#product-switching{ position:relative ; margin:10px 6%; text-align:left; color:#fff; top:0;}
.waring_product{ border:3px solid #ff0000; padding:5px;}
.waring_category{ margin-bottom:10px; border:3px solid #ff0000; padding:5px;}
#product-switching h1{ font-size:14px;}
#product-switching div{ font-size:14px;}
#product-switching h2{ font-size:16px;}
/*gamelist*/

/*#gameid{
	margin:0 10px 10px 10px;
	background:rgba(22, 55, 94, 0.8) none repeat scroll 0 0 !important;
	background-color:#16375e\9;
	opacity:0.8\9;
	overflow:hidden;
	padding:5px 0;
}*/
#gameid{
	background:url(../images/seach_bottom04_bg.gif);
	overflow:hidden;
	padding:15px;
	clear:both;
	position:relative;
	top:-14px;
	_z-index:0;
	_padding:0;
	_clear:none;
	_position:inherit;
	_top:0;
}
.box_title{ font-weight:bold; color:#fff; text-align:left; padding:10px 0; margin:0 5px;}
#box{ z-index:90;}
#box ul{margin:0 5px; padding:8px; overflow:hidden; width:100%;}
#box li{ 
	width:19%; 
	float:left; 
	text-align:left;
	line-height:25px;
	font-size:16px;
	margin-left:1%;
	height:25px;
}
#box li a:link{
	text-decoration:none;
	color:#66DFFF;
}
#box li a:active{
	color:#fe9002;
}
#box li a:visited{
	text-decoration:underline;
	color:#66009;
}
#box li a:hover{
	text-decoration:underline;
	color:#fe9002;
}
.news_date{ 
	float:left;
	margin-right:6%;
}
.latest_news_link_red{
	float:left;
	width:66%;
}
.latest_news_link{
	float:left;
	width:66%;
}
.latest_news_link_red a{
	color:#FF0000;
}
.latest_news_link_red a:hover{
	color:#00ffff;
}
#guestchk,#newsletter{margin-bottom:5px;}
#input_text{ 
	width:40%;
	float:left;
}
.input_text{ 
	width:40%;
}
#input_text_short{
	width:25%;
}
/*checkout*/
.hm-hot-product{ height:93px; overflow:hidden;}
#hm-hot-category{height:50px; overflow:hidden;}
#hm-payment{background-color:#577C9D; overflow:hidden; padding:0 5px; height:20px;}
#preorder_payment{background-color:#577C9D; overflow:hidden; padding:0 5px; height:20px; font-size:18px;}
#hm-checkout-warp{ border:2px #577C9D solid; overflow:hidden; padding:5px; margin:5px 7%; _height:60px;}
.hm-payment-top-left{ float:left;}
.hm-payment-left{ 
	float:left;
	background:url(/images/more_img.gif) left center no-repeat;
	padding-left:10px;
}
.hm-payment-left b{ font-size:18px;}
.hm-payment-right{ float:right;}
.hm-payment-right input{ margin-right:19px;}
#hm-account-history table{ margin:0;}
#hm-notifications{ margin-top:10px;}

.subcategory_tree{margin:10px 0 25px 20px}

/*banner-index.css*/
#dHomePageCarousel { 
	width:100%;
	position:relative;
	margin:0 auto;
	top:150px;
}
#dLocalHomesCarousel {
	height:131px;
	overflow:hidden;
	position:relative;
	width:600px;
	max-width:900px;
	margin:0 auto;
}
.divCarouselInfo {
	color:#3C404E;
	font-size:14px;
	width:100%;
	height:64px;
	line-height:16px;
	padding-top:10px;
	position:relative;
}
.imgBorder{
	border:4px solid #fff;
	position:absolute;
	cursor:pointer;
}
.imgBorder:hover {
	border:4px solid #FFAA55;
	cursor:pointer;
	position:absolute;
}
.divCarouselInfoLt a:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
	}
.btnCarouselLT {
	background:url(/banner/imag/carousel_back_normal.png) no-repeat;
	display:block;
	height:101px;
	overflow:hidden;
	position:absolute;
	cursor:pointer;
	top:-103px;
	width:51px;
	left:0;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	}
.btnCarouselRT {
	background:url(/banner/imag/carousel_next_normal.png) no-repeat;
	display:block;
	height:101px;
	overflow:hidden;
	position:absolute;
	cursor:pointer;
	top:-103px;
	width:51px;
	right:0;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
img {
	border:medium none;
}
.author{ width:700px; margin:0 auto; height:auto; text-align:center;}
#imgSmallLeft,#imgMiddleLeft,#imgMiddleRight,#imgSmallRight{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

/*webwidget_slideshow_dot*/

.webwidget_slideshow_dot{
    padding: 0px;
    margin: 0px;
    position: relative;
    font-family: Arial,Sans-Serif;
    font-size: 13px;
}
.webwidget_slideshow_dot a{
    text-decoration: none;
}
.webwidget_slideshow_dot a:hover{
    text-decoration: underline;
}
.webwidget_slideshow_dot .slides_box{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: absolute;
}
.webwidget_slideshow_dot .title_thumb_box{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.webwidget_slideshow_dot .title_thumb_box .title_box{
    padding: 5px;
}
.webwidget_slideshow_dot .title_thumb_box .thumb_box{
    text-align: center;
    height:101px;
}
.webwidget_slideshow_dot .title_thumb_box .thumb_box span{
    margin-right: 5px;
    margin-left: 5px;
}
.webwidget_slideshow_dot .title_thumb_box .thumb_box span img{
    cursor: pointer;
}
.webwidget_slideshow_dot img{
    padding: 0px;
    margin: 0px;
    border: none;
}
.webwidget_slideshow_dot ul{
    padding: 0px;
    margin: 0px;
    position: absolute;
    list-style: none;
}
.webwidget_slideshow_dot ul li{
    padding: 0px;
    margin: 0px;
    float: left;
}
.webwidget_slideshow_dot ul li a{
    display: block;
}
#demo3{ width:80%; margin:0 auto;}
.thumb_box{ position: relative; z-index:102; top:-166px;}
#pre{ float:left;}
#next{ float:right;}
.thumb_num{ display:none;}
.thumb_p{ float:left; position:absolute; left:0;}
.thumb_n{ float:right; position:absolute; right:0;}

/*sitemap*/

.sitemap li{ 
	line-height:21px; 
	font-size:14px;
}
.sitemap li a:hover{ 
	line-height:21px; 
	font-size:14px; 
	color:#fe9002;
}
.sitemap li a:visited{ 
	line-height:21px; 
	font-size:14px; 
	color:#ce04e0;
}

/*error*/
.errorBox, .headerError{
	font-size:12px;
	background: #ffb3b5;
	font-weight:bold;
	color:#656565;
}
.headerError{
	position:absolute;
	top:190px;
}
/*faq*/
.faq_question_row{
	width:100%;
}
.faq_question_row div{
	float:left;
	padding-left:5px;
	line-height:15px;
}
.faq_question_row_div, .faq_answer_row{
	width:90%;
}
.faq_answer td, .redtext td{
	float:left;
	padding-left:5px;
	line-height:15px;

}
.faq_back{
	text-align:left;
}
.comment_faq table{
	margin:0;
	padding:0;
}

/*news_list*/
.news_list{
	line-height:25px;
}
.news_list a{
	margin-left:40px;
}

.box_waring, .errorText{
	color:#FF0000;
}
.product_info{ padding:0 15px;}
.sort img{ margin-left:5px;}
.sort td{ width:25%; padding:0;}
.product_listing_link{
    display: block;
    height: 40px;
    line-height: 40px;
	text-align:center;
    background: url(../images/design/box/button_large.gif);
}
.product_listing_link:hover{
    display: block;
    height: 40px;
    line-height: 40px;
	text-align:center;
    background: url(../images/design/box/button_large_hover.gif) !important;
}
.sort a:link{
	color:#66DFFF;
}
.sort a:ctive{
	color:#fe9002;
}
.sort a:visited{
	color:#ce04e0;
}
.sort a:hover{
	color:#fe9002;
}
.productSpecialPrice{ color:#FF0000;}

#product_list ul{ overflow:hidden; margin:10px;}
#product_list ul li{ float:left; text-align:center; padding-top:10px; padding-bottom:10px; width:200px;}
.error{
	color:#FF0000;
	float:left;
}
.error_information{
	color:#FF0000;
	clear:both;
}
.open_info{
	color:#fff;
	clear:both;
	overflow:hidden;
}
#product-carousel{ position:relative; top:0;}
#product-carousel img{ border:3px solid #fff;}
.preorder_title td{ padding:0; margin:0;}
.preorder_title img{ vertical-align:middle;}
.sub_menu{margin:3px 0 23px 2px;}
.sub_menu dt{ line-height:15px; padding:3px; font-size:14px;}
.sub_menu dd{ line-height:15px; padding:3px; margin-bottom:10px;}
.sub_menu_box{margin:9px 0 23px 2px;}
ul,li { padding:0; margin:0}
ul,li { list-style:none}
 .img-scroll { position:relative; margin:20px auto; width:780px; z-index:90;}
 .img-scroll .prev,.img-scroll .next { position:absolute; display:block; width:50px; height:100px; top:0; color:#FFF; text-align:center; line-height:100px}
 .img-scroll .prev { left:0}
 .img-scroll .next { right:0}
 .img-list { margin:0 auto; width:780px; height:200px; overflow:hidden;}
 .img-list ul { width:9999px;}
 .img-list li { float:left; display:inline; width:780px;  height:200px;  text-align:center; line-height:100px;}
.img-list li a img{} 
.index_js{
position:relative;
vertical-align:middle;
z-index:200;
top:70px;
}
.information_top{
	color:#FFFFFF;
	font-size:14px;
	margin-left:2em;
	line-height:24px;
	letter-spacing:normal;
}
.yui3-u-one-1{
	text-align:center;
	letter-spacing: 0; 
	color:#ffffff;
	word-spacing:0;
}
#content_account{
	margin:5px 15px 20px 0;
	width:100%;
}

.content_account{
	margin:5px 15px 20px 0;
	width:100%;
}
.content_account td{
	padding:0;
	line-height:24px;

}
.seo_title_04{ font-size:18px;}
/*password*/


#popup_notice{
	width:522px;
	*width:554px;
	background:#fff;
	z-index:126;
	position:absolute;
	padding:10px 15px;
	font-size:14px;
	text-align:left;
	line-height:21px;
	color:#666666;  
     left:50%;       
     margin-left:-250px;     

}
.popup_notice_text{
	clear:both;
	padding:5px 0;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
.popup_notice_middle{
	clear:both;
	padding:5px 0;
}
.popup_notice_button{
	vertical-align:bottom;
        padding:20px 0 10px 0;
}
.popup_notice_button a{
	margin:0 20px;
}
.contact_us_spacing{
	overflow:hidden;
	margin-top:9px;
}
.login_spacing{
	margin-bottom:25px;
}
.open_spacing{
	margin-left:5px;
	margin-top:13px;
}
.open_login{ clear:both;}
.login_inc{ margin-bottom:15px;}
.comment_preoder{
	margin-left:6px;
	margin-top:13px;
}
.reorder_spacing,.information_table{
	margin-left:6px;
	margin-top:10px;
}
.reorder_spacing{ position:relative;}
.success_spacing{ margin-top:8px;}
.box_new_waring{
	color:#ff0000;
	position:relative;
	top:20px;
}
.date_error{ color:#FF0000;}
.auth_finish_left{ padding:10px 0; line-height:25x;}
.auth_finish_right{ padding:25px 0; float:right;}
.shopping_cart_total{ clear:both; padding-right:8px;text-align:right; margin-right:10%;}
#wrapper_kiyaku{ margin-top:15px;}
.send_box01{ margin-top:15px; padding-bottom:35px;}
.prompt{ clear:both; color:#ff0000; font-size:14px; width:100%; font-weight:bold; text-align:center; margin:15px 0;}
.tickets_contents{ margin-top:10px;}
.shopping_waring{border: 3px solid #FF0000; padding:5px; margin:10px 0;}
.message td {padding-bottom:25px;}
.list_spacing{ margin:13px 0 0 6px;}
/*ie6*/
.checkout_payment_info input{ _position:relative; _z-index:200; _top:0;}
.payment-content{ _height:24px;}

/*option*/
.option_table{
	width:100%;
}
.option_name{
	width:20%;
	vertical-align:top;
}
.option_input{
	width:75%;
	float:left;
}
.option_error{
	color:#ff0000;
	/*padding-left:10px;*/
	line-height:1.5;
}
.option_product_title{
	line-height:25px;
	
}
.option_render table{
	*width:98%;
}
.preorder_option_name{
	width:20%;
	vertical-align:top;
}
.option_product_single_radio{
	float:left;
	margin-bottom:5px;
}
.option_show_border {
	float:left;
	margin-right:5px;
	overflow:hidden;
	position:relative;
}
.option_show_border .option_checkmark{
	position:absolute;
	*position: absolute;
	right:0px;
	top:0px;
	*right:0;
	*top:0;
	text-align:right;
	opacity:1.0;
	display:inline-block;
}
.option_show_border span{ float:left;}
.option_show_border .option_conent{
		border:3px solid #FF6701;
		overflow:hidden;
	    padding:2px;
		*display:inline-block;
		float:left;
		line-height:18px;
}
.option_show_border a{ 
	color:#66DFFF; 
	/*display:block;*/
	text-decoration:none;
	display:block;
}

.option_hide_border {
	float:left;
	margin-right:5px;
	position:relative;
}
.option_hide_border .option_checkmark{
	position:absolute;
	*position: absolute;
	right:0px;
	top:0px;
	*right:0;
	*top:0;
	opacity:0;
	filter: Alpha(Opacity=0);
	z-index:90;
	display:inline-block;
	text-align:right;
}
.option_hide_border .option_conent a:hover, .option_show_border .option_conent a:hover{
	text-decoration:none;
	cursor:pointer;	
}
.option_hide_border .option_conent{
	border:1px solid #ccc;
	overflow:hidden;
	padding:2px;
	*display:inline-block;
	float:left;
	line-height:18px;
	margin:2px;
}
.option_hide_border span{ float:left; overflow:hidden; color:#FFFFFF;}
.option_hide_border a{
	color:#fff; 
	display:block;
	text-decoration:none;
	
}
/*.option_hide_border a:hover{
	border:2px solid #2864B4;
}
*/.option_radio_img img{ float:left;}
.option_product_default_radio{
	clear:both;
	overflow:hidden;
	margin-bottom:5px;
}
.option_product_radio_list{
	overflow:hidden;
	width:100%;
}

.option_product_radio_img_list{
	width:100%;
	*float:left;
	clear:both;
	*margin-top:5px;
}
.option_radio_list{
	width:100%;
	overflow:hidden;
	margin-bottom:5px;
}
.option_dot{
	margin-top:20px;
	padding-top:20px;
	background:url(../images/design/box/dot.gif) repeat-x;
	overflow:hidden; 
}
.preorder_option .option_name{
	width:20%;
}
.option_money{
	float:right;
	line-height:18px;
}
.option_info_text{
	overflow:hidden;
	width:100%;
	margin-bottom:5px;
}
.option_info_text select{ float:left;}
#show_price{
	font-size:20px;
	font-weight:bold;
	color:#66DFFF;
}
.calc_show_price{
	color:#66DFFF;
	font-size:20px;
	font-weight:bold;
	margin-left:-1px;
}
#group_list_box td{ height:20px; padding:0;}

/*shipping*/
.shipping_error{
	color:#ff0000;
	line-height:1.5;
}
.shipping_time{

	background:#383838;
	line-height:25px;
    position:relative;
	color:#FFFFFF;
	*height:25px;
	overflow:hidden;
	*overflow:none;
	z-index:200;
}
.shipping_time input{
/*	margin-left:32px;
	margin-left:28px\9;
*/}
.shipping_time ul{
	margin:0;
	padding:0;
}
.shipping_time ul li{
	margin:0;
	padding:0;
	list-style-type:none;
	float:left;
	line-height:25px;
}
.time_radio{
	float:left;
	margin-left:32px;
	margin-top:2px;
	margin-left:28px\9;
}
.time_label{
	float:left;
	line-height:25px;
}
.time_label a{ color:#FFFFFF; cursor:pointer;}
.time_label a:hover{ color:#FFFFFF; cursor:pointer;}
#greybackground{
	background:#000000;
	width:100%; 
	display:block; 
	z-index:125; 
	top:0px; 
	left:0px;
	position:absolute;
}
.popup_notice_text{
	clear:both;
	padding:5px 0;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}
.popup_notice_middle{
	clear:both;
	padding:5px 0;
}
.popup_notice_button{
	vertical-align:bottom;
	padding:10px 0;
}
.popup_notice_button a{
	margin:0 20px;
}
.frame_content{
	margin-top:9px;
}
.frame_content table{
	line-height:25px;
}

#shipping_list_show table{
	margin:0;
	border-collapse:separate;
	border-spacing:2px;
}
.red{ color:#FF0000;}
.preorder_active_info{ line-height:21px;}
#option-detail{
	color: #FFFFFF;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.shipping_time_box{
	position: absolute; 
	right: 0px; 
	z-index: 300; 
	width:79.7%;
	margin:0 3px;
}
.markProductOutOfStock a{ font-weight:bold;}
.table_p10{ padding-left:20px;}
#input_width{ width:70%;}
.table_spacing{ padding-left:20px;}
.confirmation_product_num_info{ 
	padding-right:80px;
	width:20%;
}
.red_border{
	font-size:12px;
	margin:5px 0 80px 1px;
	background-color: #FFE9E9;
    border: 1px solid #FF8E90;
    font-size: 11px;
	width:100%;
}
#main-content .red_border{ color:#656565; line-height:18px;}
.red_box{
	font-size:12px;
	margin-top:5px;
	background-color: #FFE9E9;
    border: 1px solid #FF8E90;
    font-size: 11px;
	width:100%;
}
#main-content .red_box{ color:#656565; line-height:18px;}
.table_border{
  border-top:#444 dashed 1px;
}
.space_top{
  margin-top:10px;
}
.float_right, .float_right_box{
  float:right;
}
.float_right_box .input_box{
  width:1.5em;
}
