.side_border {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.header_Navigation {
	background-color: #EEF2F7;
	font-size: 11px;
	color: #2864B4;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}
.left_colum_border {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.right_colum_border {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.category_menu {
    font-size: 11px;                                 /* フォントサイズ */
	background-color: #E5EBF2;
	border: 1px solid #B0BFCF;
	margin: 1px;
	padding-left: 1px;
}
.menu {
    font-size: 11px;                                 /* フォントサイズ */
	padding-left: 10px;
	background-image: url(images/design/box/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.bestseller_text {
    font-size: 10px;                                 /* フォントサイズ */
	background-color: #E4ECF6;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.bestseller_img {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.bestseller_description {
	font-size: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
#contents {
	font-size: 11px;
	/*padding-top: 17px;*/
	padding-right: 13;
	padding-left: 13;
	padding-bottom: 20px;
}
#news {
  text-align : left;
  padding-top : 12px;
  padding-bottom : 21px;
  width : 460px;
    height : 100px;
  scrollbar : yes;
  overflow:auto;
  scrollbar-base-color: #ffffff;
  scrollbar-track-color: #ffffff;
  margin-top:5px;
}
.news_list {
    font-size: 11px;                                 /* フォントサイズ */
	background-image: url(images/design/box/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
h2 {
	margin-bottom: 10px;
}
.red {
	color: #C85050;
}
.dot {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #444444;
}
.line {
	margin-top:4px;
	width:689px;
	background-image: url(images/design/contents/parcer_space.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-bottom: 5px;
	font-weight: bold;
	/*padding-left: 5px;*/
	margin-bottom: 10px;
}
#contents h2 {
	font-size: 14px;
	font-weight: normal;
	color: #516182;
}
.categoryh2{
  font-size : 11px;
  font-weight : normal;
  color : #004080;
  padding-top : 6px;
  padding-left : 19px;
  margin-bottom : 0px;
}
.categories_tree {
	font-size: 10px;
	color:#004080;
	background-color: #ECF0F4;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CBCBCB;
	border-left-color: #CBCBCB;
	padding-top: 2px;
	padding-bottom: 2px;
}