/* 全体構造
---------------------------------------------------- */
body {
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#ffffff;
	margin:0px;
	padding:0px;
	background:#333333;
}
div {
}
img {
	border:none;
}
/*a:link {
	color:#339966;
}
a:visited {
	color:#339966;
}
a:hover {
	color:#66CC99;
}
a:active {
	color:#ff0000;
}*/
h1 {
	font-weight:normal;
	font-size:10px;
	margin-bottom:0px;
	padding-left:10px;
	color:#ffffff;
}
h2 {
	font-size:14px;
	margin:0px;
	padding:0px;
	color:#99CC00;
}
h3 {
	width:95%;
	font-weight:bold;
	font-size:14px;
	border-color:#444444;
	border-bottom-style:dotted;
	margin:0px;
	padding:5px;
	color:#ffffff;
}
h4 {
	font-weight:normal;
	font-size:14px;
	margin:0px;
	padding:0px;
	color:#ffffff;
}
p {
	font-size:14px;
	color:#ffffff;
	line-height:120%;
	margin:0px;
	padding:10px;
}
strong {
	font-style:normal;
	font-weight:normal;
}
em {
	font-style:normal;
}
li {
/*margin-bottom:1em;*/
	line-height:120%;
}
dt {
	font-weight:bold;
}
dd {
	border-bottom:1px dashed #cccccc;
	margin-bottom:1em;
	padding-bottom:5px;
	line-height:120%;
}
.bold {
	font-weight:bold;
}
.redtext {
	color:#ff4500;
}
.border {
	border:2px dashed #cccccc;
	font-size:14px;
	margin:0px;
	padding:0px;
}
/* ヘッダ
---------------------------------------------------- */
#header {
	width:790px;
	height:185px;/*background-image:url(images/design/oc/header.jpg);background-repeat:no-repeat;*/
	margin:0px;
	padding:0px;
	position:relative;
}
#header .header_div01{
position:absolute;
font-size:10px;
}
.header1 {
	font-weight:normal;
	font-size:10px;
	margin:0px 0px 15px 0px;
	padding:0px 0px 0px 10px;
	color:#ffffff;
}
.header2 {
	text-indent:-10000!important;
}
/* ヘッダメニュー
---------------------------------------------------- */
#h_menubar {
	width:790px;
	height:65px;
	background-image:url("images/design/oc/h_menubar.jpg");
	background-repeat:no-repeat;
	margin:0px;
	padding:0 0 0 210px;
}
.box_title {
	font-size: 12px;
	font-weight: bold;
	color: #CAFFCA;
	background-image: url(images/design/oc/l_menuupper_f.jpg);
	background-repeat: no-repeat;
	height: 29px;
	width: 153px;
	padding-top: 5px;
	padding-left: 10px;
}
#l_menu #box .categories_tree {
	font-size: 10px;
	color: #FFFFFF;
	margin:0px;
	padding-left:6px;
}
#l_menu #box .categories_tree a:hover {
	color: #FFFFFF;
}
.l_m_category_a {
	display:block;
	overflow:hidden;
	width:123px;
 *+width:141px;
	line-height:34px;
	height: 34px;
	text-decoration:none;
	background-image: url(images/design/oc/box_text2.jpg);
	font-size: 12px;
	padding-left: 18px;
}
.l_m_category_a:link {
	color: #FFFFFF;
}
.l_m_category_a:visited {
	color: #FFFFFF;
}
.l_m_category_a:hover {
	background-image: url(images/design/oc/box_text1.jpg);
}
#h_menubar ul {
display:block;
height:30px;
	padding:0px;
	margin:0px;
	list-style-type:none;
	list-style-image:none;
}
#h_menubar li {
display:block;
	float:left;
	line-height:30px;
	height:30px;
}
#h_menubar ul li a{
color:#fff;
font-weight:bold;
margin:0 16px;
text-decoration:none;
}

/* メイン
---------------------------------------------------- */
#main {
	width:790px;
	background-image:url("images/design/oc/main.jpg");
	background-repeat:repeat-y;
	text-align:left;
	margin:0px;
	padding:0px;
}
/* ---------------------------
TABLE：フォームエリア（境界線）
--------------------------- */
TABLE.formArea {                           /* 背景色 */
	border-color: #CCCCCC;                           /* 境界線の色 */
	border-style: solid;                             /* 境界線のスタイル */
	border-width: 1px;                               /* 境界線の幅 */
}
/* ---------------------------
TD：フォームエリア（タイトル）
--------------------------- */
TD.formAreaTitle {
	font-size: 12px;                                 /* フォントサイズ */
	font-weight: bold;                               /* フォント太さ */
}
/* ---------------------------
TD：メイン
--------------------------- */
P.main {
	font-size: 14px;                                 /* フォントサイズ */
	line-height: 1.5;                                /* 行の高さ */
	padding: 0px;
}
/* ---------------------------

TD,SPAN：小さい文字（メッセージ）
--------------------------- */
SPAN.smallText, P.smallText {
	font-size: 10px;
	line-height: 1.5;
	padding: 0px;
}
.smallText {
	font-size: 10px;
	line-height: 1.5;
}
div.headerNavigation {
	margin-top: 10px;
	font-size: 10px;                                 /* フォントサイズ */
	color: #339966;                              /* フォント太さ */
}
/* ---------------------------
TABLE：情報ボックス
--------------------------- */
.infoBox {
	background: #CCCCCC;/* 背景色 */
}
/* ---------------------------
TABLE：情報ボックス（コンテンツ）
--------------------------- */
.infoBoxContents {
	background:#000000;
	font-size: 12px;/* フォントサイズ */
}
/* ---------------------------
調査中
--------------------------- */
.infoBoxNotice {
	background: #FF8E90;                             /* 背景色 */
	color: #ff4500;
}
/* ---------------------------
調査中
--------------------------- */
.infoBoxNoticeContents {
	background: #FFE6E6;                             /* 背景色 */
	font-size: 10px;                                 /* フォントサイズ */
	color:#000000;
}
/* ---------------------------
TD：情報ボックス（タイトル）
--------------------------- */
TD.infoBoxHeading {
	font-size: 11px;                                 /* フォントサイズ */
	font-weight: bold;                               /* フォント太さ */
	background: #bbc3d3;                             /* 背景色 */
	color: #ffffff;                                  /* フォントカラー */
}
/* ---------------------------
SPAN：特価カタログ価格
--------------------------- */
SPAN.productSpecialPrice {
	color: #ff0000;
}
/* ---------------------------
SPAN：エラー
--------------------------- */
SPAN.errorText {
	color: #ff0000;
}
/* 左メニュー
---------------------------------------------------- */
#l_menu {
	font-size:10px;
	width:163px;
	margin:0px;
	padding:0px;
	float:left;
}
#l_menu ul {
	padding:0px;
	margin:-3px 0px 0px 0px;
	list-style-type:none;
}
#l_menu li {
	padding:0px;
	margin:0px 0px 0px 0px;
}
/*#l_menu li a {
	display:block;
	width:141px;
	height:34px;
	text-decoration:none;
	background-repeat:no-repeat;
}
#l_menu li a:hover {
	background-color:transparent;
}*/
#l_menu li a:hover img {
	visibility:hidden;
}/* 右メニュー
---------------------------------------------------- */
#r_menu {
	width:143px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	overflow: hidden;
}
#r_menu a {
	color:#FFFFFF;
}
#r_menu td, #r_menu ol {
	font-size:10px;
}
#r_menu img {
	margin:3px 0px 0px 7px;
}
#r_links {
	width:131px;
	background-image:url("images/design/oc/r_links.jpg");
	background-repeat:no-repeat;
	margin:3px 0px 0px 7px;
	padding:25px 0px 6px 0px;
}
.best_link_bottom01 {
	background:url("images/design/oc/r_links.jpg") no-repeat left bottom;
        height:42px;
	margin:0px 0px 0px 7px;
}
#r_links p {
	width:115px;
	font-size:13px;
	color:#ffffff;
	line-height:120%;
	margin:0px 0px 5px 7px;
	padding:0px;
}
#r_links a {
	text-decoration:none;
}
#r_links a:link {
	color:#ffffff;
}
#r_links a:visited {
	color:#ffffff;
}
#r_links a:hover {
	color:#ff6633;
}
#r_links a:active {
	color:#ff6633;
}
.sep {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #5E5E5E;
	margin-top: 5px;
}
/* コンテンツ
---------------------------------------------------- */
#content {
	font-size:14px;
	width:474px;
	color:#ffffff;
	margin:0px;
	padding-right:0px;
	float:left;
}
#body_text {
	padding-left:5px;
	padding-right:5px;
}
#body_text h2{
padding-right:10px;
*+padding-right:0px;
}
#body_text table{

}
/*#body_text table table{
width:100%;
*+width:99%;
}*/
#information {
	width:460px;
	height:220px;
	background-image:url("images/design/oc/content_info.jpg");
	background-repeat:no-repeat;
	margin:0px;
	padding:0px;
}
#information p {
	font-size:14px;
	color:#ffffff;
	line-height:120%;
	margin:0px;
	padding-left:40px;
	padding-right:40px;
	padding-top:45px;
	padding-bottom:30px
}
.box {
	font-size:14px;
	color:#ffffff;
	width:450px;
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 15px;
}
.box ul {
padding:0 15px 0 35px;
*padding:0 15px 0 0;
}
.sub_menu {
	font-size:14px;
	color:#ffffff;
	width:435px;
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	line-height:120%;
}
.sub_menu h4 {
	padding:0px 0px 0px 10px;
}
.sub_menu p {
padding-left:21px;
}
.page_top {
	text-align:right;
}
.p_list {
	margin:0px;
	padding:10px 0px 10px 0px;
	font-size:10px;
	text-align:left;
}
.box_des {
	font-size:14px;
	color: #FFFFFF;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 5px;
}
.box_des01 {
	font-size:12px;
	color: #FFFFFF;
	padding-bottom: 5px;
	padding-left: 37px;
	padding-top: 5px;
        font-weight:bold;
}
p.box_des{
*+padding-left:0;
} 
/*table.box_des{
*+padding-left:20px;
}*/ 
.form {
	margin: 0px;
	padding:0px;
}
.underline {
	border-top: 1px solid #5E5E5E;
	margin-top: 15px;
}
/* フッター
---------------------------------------------------- */
#f_menu {
	clear:both;
	font-size:10px;
	width:790px;
	text-align:center;
	margin:0px;
	padding:0px;
}
#footer {
	clear:both;
	font-size:10px;
	width:790px;
	height:95px;
	background-image:url("images/design/oc/footer.jpg");
	background-repeat:no-repeat;
	text-align:center;
	margin:0px;
	padding:0px;
}
#footer a {
	color:#000000;
	text-decoration:none;
}
.copyright {
	color:#000000;
	font-style:normal;
	padding-left:0px;
	padding-right:0px;
	padding-top:45px;
	padding-bottom:0px
}
/* CGI
---------------------------------------------------- */
html > body #cgi {
background-image:url(images/design/oc/wide_bg.gif);
background-repeat:repeat-y;
float:left;
margin:0;
padding:0;
text-align:left;
width:620px;
}
#cgi {
background-image:url(images/design/oc/wide_bg.gif);
background-repeat:repeat-y;
float:left;
margin:0;
padding:0;
text-align:left;
width:600px;
}
/*#cgi {
	text-align:left;
	overflow:hidden;
	width:600px;
	float:left;
	margin:0px;
	padding:0px;
	background-image: url(images/design/oc/wide_bg.gif);
	background-repeat: repeat-y;
}*/
/* サイトマップ
---------------------------------------------------- */
.box_titleR {
	font-size: 12px;
	color: #FFFFFF;
	padding-bottom: 5px;
	padding-left: 30px;
	font-weight: bold;
}
form {
	margin: 0px;
	padding:0px;
}
/* FAQ
---------------------------------------------------- */
.faq {
	list-style-image:url("images/design/oc/q.gif");
}
/* メールマガジン
---------------------------------------------------- */
.magazine {
	font-family:monospace;
	font-size:10px;
}
.pageHeading {
	font-size: 20px;
	color: #FFFFFF;
	font-weight:bold;
	margin-top:10px;
	width: 90%;
	padding-left: 10px;
	border-left-width: 8px;
	border-left-style: inset;
	border-left-color: #FFFFFF;
}
.pageHeading01 {
	font-size: 20px;
	color: #FFFFFF;
	font-weight:bold;
	margin-top:10px;
	width: 90%;
	padding-left: 10px;
	border-left-width: 8px;
	border-left-style: inset;
	border-left-color: #FFFFFF;
}
.dot {
	background-image: url(images/design/box/dot.gif);
	background-repeat: repeat-x;
}
.smallText a {
	color:#fff;
}
.product_listing_content {
	width:100%;
}
/*.l_m_categories_tree {
	padding-left:5px!important;
}*/
.l_m_categories_tree img {
}
.l_m_categories_tree a {
	color:#fff;
	background:url(images/design/oc/box_text2.jpg) no-repeat;
	display:block;
	font-size:12px;
	line-height:14px;
	height:29px;
*+height:34px;
	margin-left:5px;
	padding-left:18px;
	padding-top:5px;
	text-decoration:none;
	width:123px;
 *+width:141px;
}
.l_m_categories_tree a:active {
	color:#fff;
}
.l_m_categories_tree a:visited {
	color:#fff;
}
.l_m_categories_tree a:hover {
	background-image:url(images/design/oc/box_text1.jpg);
}
.l_m_categories_tree a a {
	margin-left:0px;
}
.l_m_categories_tree3 {
	padding-left:5px !important;
}
.comment {
	width:90%;
}
.main h3 {
	height:12px;
*+height:26px;
	overflow:hidden;
}
.news_title_02 .news_list {
display:block;
width:390px;
*width:400px;
clear:both;
overflow:hidden;
padding-bottom:2px;
*padding:0;
padding-left:35px;
}
.news_title_02 .outnews01 {
clear:both;
display:block;
overflow:hidden;
padding-bottom:2px;
*padding:0;
padding-left:35px;
width:390px;
*width:400px;
background:url(images/design/oc/redarrow01.gif) no-repeat 3px 5px;
}
.outnews01 .latest_news_link{
display:block;
float:left;
padding-left:5px;
text-decoration:none;
width:290px;
line-height:20px;
}
.outnews01 a {
	display:block;
}
/*.news_title_02 li:hover {*/
/*background:url(images/design/oc/redarrow01.gif) no-repeat left 5px;*/
/*}*/
.news_list a {
	display:block;
	/*overflow:hidden;*/
}
#content a {
	color:#339966;
}
#content a:hover {
	color:#66CC99;
}
#content a:active {
	color:#ff0000;
}
#cgi a {
	color:#339966;
}
#cgi a:hover {
	color:#66CC99;
}
#f_menu a {
	color:#339966;
}
#f_menu a:hover {
	color:#66CC99;
}
#content .smallText a {
	color:#339966;
}
#content .smallText a:hover {
	color:#66CC99;
}
#content .smallText a:active {
	color:#ff0000;
}
#content .smallText .Tlist a {
	color:#339966;
}
#content .smallText .Tlist a:hover {
	color:#66CC99;
}
#content .smallText .Tlist a:active {
	color: #ff0000
}
.footer_links a {
	color:#339966;
}
.footer_links a:hover {
	color:#66CC99;
}
.footer_links a:active {
	color: #ff0000;
}
#content .tell_msg {
	width:90%;
}
/*#content p{
font-size:12px;
}*/
#content p a:active{
	color: #ff0000 !important;
}
a.headerNavigation:active{
	color: #ff0000 !important;
}
a.pageResults:active{
	color: #ff0000 !important;
}
p.main a:active{
	color: #ff0000 !important;
}
p.smallText a:active{
	color: #ff0000 !important;
}
#f_menu a:active{
	color: #ff0000;
}
.payment_comment{
width:400px;
overflow:hidden;
}
.box_des_01{
width:100%;
padding:2px 0;
}
.show_tags01{
list-style:none;
}
.show_tags01 li{
display:block;
float:left;
margin:3px 5px;
overflow:hidden;
}
.show_tags01 li a{
display:block;
}
.show_tags01 li a img{
width:40px;
height:40px;
border:0;
vertical-align:middle;
}
.login_text input{
width:180px;
}
.index_h2{
padding:5px 0 0 40px;
}
.manufacturer_image01 img{
width:40px;
height:40px;
}
.tag_list01{
width:95%;
}
.send_box01{
	font-size:12px;
	color:#ffffff;
	width:450px;
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 15px;
}
.tag_h03{
border:0;
}
.cart_table01{
font-size:12px;
}
.cart_table01 a{
font-size:12px;
}
/*sitemap*/
.sitemap ul ul{
margin-top:-10px;
}
.sitemap li{
line-height:24px;
}
.subcategory_tree{
list-style:none;
}
/*input*/
.main_input input{
height:20px;
width:150px;
}
/*botton*/
.button_delete02{
display:block;
overflow:hidden;
text-indent:-2000px;
width:55px;
height:25px;
background-image: url(./includes/languages/japanese/images/buttons/button_delete02.gif);
}
.shopping_cart_continue{
display:block;
cursor:pointer;
width:81px;
height:24px;
padding:0;
border:0;
background-image: url(./includes/languages/japanese/images/buttons/button_continue_shopping.gif);
}
.shopping_cart_checkout{
display:block;
cursor:pointer;
width:87px;
height:24px;
padding:0;
border:0;
background-image: url(./includes/languages/japanese/images/buttons/button_checkout02.jpg);
}
.con_email01{
display:inline;
margin-left:44px;
}
.con_email01 input{
width:120px;
}
.con_email02{
display:inline;
}
.con_email02 input{
width:120px;
}
.game_news_index01 {
font-size:14px;
padding-left:10px;
*padding-left:0;
padding-bottom:60px;
background:url(images/design/oc/news_bottom.gif) no-repeat left bottom;
}
.list_rss01{
background:none;
}
.game_news_index01 ul{
padding:0 50px 0 0;
*margin:0 0 15px 10px;
}
.game_news_index01 ul li{
line-height:20px;
*padding:1px;
list-style:none;
}
.game_news_index01 ul .news_list {
padding-bottom:2px;
*padding:1px;
}
.game_news_index01 ul li span{
color:#fff;
}
.background_news01 {
background:url(images/design/oc/news_middle.gif) repeat-y;
overflow:hidden;
}
.news_title_01 {
background:url(images/design/oc/news_top.gif) no-repeat;
width:100%;
}
.news_title_01 td {
height:40px;
}
.news_title_02 {
padding-bottom:60px;
font-size:14px;
background:url(images/design/oc/news_bottom.gif) no-repeat left bottom;
margin-top:9px;
}
.news_title_02 ul {
margin:0;
*margin:0 0 0 0;
padding-right:50px;
padding-left:10px;
}
.news_title_02 ul li{
*padding:1px;
list-style-type:none;
}
.news_title_03 {
background:url(images/design/oc/news_top02.gif) no-repeat;
width:100%;
}
.news_title_03 td {
height:40px;
}
.game_news {
line-height:20px;
}
#content .news_more01 {
font-size:14px;
}
.show_latest_news {
padding-left:25px;
*padding-left:0;
padding-right:20px;
*margin:0 0 0 25px;
}
.show_latest_news li{
*padding:1px;
}
.link_more_news01 {
text-align:center;
padding-right:40px;
margin-top:15px;
}
.link_more_news02 {
text-align:center;
padding-right:50px;
*padding-right:15px;
}
.login_right01 {
width:131px;
background:url(images/design/oc/r_links.jpg) no-repeat;
margin:0 0 0 7px;
padding-top:25px;
}
.login_right01 .login_right_bottom01 {
background:url(images/design/oc/r_links.jpg) no-repeat left bottom;
height:37px;
}
.index_info01 {
font-size:14px;
font-weight:bold;
background:url(images/design/oc/index_info01.gif) no-repeat;
height:40px;
line-height:44px;
padding-left:18px;
overflow:hidden;
}
.index_info01 h3 {
margin:0;
padding:0;
font-size:14px;
}
#information p.p_info_01 {
padding-top:10px;
font-size:14px;
}
.index_buy01 {
background:url(images/design/oc/index_buy01.gif) no-repeat;
height:60px;
width:411px;
line-height:64px;
padding-left:12px;
overflow:hidden;
margin-top:13px;
margin-bottom:13px;
}
.index_payment01 {
margin-bottom:13px;
padding-bottom:13px;
padding-top:30px;
}
.news_date01 {
color:#fff;
display:block;
float:left;
line-height:22px;
}
.news_list .latest_news_link {
padding-left:5px;
text-decoration:none;
display:block;
float:left;
width:290px;
line-height:20px;
}
.news_list .latest_news_link:hover {
/*background:url(images/design/oc/redarrow01.gif) no-repeat left 5px;*/
text-decoration:none;
}
.news_list .latest_news_link01 {
padding-left:35px;
line-height:22px;
}
.news_list .latest_news_link01:hover {
background:url(images/design/oc/redarrow01.gif) no-repeat left 5px;
text-decoration:underline;
}
.link_title_right {
margin:0 0 5px 20px;
font-size:14px;
font-weight:bold;
}
.login_online01 {
background:url("images/design/oc/r_links.jpg") no-repeat;
padding:25px 0 0 0;
margin-left:7px;
}
.login_online01 ul{
background:url("images/design/oc/r_links.jpg") no-repeat left bottom;
padding:0 0 35px 10px;
margin-top:5px;
*margin-left:0;
margin-bottom:0;
list-style:none;
}
.right_banner_bottom01 {
height: 3px;
*display:none;
}
.work_time_banner01 {
*margin-top:-3px;
}
.right_pic_banner01 {
*margin-top:-3px;
}
.game_news_index01 ul .news_list03 {
list-style-type:disc;
margin-left:8px;
}
.best_sellers_main{
font-size:10px;
overflow:hidden;
width:131px;
margin:3px 0 0 7px;
background:url(images/design/oc/best_sellers.jpg);
}
.best_sellers_main a{
font-size:12px;
}
.best_sellers_main .top{
width:131px;
height:30px;
background:url(images/design/oc/r_links.jpg) no-repeat left top;
}
.best_sellers_main .bottom{
width:131px;
height:38px;
background:url(images/design/oc/r_links.jpg) no-repeat left bottom;
}
.best_sellers_main .best_sellers_title{
font-size:12px;
text-align:center;
font-weight:bold;
width:120px;
*width:119px;
margin:0 0 5px 3px;
*margin:0 0 5px 4px;
padding:0 0 5px 0;
border-bottom:#ccc dotted 2px;
}
.best_table{
width:118px;
margin:0 0 0 5px;
border-bottom:#ccc dotted 2px;
}
#r_menu .best_table a img{
width:40px;
height:40px;
margin:0;
}
#r_menu .best_sellers_main .best_table_number{
font-size:12px;
font-weight:bold;
color:#99cc00;
}
.waring_category {
color:#fff;
margin:5px 17px 2px 0;
overflow:hidden;
padding:5px 7px;
border:2px solid #FF8080;
}
.waring_product{
color:#fff;
margin:5px 17px 2px 0;
overflow:hidden;
padding:5px 7px;
border:2px solid #FF8080;
/*color:#333333;
font-weight:bold;
background-color:#FFF4F4;
margin:5px auto 2px;
overflow:hidden;
padding:5px 7px;
width:580px;*/
}