<!--{section name=loopClass loop=$class}-->
<!--{assign var='top' value=$class[loopClass]}-->
<div class="web-box">
<span class="web-line"><b class="x1"></b><b class="x2"></b><b class="x3"></b><b class="x4"></b><b class="x5"></b><b class="x6"></b><b class="x7"></b></span>
<div class="web-tit"><div class="web_3_title"><img src="images/backpic/tag.gif" alt="title" width="16"
height="16" /><h2> <a href='<!--{url controller=site action=class
  id=$class[loopClass].class_id}-->'><!--{$class[loopClass].name}--></a></h2></div></div>



<!--{section name=loopTop loop=$top.children step=5}-->
<!--{assign var='index' value=$smarty.section.loopTop.index}-->
<!--{assign var='index2' value=$smarty.section.loopTop.index+1}-->
<!--{assign var='index3' value=$smarty.section.loopTop.index+2}-->
<!--{assign var='index4' value=$smarty.section.loopTop.index+3}-->
<!--{assign var='index5' value=$smarty.section.loopTop.index+4}-->
<!--{if $smarty.section.loopTop.first}-->
<table class="web" width="100%">
<!--{/if}-->
<tr class="t1">
<td>
<!--{if $top.children[$index].name != ''}-->
<span class="web-ico"></span>
<h3>
<a href='<!--{url controller=site action=class id=$top.children[$index].class_id}-->'>
<!--{$top.children[$index].name}-->
</a>
</h3>
<!--{/if}-->
</td>
<td>
<!--{if $top.children[$index2].name != ''}-->
<span class="web-ico"></span>
<h3>
<a href='<!--{url controller=site action=class id=$top.children[$index2].class_id}-->'>
<!--{$top.children[$index2].name}-->
</a>
</h3>
<!--{/if}-->
</td>
<td>
<!--{if $top.children[$index3].name != ''}-->
<span class="web-ico"></span>
<h3>
<a href='<!--{url controller=site action=class id=$top.children[$index3].class_id}-->'>
<!--{$top.children[$index3].name}-->
</a>
</h3>
<!--{/if}-->
</td>
<td>
<!--{if $top.children[$index4].name != ''}-->
<span class="web-ico"></span>
<h3>
<a href='<!--{url controller=site action=class id=$top.children[$index4].class_id}-->'>
<!--{$top.children[$index4].name}-->
</a>
</h3>
<!--{/if}-->
</td>
<td>
<!--{if $top.children[$index5].name != ''}-->
<span class="web-ico"></span>
<h3>
<a href='<!--{url controller=site action=class id=$top.children[$index5].class_id}-->'>
<!--{$top.children[$index5].name}-->
</a>
</h3>
<!--{/if}-->
</td>
</tr>
<!--{if $smarty.section.loopTop.last}-->
</table>
<br />
<!--{/if}-->
<!--{/section}-->


</div>
<!--{/section}-->


