<div id="footer">
  当ウェブサイトに記載されている会社名・製品名・システム名などは、各社の登録商標、もしくは商標です。
  <address class="footer_contacts">
  Copyright &copy;2013 Jackpot <a
  href="http://www.iimy.co.jp/">RMTジャックポット</a>
  </address>
    <br>
  <div align="center">
    <a class="blank" href="http://www.gamemoney.cc/"><strong>RMT</strong></a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-168.html">FF11 RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-169.html">リネージュ2 RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-195.html">REDSTONE RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-200.html">CABAL RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-396.html">AION RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-456.html">FF14 RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-597.html">ドラゴンクエスト10 RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-218.html">アラド戦記 RMT</a><br>
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-178.html">信長の野望 RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-497.html">NEXONポイント RMT</a> | 
    <a class="blank"
    href="http://www.gamemoney.cc/item/p-32238.html">ウェブマネー換金</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-462.html">エルソード RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-171.html">RO RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-325.html">ラテール RMT</a> | 
    <a class="blank" href="http://www.gamemoney.cc/rmt/c-547.html">テラ RMT</a> | 
    <a class="blank" href="http://37109.jp/pc/event/">香川 イベント</a> | 
    <a class="blank" href="http://www.orangere.com/">香川県高松市の不動産</a>
   </div>
  </div>
</body>
</html>
