<!--{php}-->
echo '<?xml version="1.0" encoding="UTF-8"?>';
<!--{/php}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  lang="ja-JP">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="images/class/style.css" type="text/css" rel="stylesheet" />
<!--<base href="http://<!--{php}--> echo $_SERVER['HTTP_HOST']; <!--{/php}-->/" />-->
<script type='text/javascript' src='public/cookie.js'></script>
<script type='text/javascript' src='public/style.js'></script>
<script type='text/javascript' src='Script/jquery-1.4.2.js'></script>
<!--{if $seo}-->
<title><!--{$seo.title}--></title>
<meta name="keywords" content="<!--{$seo.keywords}-->" />
<meta name="description" content="<!--{$seo.description}-->" />
<meta name="robots" content="<!--{$seo.robots}-->" />
<meta name="copyright" content="<!--{$seo.copyright}-->" />
<!--{else}-->
<title>相互リンク集｜RMTジャックポット</title>
<!--{/if}-->
</head>
<body id='body'>
  <div id="title"> RMT専門店！ RMTジャックポットは安全で安心・信頼できる取り引きを目指していきます。</div>
<div id="header">
 <script type="text/javascript" src="js/rmt_flash.js"></script>
    <script type="text/javascript" src="js/images.js"></script>
    <noscript>
    <a href="index.php">
    <img src="images/rmt.gif" width="185" height="65" alt="RMT" />
    </a>
    </noscript>    
    <div style="height:70px;">
<object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="898" height="70">
                  <param name="movie" value="../images/rmt.swf" />
                  <param name="quality" value="high" />
                  <param name="wmode" value="opaque" />
                  <param name="swfversion" value="8.0.35.0" />
                  <param name="expressinstall" value="Scripts/expressInstall.swf" />
                </object>
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="../images/rmt.swf" width="898" height="70">                  
                  <param name="quality" value="high" />
                  <param name="wmode" value="opaque" />
                  <param name="swfversion" value="8.0.35.0" />
                  <param name="expressinstall" value="Scripts/expressInstall.swf" />
                </object>
                <!--<![endif]--></div>
    <div id="header_Menu">
          <table class="menu_table" width="100%" border="0" cellpadding="0" cellspacing="0" summary="menu box">
            <tr>
              <td>
                  <form name="quick_find" action="/advanced_search_result.php" method="get">
                  <input type="hidden" name="categories_id" value="" />
                    <table>
                      <tr>
                        <td><img class="middle" src="../images/design/button/search_text.jpg" alt="RMT検索" /></td>
                        <td></td>
                        <td><input type="text" name="keywords" value="RMT" class="header_search_input"  size="30" maxlength="40" /></td>
                        <td><input name="imageField" type="submit" class="header_search_submit" value="" alt="検索" /></td>
                      </tr>
                    </table>
                    <input type="hidden" name="search_in_description" value="1" />
                    <input type="hidden" name="inc_subcat" value="1" />
                  </form>
              </td>
              <td align="right">
                  <table summary="menu">
                    <tr>
                      <td><a href="/rss.php" class="header_menu_1"></a></td>
                      <td><a href="/shopping_cart.php" class="header_menu_2"></a></td>
                      <td><a href="/checkout_products.php" class="header_menu_3"></a></td>
                      <td class="jk-shoppingcart" align="right"><span id="jk-shoppingcart">0円</span></td>
                    </tr>
                  </table>
              </td>
            </tr>
          </table>
    </div>
    <div class="header_Navigation">
          <p class="header_Navigation_p">
            <a href="/sitemap.php">サイトマップ</a>
            &nbsp;&nbsp;
            <!--{$bread}-->
          </p>
    </div>

<div class="search_head">
<!--{include file='Site/header_search.html'}-->
</div>
