<!--{include file='Site/header.html'}-->
<div id="content">
<div id="custom">
<div class="site_update">
[<!--{_t key="site_edit_title}-->]
<br />
<br />
<br />
<table> 
<tr>
<td valign="top">
<form action="<!--{url controller=site action=siteupdate}-->" name="site_update"
method="post">
<table cellpadding="15">
<tr><td colspan="2">
<!--{_t key="site_update_title}-->
</td></tr>
<tr><td>
<!--{_t key="site_id"}-->:
</td><td>
<input type="text" name="id" value="<!--{$site.id}-->" />
</td></tr>
<tr><td>
<!--{_t key="site_pass"}-->:
</td><td>
<input type="password" name="pass" value="" />
</td></tr>
<tr><td colspan="2" align="right">
<br />
<input type="submit" value="<!--{_t key="site_update_submit"}-->" />
</td></tr>
</table>
</form>
</td>
<td valign="top">
<table>
<tr><td>
[<!--{_t key="site_info"}-->]
</td></tr>
<tr><td>
<!--{_t key="site_title"}-->:
</td></tr>
<tr><td>
<!--{$site.name}-->
</td></tr>
<tr><td>
<!--{_t key="site_url"}-->:
</td></tr>
<tr><td>
<a href="<!--{$site.url}-->" target="_blank" >
<!--{$site.url}-->
</a>
</td></tr>
</table>
</td>
</tr>
</table>
</div> 

<hr align="center" />
<div class="site_del">
<table> 
<tr>
<td valign="top">
<form action="<!--{url controller=site action=sitedel}-->" name="site_del"
method="post">
<table cellpadding="15">
<tr><td colspan="2">
<!--{_t key="site_del_title}-->
</td></tr>
<tr><td>
<!--{_t key="site_id"}-->:
</td><td>
<input type="text" name="id" value="<!--{$site.id}-->" />
</td></tr>
<tr><td>
<!--{_t key="site_pass"}-->:
</td><td>
<input type="password" name="pass" value="" />
</td></tr>
<tr><td align="right" colspan="2">
<!--{_t key="check_del"}-->
<input type="checkbox" name="del_check" value="1" />
</td></tr>
<tr><td align="right" colspan="2">
<br />
<input type="submit" value="<!--{_t key="site_del_submit"}-->" />
</td></tr>
</table>
</form>
</td>
</tr>
</table>
</div>

</div> 
</div>
<!--{include file=Site/footer.html}-->
