<!--{include file='Site/header.html'}-->
<div id="content">
<div id="custom_warp">
<div class="top"></div>
<div class="middle">
<div class="siteupdate_list">
<!--{if $state eq '1'}-->
<!--{_t key="id_or_pass_wrong"}-->
<!--{elseif $state eq '2'}-->
<!--{_t key="update_success"}-->
<!--{/if}-->
<br />
<!--{if $state eq '1'}-->
<a href="<!--{url controller=site action=editsite id=$id}-->" >
<!--{elseif $state eq '2'}-->
<a href="<!--{url controller=site action=editsite id=$id}-->" >
<!--{/if}-->
<br />
<!--{_t key="site_update_return"}-->
</a>
</div> 
</div>
<div class="bottom"></div>
</div>
<!--{include file=Site/footer.html}-->
