@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
body {
background-color:#FFFFFF;
color:#656565;}
ul {
	list-style: none;
}
h3 {
	font-size: 1.4em;
}
div, li, b {
	overflow: hidden;
}
a {
	text-decoration: none;
	color: #555;
}
a:hover{
color:#004149;
text-decoration:underline;
}
a img {
	border: 0px;
}
.myweb a:hover, #myweb-all a:hover, #email a:hover, .otherweb a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#logo, #color li, .search li, .myweb li, #email li, .mainweb li, .otherweb li, .cs-tit li {
	float: left;
}
#menu li {
	float:left;
}
#search-box, #email, #content, #web-box, .web {
	width: 900px;
	margin: 0px auto;
}
#search-box {
	border-bottom:#E59C01 solid 7px;
}
#top_logo {
	height:69px;
	padding-top:20px;
	text-align:center;
	background:url(images/img/logo.gif) no-repeat center bottom;
}
.adv_index01 {
	display:none;
}
.myweb {
	display:none;
}
.search {
	background:url(images/img/menu.gif) no-repeat;
	/*height:28px;*/
	overflow:hidden;
	padding:4px 0 0 10px;
	width:890px;
}
.nav_input {
	float:left;
	font-size:12px;
	height:15px;
	margin-top:5px;
}
.nav_submit {
	float:left;
	margin:6px 25px 0 8px;
}
.nav_header_bottom {
	float:left;
	height:32px;
	margin-left:12px;
}
.nav_header_bottom span {
	display:block;
	float:left;
	font-size:12px;
	height:32px;
	line-height:28px;
	margin:0 6px;
}
.nav_header_bottom span a {
	color:#3F0E02;
	text-decoration:none;
}
.nav_header_bottom span a:hover {
	background-color:#FF9202;
	border-bottom:1px solid #F26200;
	border-top:1px solid #F26200;
	color:#FFFFFF;
	display:block;
	text-decoration:none;
}
#logo {
	display:none;
	height: 80px;
	margin: 20px 10px 0px 10px;
}
#menu {
	text-align:right;
	/*margin-top: 65px;*/
	padding-left:50px;
	padding-top:17px;
	background:#F6C44A url(images/img/top_title_bg.gif) no-repeat center bottom;
}
#menu a {
	color:#fff;
}
#menu li a:hover {
	color:#fff;
	text-decoration:underline;/*font-weight: bold;*/
}
#menu span {
	display: block;
	margin-right:7px;
}
.menu-bg {
	display:none;
	width: 42px;
	height: 35px;
	text-align: center;
}
#color {
	width: 215px;
	height: 20px;
	clear: both;
	position: absolute;
	top: -1px;
	margin-left: 683px;
}
#color li {
	width: 13px;
	height: 13px;
	margin: 2px 5px 0px 5px;
}
#color .title {
	width: auto;
	line-height: 15px;
}
#color a {
	width: 9px;
	height: 9px;
	display: block;
	margin: 2px;
	overflow: hidden;/*IE6*/
}
#blue a:hover, #blue .on {
	background: #4094CB;
}
#orange a:hover, #orange .on {
	background: #FF7700;
}
#pink a:hover, #pink .on {
	background: #C7006F;
}
#green a:hover, #green .on {
	background: #00C518;
}
#gray a:hover, #gray .on {
	background: #AAA;
}
#blue {
	background: #F5FAFD;
	border: 1px #A7DBFA solid;
}
#orange {
	background: #FFDEC1;
	border: 1px #FFA556 solid;
}
#pink {
	background: #F2AED4;
	border: 1px #FB61B8 solid;
}
#green {
	background: #AEF9B7;
	border: 1px #41CF52 solid;
}
#gray {
	background: #EBEBEB;
	border: 1px #B7B7B7 solid;
}
.x1 {
	margin: 0px 7px;
}
.x2 {
	margin: 0px 6px;
}
.x3 {
	margin: 0px 5px;
}
.x4 {
	margin: 0px 4px;
}
.x5 {
	margin: 0px 3px;
}
.x6 {
	margin: 0px 2px;
}
.x7 {
	margin: 0px 1px;
}
.x1, .x2, .x3, .x4, .x5, .x6, .x7 {
	display: none;
}
.x1, .x2, .x3, .x4, .x5, .x6, .x7 {
	height: 1px;
}
.search, .myweb, .otherweb, .gameweb {
	width: 898px;
	margin: 0px auto;
}
.search img {
	margin-left: 8px;
}
.sh-txt {
	height: 16px;
	width: 228px;
	margin: 15px 0px 0px 10px;
	padding: 1px;
}
.sh-st {
	width: 100px;
	height: 20px;
	min-height: 18px;
	line-height: 20px;
 *margin: 16px 10px 0px 0px;
	margin: 15px 25px 0px 0px;
	letter-spacing: 0.5em;
}
.sh-more {
	width: 470px;
}
.sh-more td {
	height: 20px;
}
.myweb {
	height: 25px;
}
.myweb img {
	margin-top: 5px;
}
#myweb-all {
	width: 888px;
	height: auto;
	padding: 5px;
	display: none;
}
#myweb-all li {
	float: left;
	width: 120px;
	text-align: center;
	line-height: 30px;
	margin: 0px 2px;
}
.sp-show, .sp-close {
	width: 16px;
	height: 16px;
	display: block;
	margin-left: 5px;
}
.sp-show-a:hover {
	cursor: pointer;
}
#email {
	display:none;
	height: 30px;
	margin-top: 5px;
}
#email a {
	margin: 0px 5px;
}
.m1, .m3, .m4, .m5 {
	text-align: center;
}
.m1 {
	width: 120px;
}
.m2 {
	width: 728px;
	line-height: 30px;
	letter-spacing: 0.2em;
}
.m3 {
	width: 50px;
	padding-top: 7px;
}
.m4 {
	width: 100px;
	vertical-align: middle;
}
.m5 {
	width: 748px;
	line-height: 20px;
	text-align: left;
}
.m6 {
	width: 50px;
}
#left {
	color:#fff;
	width: 200px;
	float: left;
	border-top:#9d7b00 solid 3px;
}
#left a:hover {
/*font-weight: bold;*/
}
#left li {
	height: 25px;
	padding-left: 10px;
	padding-top: 2px;
	border-bottom:1px solid #D57F00;
}
#left li a {
	color:#fff;
	display:block;
	height:24px;
	line-height:24px;
}
#left li a:hover {
	color:#fff;
	background:#d57f00;
}
#left li.title a {
	line-height:normal;
}
#left img {
	vertical-align: middle;
	margin: 0px 3px;
}
#left .title, #left .title2 {
	width: 200px;
	height: 18px;
	background: #8c9d00;
	margin-left: 0px!important;
}
#left .title-more {
	margin-left: 73px;
}
#left .title span, #left .title span a {
	display: block;
	float: left;
}
#left .title2 span {
	margin-left: 120px;
}
.xsh-txt1, .xsh-txt2, .xsh-txt3, .xsh-txt4, .xsh-txt5, .xsh-txt6 {
	width: 100px;
	min-height: 16px;
}
.xsh-st1, .xsh-st2, .xsh-st3, .xsh-st4, .xsh-st5, .xsh-st6 {
	width: 80px;
*height: 18px;
	min-height: 16px;
}
.xsh-txt1, .xsh-st1 {
	border: 1px #0A7CBB solid;
}
.xsh-txt2, .xsh-st2 {
	border: 1px #FF7700 solid;
}
.xsh-txt3, .xsh-st3 {
	border: 1px #F40088 solid;
}
.xsh-txt4, .xsh-st4 {
	border: 1px #09C71F solid;
}
.xsh-txt5, .xsh-st5 {
	border: 1px #7E7E7E solid;
}
.xsh-txt6, .xsh-st6 {
	border: 1px #A3B200 solid;
}
.xsh-st1 {
	background: #EAF6FF;
}
.xsh-st2 {
	background: #FFDEC1;
}
.xsh-st3 {
	background: #F2AED4;
}
.xsh-st4 {
	background: #AEF9B7;
}
.xsh-st5 {
	background: #EBEBEB;
}
.xsh-st6 {
	background: #F9FFB4;
}
#class {
	position: absolute;
	z-index: 4;
	margin-left: 0px;
 *margin-left: -202px;
}
.cs-tit {
	width: 896px;
	height: 60px;
}
.cs1 {
	width: 734px;
	margin-top: 20px;
}
.cs2 {
	width: 100px;
	line-height: 25px;
	text-align: center;
	margin-top: 10px;
}
.cs2 img {
	vertical-align: middle;
}
.cs-all {
	width: 866px;
	height: auto;
	margin: 0px 15px;
	background: #fff;
}
.cs-content {
	margin: 5px 10px 0px;
	line-height: 28px;
}
.cs-content .td1 {
	text-align: right;
	padding: 0px 5px;
}
.cs-content .td2 {
	color: #6A6A6A;
	padding: 0px 5px;
}
.cs-content .td2 a {
	color: #3F3F3F;
	margin: 0px 5px;
}
.cs-content .td2 a:hover {
	color: #000;
	text-decoration: underline;
}
.cs-more {
	width: 866px;
	margin: 10px 15px;
	text-align: right;
	vertical-align: middle;
}
#right {
	float: right;
	width: 676px;
}
.mainweb, .subweb {
	width: 674px;
}
.mainweb li {
	height: 308px;
}
.mainweb span {
	display: block;
	width: 100%;
	text-align: center;
	line-height: 25px;
}
.mw1, .mw3, .mw5 {
	width: 133px;
}
.mw2, .mw4 {
	width: 135px;
	background: #fff;
}
.mw1 {
	border-right: 1px #F9D984 solid;
}
.mw2 {
	border-right: 1px #F9D984 solid;
}
.mw3 {
	border-right: 1px #F9D984 solid;
}
.mw4 {
	border-right: 1px #F9D984 solid;
}
.mainweb a:hover {
	text-decoration: underline; /*font-weight: bold;*/
}
.mw1 a:hover {
	color: #D0D207;
}
.mw2 a:hover {
	color: #FF0000;
}
.mw3 a:hover {
	color: #42EC62;
}
.mw4 a:hover {
	color: #19A9CC;
}
.mw5 a:hover {
	color: #444;
}
.subweb {
	width: 676px;
	margin-top: 5px;
}
.sw1, .sw2, .sw3 {
	width: 674px;
	height: 24px;
	margin-top: 1px;
	clear: both;
	background: #fff;
}
.sp1_1, .sp1_2, .sp1_3, .sp2, .sp3 {
	margin: 3px 2px;
	height: 18px;
	float: left;
}
.sp1_1 {
	background: #C9AB00;
	border: 1px #584B00 solid;
}
.sp1_2 {
	background: #BA0101;
	border: 1px #440000 solid;
}
.sp1_3 {
	background: #2EB100;
	border: 1px #144D00 solid;
}
.sp1_1, .sp1_2, .sp1_3 {
	width: 70px;
	text-align: center;
	line-height: 16px;
	height: 16px!important;
}
.sp1_1 a, .sp1_2 a, .sp1_3 a {
	color: #fff;
}
.sp2 {
	width: 535px;
	line-height: 20px;
}
.sp2 a {
	margin: 0px 5px;
}
.sp3 {
	width: 50px;
	text-align: center;
}
.sp3 a {
	display: block;
	float: left;
	height: 16px;
	line-height: 16px;
}
.sw1-more, .sw2-more {
	position: relative;
 *position: absolute;
	display: none;
	z-index: 2;
	margin: -1px 40px 0px 80px;
	width: 535px;
}
.sw2-more {
	background: #fff;
}
.sw1-more li, .sw2-more li {
	margin: 5px 5px;
	height: auto;
	padding: 5px;
}
.sw1-more li {
	background: #fff;
}
.sw1-more a, .sw2-more a {
	float: left;
	display: block;
 *float: none;/*IE6*/
 *display: inline-block;/*IE6*/
	width: 120px;
	height: 25px;
	margin: 0px 2px;
	line-height: 25px;
	text-align: center;
	overflow: hidden;
}
.sp2 a:hover {
	text-decoration: underline;
}
.sw2-more a:hover {
	background: #fff;
}
.otherweb {
	width:910px;
	padding: 10px 0px;
	background:#fff url(images/img/box_bg.gif) repeat-y center;
}
.otherweb li {
	height: 20px;
	line-height: 20px;
}
.o1 {
	width: 120px;
	text-align: right;
	clear: both;
}
.o2 {
	width: 708px;
}
.o3 {
	width: 70px;
	text-align: center;
}
.o2 a {
	margin: 0px 10px;
}


#web-box {
	margin-top: 10px;
}
.web-box {
	margin-top: 10px;
	margin:0 auto;
width:890px;
}
#web-box img {
	vertical-align: middle;
	margin-left: 10px;
}
.web-line {
	width: 202px;
	display: block;
}
.web-tit {
	width: 200px;
	height: 20px;
	line-height: 20px;
	float: left;
	margin-left:25px;
}
.web-menu {
	float: right;
	margin-right: 10px;
}
.web-menu a:hover {
/*font-weight: bold;*/
}
.web {
	border-collapse: separate;
	border-spacing: 1px;
	clear: both;
	line-height: 18px;
	background: #fff;
}
.web td {
	width: 180px;
	vertical-align: top;
	overflow: hidden;
}
.web p a {
	color: #616161;
}
.web td a:hover {
	text-decoration: underline;
}
.web p a:hover {
	text-decoration: none;
}
.web .t1 {
	background: #FFF;
}
.web p {
	display: block;
	width: 150px;
	margin: 5px 0px 5px 5px;
	/*height: 16px;*/
	line-height: 16px;
	padding: 5px 0px 5px 5px;
	color: #5b5b5b;
	border: 1px #eee solid;
	overflow: hidden;
}
.web-ico {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
}
.t2 p {
	background: #fff;
}
#custom, #submit, #linkcheck {
	width: 858px;
	/*display: none;*/
        position: relative;
	z-index: 5;
	top: 0px;
	padding: 20px;
	margin: 0px;/**margin-left: -202px;*/
}
#custom img {
	vertical-align: middle;
}
.custom-menu {
	width: 100%;
	text-align: right;
}
#custom h3, #submit h3 {
	margin: 5px 0px;
}
#custom-bg {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #fff;
	opacity: 0.8;
	filter:Alpha(opacity=80);/*IE7*/
	position: absolute;
	z-index: 1;
	display: none;
	margin: 0px;
}
#sites .noborder {
	border:0;
}
#sites .border, #sites .noborder {
	margin: 0px 5px;
	width: 250px;
}
#sites span {
	margin-left: 150px;
}
#sites_show li {
	margin: 0px 5px;
}
.input-img {
	width: 500px;
}
#sites li {
	margin: 5px;
	padding: 5px;
	background: #fff;
}
#background_add, #sites_add {
	margin: 10px;
	padding: 5px;
	font-weight: bold;
}
#background_add a {
	margin: 0px 10px;
}
.submit-ct {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	background: #fff;
}
.submit-ct .left {
	width: 10%;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}
.submit-ct .rigth {
	text-align: left;
}
.input-fname, .input-name, .input-url, .input-femail, .input-fpass, .input-fpass2, .input-linkpage-url, .input-comment, .input-to-admin {
	width: 360px;
}
#submit textarea {
	width: 700px;
	height: 50px;
}
.submit-ct .button {
	height: 50px;
	line-height: 50px;
	text-align: center;
}
#msg {
	width: 400px;
	position: absolute;
	top: 100px;
	padding: 5px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	margin: 0px 200px;
	display: none;
}
.lc_attention {
/*border: 2px #A7DBFA solid;*/
}
.consumer_delete_form {
	width:100%;
	text-align: center;
}
.web-ico-a {
	display:block;
	float:left;
	width:160px;
*width:150px;
}
.site_search {
	padding-left:11px;
}
#linksite {
	padding-left:60px;
}
#linkpreview {
	padding-left:60px;
}
#linksuccess {
	padding-left:60px;
}
#bread_crumb {
	background-color:#731701;
	color:#FFFFFF;
	font-size:12px;
	height:16px;
	line-height:16px;
	margin:0 auto;
	padding:0 0 0 8px;
	width:892px;
}
#bread_crumb a {
	color:#fff;
}
.web_page_table{
width:100%;
border-top:1px solid #F9D984;
border-bottom:1px solid #F9D984;
}
.web_page_table tr:hover{
background:#FDF0CD;
}
.web_page_table .web_table_td1{
height:24px;
width:250px;
padding-left:10px;
}
#pager{
text-align:center;
padding-top:8px;
}
.search_header{
width:670px;
}
.header_links{
padding-left:8px;
background:#C06000;
border-top:2px solid #D57F00;
}
.header_links a{
display: inline-block;
color:#fff;
line-height:24px;
height:24px;
margin-right:20px;
}
.header_links a:hover{
background:#d57f00;
}
.detail_page,.help{
padding-left:8px;
line-height:24px;
}
.site_list{
line-height:24px;
}
.detail_h{
background:#FDF0CD;
margin-right:8px;
padding-left:10px;
}
#no_datas{
text-align:center;
line-height:90px;
}
.sites_add{
border:1px solid #F26200;
font-weight:bold;
margin:10px;
padding:5px;
}
/*title*/
#title {
	font-family: Osaka, Verdana;
	font-size: 10px;
	text-align: left;
	color: #ffeedc;
	margin: 0 auto;
	padding: 0px 10px;
	width:878px;
	*+width:898px;
	height: 23px;
	line-height: 20px;
	background: url(../../../images/design/box/title.gif) repeat-x;
}
#title a{
	color: #555;
}
#title a:hover{
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}
#header {
margin:0 auto 10px;
width:900px;
}
#header_flash {
height:103px;
overflow:hidden;
width:900px;
}
#header_flash li {
float:left;
height:103px;
}
.header_flash_left {
background:url(../../../images/design/header/header_flash_left_bg.gif) no-repeat;
width:19px;
}
.header_flash_content {
background: url(../../../images/design/header/header_flash_content_bg.gif) repeat-x;
text-align:left;
width:862px;
}
.header_flash_right {
background: url(../../../images/design/header/header_flash_right_bg.gif) no-repeat;
width:19px;
}
#header_Menu {
	height: 50px;
	overflow: hidden;
}
.header_menu_left, .header_menu_content, .header_menu_right{
	height: 50px;
	float: left;
}
.header_menu_left{
	width: 49px;
	background: url(../../../images/design/header/header_menu_left_bg.gif) no-repeat;
}
.header_menu_content{
	width: 804px;
	background: url(../../../images/design/header/header_menu_content_bg.gif) repeat-x;
}
.header_menu_right{
	width: 47px;
	background: url(../../../images/design/header/header_menu_right_bg.gif) no-repeat;
}
.header_search_input{
	border: solid 1px #ddd;
	padding: 3px 5px;
	height: 20px;
	color: #555;
	width: 110px;
}
.header_search_select{
	border: solid 1px #ddd;
	height: 20px;
	* height: 18px;/*IE*/
	color: #555;
	width:172px;
}
.header_search_submit{
	width: 51px;
	height: 26px;
	border: none;
	cursor: pointer;
	background: url(../../../images/design/button/search.gif) no-repeat;
}
.header_search_submit:hover{
	background: url(../../../images/design/button/search_hover.gif) no-repeat;
}
.header_menu_1, .header_menu_2, .header_menu_3{
	display: block;
	float: left;
	height: 37px;
}
.header_menu_1{
	width: 68px;
	background: url(../../../images/design/button/rss.gif) no-repeat;
}
.header_menu_1:hover{
	background: url(../../../images/design/button/rss_hover.gif) no-repeat;
}
.header_menu_2{
	width: 108px;
	background: url(../../../images/design/button/shopping_cart.gif) no-repeat;
}
.header_menu_2:hover{
	background: url(../../../images/design/button/shopping_cart_hover.gif) no-repeat;
}
.header_menu_3{
	width: 93px;
	background: url(../../../images/design/button/checkout.gif) no-repeat;
}
.header_menu_3:hover{
	background: url(../../../images/design/button/checkout_hover.gif) no-repeat;
}
.header_Navigation {
	height: 31px;
}
.header_navigation_left, .header_navigation_content, .header_navigation_right{
	height: 31px;
	float: left;
}
.header_navigation_left{
	width: 49px;
	background: url(../../../images/design/header/header_navigation_left_bg.gif) no-repeat;
}
.header_navigation_content{
	width: 804px;
	text-align: left;
	background: url(../../../images/design/header/header_navigation_content_bg.gif) repeat-x;
}
.header_navigation_right{
	width: 47px;
	background: url(../../../images/design/header/header_navigation_right_bg.gif) no-repeat;
}
.header_Navigation_p {
	line-height: 21px;
	font-family: Osaka, Verdana;
	font-size: 11px;
	color: #019395;
	margin: 3px 0px;
	padding: 0px;
}
.header_Navigation_p a{
	color: #019395!important;
}
.category_menu {
    font-family: Osaka, Verdana, Arial, sans-serif;
    font-size: 11px;
	background-color: #E5EBF2;
	border: 1px solid #B0BFCF;
	margin: 1px;
	padding-left: 1px;
}
.search_head{
float:left;
margin-top:10px;
}
.search_head .top{
	height: 27px;
	width: 711px;
	background: url(../../../images/design/box/search_head_top.gif) no-repeat;
}
.search_head .middle{
overflow:hidden;
	width: 711px;
	background: url(../../../images/design/box/search_head_middle.gif);
}
.search_head .bottom{
height:15px;
	width: 711px;
	background: url(../../../images/design/box/search_head_bottom.gif) no-repeat;
}
.text_out {
font-size:12px;
overflow:hidden;
padding:5px 15px 0;
line-height:20px;
}
.tools{
width:171px;
float:right;
margin-top:10px;
}
.tools h2{
overflow:hidden;
display:block;
	background: url(../../../images/design/box/reviews02.gif) no-repeat;
color:#434343;
font-size:12px;
line-height:50px;
height:44px;
padding:0 0 0 60px;
}
.tools .middle{
width:171px;
	background: url(../../../images/design/box/reviews_content_bg.gif);
}

.tools .bottom{
height:18px;
width:171px;
	background: url(../../../images/design/box/reviews_bottom_bg.gif);
}
.tools .middle a{
font-size:12px;
display:block;
line-height:24px;
padding-left:15px;
margin-left:11px;
width:135px;
border-bottom:#ccc dotted 1px;
background:#F6F6F6 url(../../../images/design/box/login_arrow.gif) no-repeat 5px center;
}
.tools a:hover{
text-decoration:underline;
}
#content {
overflow:hidden;
width:890px;
    background:#fff;
	margin-bottom:10px;
}
#content .top{
height:27px;
	background: url(../../../images/design/box/content_top.gif);
}
#content .bottom{
height:15px;
	background: url(../../../images/design/box/content_bottom.gif);
}
#content .middle{
overflow:hidden;
	background: url(../../../images/design/box/content_middle.gif);
}
#content .middle a{
font-size:12px;
}
.web_3{
margin:0 10px;
width:100%;
}
.web_3 td{
padding:5px 0 0 10px;
width:150px;
}






#footer {
margin:0 auto;
	border: none;
	width: 900px;
	font-size: 10px;
	text-align: center;
}
.footer_1{
	height: 21px;
	width: 36px;
	background: url(../../../images/design/box/footer_01.gif) no-repeat;
}
.footer_2{
	width: 829px;
	background: url(../../../images/design/box/footer_02.gif) repeat-x;
}
.footer_3{
	width: 35px;
	background: url(../../../images/design/box/footer_03.gif) no-repeat;
}
.footer_4{
	height: 56px;
	width: 36px;
	background: url(../../../images/design/box/footer_06.gif) no-repeat;
}
.footer_5{
	width: 829px;
	background: url(../../../images/design/box/footer_07.gif) repeat-x;
}
.footer_6{
	width: 35px;
	background: url(../../../images/design/box/footer_08.gif) no-repeat;
}
.footer_games_box{
	width: 898px;
	*+width: 900px;
	border-right: solid 1px #dadada;
	border-left: solid 1px #dadada;
	background: #e2e2e2 url(../../../images/design/box/footer_05.gif) repeat-x;
}
.footer_games{
	min-height: 27px;
	line-height: 27px;
	margin: 0px 4px;
	padding: 0px 5px;
	color: #000;
	border-right: solid 1px #ee8820;
	border-left: solid 1px #ee8820;
	background: #fece77 url(../../../images/design/box/footer_04.gif) repeat-x;
}
.footer_games a{
	color: #000;
}
.footer_contacts{
	margin-top: -3px;
	*margin-top:0;
}
.footer_contacts a{
	color: #003639;
}


