@charset "utf-8";
/* CSS Document */
/* admin */

*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 75%;
	background: #FCFCFC;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: 0px;
}
div,li{
	overflow: hidden;
}

/* input */

.userName,.loginImg{
	height: 16px;
	line-height: 16px;
	padding: 1px;
	border: 1px #CBE5F9 solid;
}
.userName{
	width: 200px;
}
.loginImg{
	width: 80px;
}
#submit,.submit{
	width: auto;
	height: 20px;
	padding: 1px 10px 3px;
	background: url(../img/submit-bg.gif);
	border: 1px #A7A7A7 solid;
}

/* login */

#loginTop,#loginMiddle{
	width: 450px;
	margin: 0px auto;
}
#loginTop li{
	float: left;
}
.logo{
	width: 204px;
	height: 77px;
}
.top-bg{
	width: 246px;
	height: 77px;
	text-align: right;
	background: url(../img/login2.gif) repeat-x;
}
#loginMiddle{
	width: 440px;
	height: auto;
	padding: 0px 4px 4px;
	clear: both;
	border-left: 1px #BEBEBE solid;
	border-right: 1px #BEBEBE solid;	
	border-bottom: 1px #BEBEBE solid;
}
#loginMiddle li{
	width: 438px;
	border-left: 1px #CBE5F9 solid;
	border-right: 1px #CBE5F9 solid;	
	border-bottom: 1px #CBE5F9 solid;
	background: #F8FCFF;
}
#loginMiddle table{
	width: 300px;
	margin: 5px auto;
	line-height: 30px;
}
.td-submit{
	height: 30px;
	text-align: center;
}

/* header */

#header{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: url(../img/admin-header-bg.gif);
	border-bottom: 2px #E9E9E9 solid;
	margin-bottom: 40px;
}
#header h2{
	margin-left: 20px;
	color: #002B4C;
}

/* left */

#left{
	width: 20%;
	float: left;
}
#menu{
	width: 150px;
	margin: 0px auto;
	border: 1px #E9E9E9 solid;
}
#menu li{
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: url(../img/admin-menu.gif);
	border-bottom: 1px #E9E9E9 solid;
	margin-top: 1px;
}
#menu li a{
	display: block;
	width: 100%;
	height: 25px;
	color: #004172;
}
#menu li a:hover{
	background: url(../img/admin-menu2.gif);
	color: #c50000;
}

/* right */

#right{
	width: 80%;
	float: right;
}
#content{
	/*width: 780px;*/
	margin: 0px auto 0px 0px;
	border: 1px #E9E9E9 solid;
	background: #F8FCFF;
}
.content-bg{
	height: auto;
	margin: 5px;
	background: #fff;
	border: 1px #E9E9E9 solid;
}
#title{
	width: 100%;
	line-height: 40px;
	padding-left: 10px; 
}
#menu-top{
	width: 100%;
	padding-left: 10px; 
	margin: 5px 0px;
}
#menu-top span{
	margin-left: 50px;
}

/* welcome */

.welcome{
	width: 400px;
	text-align: left;
	line-height: 20px;
	margin: 20px;
}

/* tabel */

#table-row,#table-line{
	width: 98%;
	margin: 10px auto;
	border: 1px #CBE5F9 solid;
	background: #F8FCFF;
}
.tr1{
	background: #CAE8FF;
	line-height: 20px;
	color: #4A0000;
	text-align: center;
	font-weight: bold;
}
.tr2{
	background: #fff;
	line-height: 20px;
}
.td-center{
	text-align: center;
}
.td1{
	background: #CAE8FF;
	line-height: 20px;
	color: #4A0000;
	text-align: center;
	font-weight: bold;
}
.td2{
	background: #fff;
	line-height: 20px;
}

/* global */

.global{
	width: 98%;
	margin: 10px;
}
.g-tr1{
	background: #CAE8FF;	
	line-height: 25px;
}
.g-tr2{
	background: #F8FCFF;	
	line-height: 20px;

}
.g-tr1 td{
	padding-left: 10px;
	color: #4A0000;
}
.g-tr2 td{
	padding-left: 40px;
}
.g-submit{
	text-align: center;
	padding: 15px 0px;
}

/* pager */

#pager{
	width: 100%;
	text-align: center;
	line-height: 30px;
}
#pager span{
	margin-right: 50px;
	font-size: xx-small;
}
#pager strong{
	color: #F40000;
}

/* msg */

#msg{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0px;
	top: 58px;
	background: #E7F0F7;
	border-bottom: 2px #E9E9E9 solid;
	
}

#msg li{
	margin: 5px;
	background: #fff;
	border: 1px #E9E9E9 solid;
	padding: 2px;
}

.msg-submit{
	background: #F8FCFF;
	border: 1px #E9E9E9 solid;
	height: 18px;
	line-height: 18px;
}
#div_msg{
	line-height: 18px;
	margin: 5px;
	display: none;
	height: auto;
	overflow: hidden;
}
.linkcheck_operation span {
 cursor: pointer;
}
