
</div>

</div>
  <div id="float-box">
      <div id="l-box">
        <img alt="img" src="images/header_left_flower_bg.png">
      </div>
      <div id="r-box">
        <img alt="img" src="images/header_right_flower_bg.png">
      </div>
    </div>
</div>
</div>
<!--search_head end-->

<div id="footer">
    <div id="footer-nav">
    <a href="http://www.gamemoney.cc/sitemap.php">サイトマップ</a> |
    <a href="http://www.gamemoney.cc/reorder.php">再配達依頼</a> |
    <a href="http://www.gamemoney.cc/info/profile.html">会社概要</a> | 
    <a
    href="http://www.gamemoney.cc/info/salespolicies.html">特定商取引に基づく表記</a>
    |
    <a href="http://www.gamemoney.cc/link/">相互リンク</a> | 
    <a href="http://www.gamemoney.cc/rss.php">RSS</a>   </div>
      当ウェブサイトに記載されている会社名・製品名・システム名などは、各社の登録商標、もしくは商標です。
      <address>
      Copyright &copy;2013 GameMoney <a
      href="http://www.gamemoney.cc">RMTゲームマネー</a>
      </address>
        <div align="center" class="footer_links"><a target="_blank"
        href="http://www.iimy.co.jp/"><strong>RMT</strong></a> : 
        <a target="_blank" href="http://www.iimy.co.jp/rmt/c-168.html">FFXI</a> | 
        <a target="_blank"
        href="http://www.iimy.co.jp/rmt/c-195.html">レッドストーン</a> | 
        <a target="_blank"
        href="http://www.iimy.co.jp/rmt/c-171.html">ラグナロク</a> | 
        <a target="_blank"
        href="http://www.iimy.co.jp/rmt/c-169.html">リネージュ2</a> | 
        <a target="_blank" href="http://www.iimy.co.jp/rmt/c-200.html">CABAL</a> | 
        <a target="_blank"
        href="http://www.iimy.co.jp/rmt/c-190.html">テイルズウィーバー</a> | 
        <a target="_blank" href="http://www.iimy.co.jp/rmt/c-396.html">アイオン</a>
        | 
        <a target="_blank"
        href="http://www.iimy.co.jp/rmt/c-178.html">信長の野望</a> | 
        <a target="_blank" href="http://www.iimy.co.jp/rmt/c-325.html">ラテール</a>
        | 
        <a target="_blank" href="http://www.iimy.co.jp/rmt/c-319.html">女神転生</a>
        | 
        <a target="_blank" href="http://www.iimy.co.jp/rmt/c-218.html">アラド</a> | 
        <a target="_blank" href="http://www.iimy.co.jp/rmt/c-591.html">PSO2</a> | 
        <a target="_blank"
        href="http://www.iimy.co.jp/rmt/c-247.html">ウェブマネー</a> | 
        <a target="_blank" href="http://www.iimy.co.jp/rmt/c-597.html">DQ10</a> | 
        <a target="_blank" href="http://www.iimy.co.jp/rmt/c-456.html">FFXIV</a> | 
        <a target="_blank" href="http://www.iimy.co.jp/rmt/c-547.html">TERA</a> | 
        <a target="_blank"
        href="http://www.iimy.co.jp/rmt/c-278.html">アトランティカ</a> | 
        <a target="_blank"
        href="http://www.iimy.co.jp/rmt/c-170.html">リネージュ</a> | 
        <a target="_blank"
        href="http://www.iimy.co.jp/rmt/c-250.html">ルーセントハート</a> | 
        <a target="_blank"
        href="http://www.iimy.co.jp/rmt/c-462.html">エルソード</a> | 
        <a target="_blank" href="http://37109.jp/pc/">香川 クーポン</a> | 
        <a target="_blank"
        href="http://www.orangere.com/">香川県高松市の不動産</a></div>
    </div>
</body>
</html>
