<!--{php}-->
echo '<?xml version="1.0" encoding="UTF-8"?>';
include('Fleaphp/FLEA/Helper/Breadcrumb.php');
$bread = new breadcrumb();
$bread->add('オレンジ不動産','/');
$script_name_arr = explode('/',$_SERVER['SCRIPT_NAME']);
$bread->add('相互リンク集','/'.$script_name_arr[1]);
$arr = array(
    'all' => '一覧',
    'search' => '検索結果',
    'setlinkchecksite' => '新規登録',
    'linkcheck_submit' => '新規登録',
    'sitelist' => '更新・削除',
    'siteupdate' => '修正サイト',
    'sitedel' =>'削除サイト',
    'mailadmin' => '送信',
    'mailadminsubmit'=> '送信完了',
    'helppage'=>'ヘルプ',
    'sitemap'=>'サイトマップ',
    'detailed'=>'詳細検索',
    'sitenew'=>'新着サイト',
    'siterec'=>'おすすめサイト',
    'editsite'=>"修正・削除"
    );
if(isset($_GET['action'])&&$_GET['action']!=''&&$_GET['action']!='class'){
  if($show = $arr[$_GET['action']]){
    $bread->add($show,$_SERVER['REQUEST_URI']);
  }
}
    <!--{/php}-->
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml"  lang="ja-JP">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link type="text/css" rel="stylesheet" id='blueStyle' href="../stylesheet.css" />
    <link type="text/css" rel="stylesheet" id='blueStyle' href="images/class/style.css" />
    <script type='text/javascript' src='public/cookie.js'></script>
    <script type='text/javascript' src='public/style.js'></script>
    <script type='text/javascript' src='Script/jquery-1.4.2.js'></script>
    <!--{if $seo.title}-->
    <title>
<!--{$seo.title}-->
</title>
    <!--{else}-->
    <title>相互リンク集｜RMTワールドマネー</title>
    <!--{/if}-->
    </head>
<body id='body'>
    <div id="header">
  <div class="header_div01">
        <h1 class="header1">RMT</h1>
        <p class="header2">
      <a href="javascript:void(0);" style="cursor:hand" onKeyPress="SomeJavaScriptCode" onClick="if (document.all) {window.external.AddFavorite(location.href, document.title)} else {window.sidebar.addPanel(document.title, location.href, null)}">RMT総合サイト ワールドマネーをお気に入りに追加して下さい！</a>
    </p>
      </div>
  <object width="790" height="185" data="../images/design/header/header.swf" type="application/x-shockwave-flash">
        <param value="transparent" name="wmode">
        <param value="high" name="quality">
      </object>
  <a name="top"></a>
</div>
    <div id="h_menubar">
        <ul>
          <li><a href="/sitemap.php">サイトマップ</a>|</li>
          <li><a href="http://3wm.maker.200.com" class="headerNavigation">RMT</a>|</li>
        </ul>
    </div>
  
  <div class="search_head">
        <!--{include file='Site/header_search.html'}-->

    