<div class="footer_link">
<a href="/info/salespolicy.html">特定商取引に基づく表記</a>|<a
href="/info/guide.html">ご利用方法</a>|<a
href="/info/smartpit.html">コンビニ決済</a>|<a
href="/info/faq.html">FAQ</a>|<a
href="/info/companyprofile.html">会社概要</a>|<a
href="/info/privacypolicy.html">プライバシーポリシー</a>|<a
href="/contact_us.php">お問い合わせ</a>
<br>
</div>
  <div id="footer">
	<div class="footer_games_box">
        <div class="footer_games" align="center">
          当サイトに掲載の記事・写真・イラストなどの無断複写・転載等を禁じます。<br>
          Copyright © 2009-2011 
	  <a href="/">FF14 RMT.com</a>
	  <br>
          </div>
        </div>
  </div>
</body>
</html>
