<div class="footer_link">
<a href="/info/salespolicy.html">特定商取引に基づく表記</a>|
<a href="/info/guide.html">ご利用方法</a>|
<a href="/info/smartpit.html">コンビニ決済</a>|
<a href="/info/faq.html">FAQ</a>|
<a href="/info/companyprofile.html">会社概要</a>|
<a href="/info/privacypolicy.html">プライバシーポリシー</a>|
<a href=" https://www.secureservice.jp/www.ff14-rmt.com/contact_us.php">お問い合わせ</a>
</div>
<div id="footer">
  当ウェブサイトに記載されている会社名・製品名・システム名などは、各社の登録商標、もしくは商標です。
  <address class="footer_contacts">
  Copyright &copy;2013 <a href="http://www.ff14-rmt.com">FF14-RMT.com</a>
  </address>
</div>
</body>
</html>
