<div id="submit">
	<div class="custom-menu">
		<a href='<!--{url controller=site action=index}-->'><img src="/public/images/backpic/custom-door.gif" alt="door" width="16" height="16" /> <!--{_t key='custom_close_window'}--></a>
	</div>
	<h3><!--{_t key='submit_title'}--></h3>
	<form action='<!--{url controller=Submit action=Submit}-->' method='post'>
	<table class="submit-ct">
		
    	<tr>
    		<td class="left"><!--{_t key='submit_name'}-->:</td>
    		<td class="right"><input name='name' value='' class="input-name" /></td>
    		<td class="left"><!--{_t key='submit_url'}-->:</td>
    		<td class="right"><input name='url' value='' class="input-url" /></td>
    	</tr>
    	<tr>
    		<td class="left"><!--{_t key='submit_comment'}-->:</td>
    		<td colspan="3" class="right"><textarea name='comment' cols='10' rows='50'></textarea></td>
    	</tr>
    	<tr>
    		<td colspan="4" class="button"><input type='submit' value='<!--{_t key=submit}-->' class="input-submit" /></td>
    	</tr>
		
	</table>
	</form>
</div>
