#title, #header, #email, #content, #footer {
	margin:0 auto;
}
#title{
color:#920003;
width:900px;
background:url(/images/design/box/title.gif) repeat-x;
}
#title a{
color:#920003;
}
#header {
	background:#E9E9E9;
	overflow:hidden;
	width:900px;
}
#email {
	display:none;
	width:880px;
	background:#E9E9E9;
	padding:5px 10px;
}
.search_head {
	width:730px;
	float:left;
	margin-top:6px;	font-size:12px;
}
.search_head .middle {
	padding-left:10px;
	*line-height:14px;
}
#content .middle {
	padding-left:10px;
}
#content {
overflow:hidden;
	clear:both;
	width:900px;
	background:#E9E9E9;
	font-size:12px;
	padding-bottom:25px;
}
.all_links{
background:#FFFFFF;
border:1px solid #DDDDDD;
margin:10px 11px;
padding:5px;
width:700px;
}
#content a{
	font-size:12px;
color:#AE0E30;
}
#content h3 a{
font-weight:bold;
}
.tools {
	float:right;
	margin-top:6px;
	width:161px;
	font-size:12px;
color:#AE0E30;
}
.tools h2 {
	background:url("images/h.gif") no-repeat scroll 0 0 transparent;
	color:#AE0E30;
	font-family:Osaka, Verdana, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	height:27px;
	line-height:27px;
	padding-left:54px;
	margin-bottom:5px;
}
.tools .middle a {
	display:block;
	padding:3px 0;	font-size:12px;
color:#AE0E30;
	*margin:2px 0;
	font-weight:bold;

}
.link_sitmap_h1 {
	background:url("images/h.gif") no-repeat scroll 0 0 transparent;
	color:#AE0E30;
	font-family:Osaka, Verdana, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	height:27px;
	line-height:27px;
	padding-left:54px;
	width:900px;
	margin-bottom:5px;
}
.pageHeading02 {
	background:url("images/h.gif") no-repeat scroll 0 0 transparent;
	color:#AE0E30;
	font-family:Osaka, Verdana, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	height:27px;
	line-height:27px;
	padding-left:54px;
}
.link_h1 {
	background:url("images/h.gif") no-repeat scroll 0 0 transparent;
	color:#AE0E30;
	font-family:Osaka, Verdana, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	height:27px;
	line-height:27px;
	padding-left:54px;
}
.web_3_top {
	margin:5px 10px;
}
.web_3 td {
	width:160px;
}
.web_3_top td { line-height:14px;}
#sites_add {
	background:none repeat scroll 0 0 #fff;
	border:1px solid #DDDDDD;
	margin:10px 11px;
	padding:5px;
}
#content_class {
	height:130px;
	font-size:12px;
}
#content_linkpage_url {
	width:190px;
	font-size:12px;
}
#image_code {
	width:100px;
}
.linkcheck-ct {
	font-size:12px;
}
#content_fname, #content_femail, .input-fpass, .input-fpass2, .input-name, .input-url {
	width:190px;
	font-size:12px;
}
.input-comment {
	font-size:12px;
}
.web-ico {
	width:7px;
	display:inline-block;
	background:url("../../../images/design/boxmiddle_ico01.gif") no-repeat left 7px;
}
.bold {
    font-weight: bold;
}
#footer {
	border: none;
	width: 900px;
	font-size: 10px;
	text-align: center;
}
.footer_1 {
	height: 21px;
	width: 36px;
	background: url(.../images/design/box/footer_01.gif) no-repeat;
}
.footer_2 {
	width: 829px;
	background: url(.../images/design/box/footer_02.gif) repeat-x;
}
.footer_3 {
	width: 35px;
	background: url(.../images/design/box/footer_03.gif) no-repeat;
}
.footer_5 {
	width: 900px;
	height:81px;
	background: url(.../images/design/footer_07.gif) repeat-x;
}
.footer_games_box {
	width: 898px;
 *+width: 900px;
	border-right: solid 1px #dadada;
	border-left: solid 1px #dadada;
	background: #e2e2e2 url(.../images/design/box/footer_05.gif) repeat-x;
}
.footer_games {
	min-height: 27px;
	line-height: 12px;
	margin: 0px 4px;
	padding: 0px 5px;
	color: #000;
	border-right: solid 1px #ee8820;
	border-left: solid 1px #ee8820;
	background: #fece77 url(.../images/design/box/footer_04.gif) repeat-x;
}
.footer_games a {
	color: #000;
}
.footer_contacts {
	margin-top: 2px;
 *margin-top: 2px;
	color:#000000;
	line-height:18px;
}
.footer_contacts a {
	color:#AE0E30;
}
.footer_contacts a:hover {
	color:#000;
}.linkcheck_h3 {
	padding-left:10px;
}
.web_page_table{
width:100%;
}
.web_page_table tr:hover{
background:#eee;
}
.send_mail{
display:block;
width:38px;
height:21px;
margin-left:3px;
background:url(images/button_send_mail.gif) no-repeat;
}
.button02{
cursor:pointer;
text-indent:-2500px;
border:none;
display:block;
width:57px;
height:21px;
background:url(images/button02.gif) no-repeat;
}
