.cgi_blacktext {
	color:#000000;
}

.cgi_bgcolor {
	background:#ffffcc;
}

#waku_area_cgi {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  border-top: 0px solid #d6d6d6;
  border-right: 0px solid #a8a8a8;
  border-bottom: 0px solid #a8a8a8;
  border-left: 0px solid #d6d6d6;
  text-align:center;
}

.cgi_box {
	font-size:13px;
	text-align:left;
	margin:0px 0px 0px 20px;
	padding:0px;
}

.cgi_table {
	font-size:13px;
	margin:0px;
	padding:0px;
}

.cgi_table_border {
	border:2px dashed #333333;
	font-size:13px;
	margin:0px;
	padding:0px;
}

.cgi_table_border_b {
	border-bottom:2px dashed #333333;
	font-size:13px;
	margin:0px;
	padding:0px;
}

#waku_up_cgi_buy {
	position:relative;
	top:0px;
	margin:0px auto;
 	padding:0px;
	background-image:url('../img/sale01.gif');
	background-repeat:no-repeat;
	width:620px;
	height:39px
}

#waku_up_cgi_sell {
	position:relative;
	top:0px;
	margin:0px auto;
 	padding:0px;
	background-image:url('../img/buy01.gif');
	background-repeat:no-repeat;
	width:620px;
	height:39px
}

#waku_up_cgi_order {
	position:relative;
	top:0px;
	margin:0px auto;
 	padding:0px;
	background-image:url('../img/order01.gif');
	background-repeat:no-repeat;
	width:620px;
	height:39px
}

#waku_up_cgi_error {
	position:relative;
	top:0px;
	margin:0px auto;
 	padding:0px;
	background-image:url('../img/error01.gif');
	background-repeat:no-repeat;
	width:620px;
	height:39px
}