<div id="footer">
       <div class="footer_address"> 当ウェブサイトに記載されている会社名・製品名・システム名などは、各社の登録商標、もしくは商標です。 <address class="footer_contacts"> Copyright &copy;2013 <a href="http://www.rmt-kames.jp">RMTカメズ</a> </address>
</div>
                                       <div align="center"> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/">RMT</a> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/rmt/c-168.html">エフエフ11 RMT</a> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/rmt/c-456.html">エフエフ14 RMT</a> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/rmt/c-591.html">PSO2 RMT</a> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/rmt/c-169.html">Lineage2 RMT</a> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/rmt/c-597.html">ドラクエ10 RMT</a> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/rmt/c-171.html">ラグナ RMT</a> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/rmt/c-178.html">信長 RMT</a> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/rmt/c-218.html">アラド戦記 RMT</a> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/rmt/c-247.html">WM</a> | 
                                       <a target="_blank" href="http://www.iimy.co.jp/rmt/c-278.html">アトランティカ RMT</a> | 
                                       <a target="_blank" href="http://www.orangere.com/">香川県高松市の賃貸</a> |</div>
                                     </div>
</body>
</html>
