<!--{include file='Site/header.html'}-->
<div id="content">
<div class="top"></div>
<div class="middle">
<div id="linkcheck">
<div id="linksuccess">
<div class="custom-menu">
	</div>

        <div class="submit_form_div">
        <!--{_t key='submit_success'}-->
        <br />
	<table class="linkcheck-ct">
    	<tr>
    		<td class="left" align="right" valign="top">
                <!--{_t key='seoplink_id'}-->:
                </td>
    		<td class="right">
                <!--{$id}-->
                </td>
        </tr>
        <tr><td height="20" colspan="2"></td></tr>
    	<tr>
    		<td class="left" align="right" valign="top">
                <!--{_t key='seoplink_fname'}-->
                <!--{_t key='require_symbol'}-->:
                </td>
    		<td class="right">
                <!--{$fname}-->
                </td>
        </tr>
        <tr><td height="20" colspan="2"></td></tr>
    	<tr>
    		<td class="left" align="right" valign="top">
                <!--{_t key='seoplink_femail'}-->
                <!--{_t key='require_symbol'}-->:
                </td>
    		<td class="right">
                <!--{$femail}-->
                </td>
        </tr>
        <tr><td height="20" colspan="2"></td></tr>
    	<tr>
    		<td class="left" align="right" valign="top">
                <!--{_t key='seoplink_fpass'}-->
                <!--{_t key='require_symbol'}-->:
                </td>
    		<td class="right">
                *****
                </td>
        </tr>
        <tr><td height="20" colspan="2"></td></tr>
    	<tr>
    		<td class="left" align="right" valign="top">
                <!--{_t key='seoplink_site_name'}-->
                <!--{_t key='require_symbol'}-->:
                </td>
    		<td class="right">
                <!--{$name}-->
                </td>
        </tr>
        <tr><td height="20" colspan="2"></td></tr>
        <tr>
    		<td class="left" align="right" valign="top"><!--{_t key='seoplink_site_url'}-->
                <!--{_t key='require_symbol'}-->:
                </td>
    		<td class="right">
                <!--{$url}-->
                <a href="<!--{$url}-->" target="_blank">
                <font color="blue">
                <!--{_t key="check_url"}-->
                </font>
                </a>
                </td>
    	</tr>
        <tr><td height="20" colspan="2"></td></tr>
    	<tr>
    		<td class="left" align="right" valign="top"><!--{_t key='seoplink_site_comment'}-->
                <!--{_t key='require_symbol'}-->:
                </td>
    		<td colspan="3" class="right">
                <!--{_t key="comment_attention}-->
                <br />
                <!--{$comment}-->
                </td>
    	</tr>
        <tr><td height="20" colspan="2"></td></tr>
        <tr>
    		<td class="left" align="right" valign="top"><!--{_t key='seoplink_site_category'}-->
                <!--{_t key='require_symbol'}-->:
                </td>
    		<td class="right" valign="top">
                <!--{$class_name}-->
                </td>
    	</tr>
        <tr><td height="20" colspan="2"></td></tr>
        <tr>
    		<td class="left" align="right" valign="top"><!--{_t key='seoplink_site_linkpage_url'}-->
                <!--{_t key='require_symbol'}-->:
                </td>
    		<td class="right">
                <!--{$linkpage_url}-->
                <a href="<!--{$linkpage_url}-->" target="_blank">
                <font color="blue">
                <!--{_t key="check_url"}-->
                </font>
                </a>
                </td>
    	</tr>
        <tr><td height="20" colspan="2"></td></tr>
        <tr><td height="20" colspan="2"></td></tr>
	</table>
        <div>
</div>
</div>
</div> 
</div>
</div>
<div class="bottom"></div>
</div>
<!--{include file=Site/footer.html}-->
