<div id="web-box">
<span class="web-line"><b class="x1"></b><b class="x2"></b><b class="x3"></b><b class="x4"></b><b class="x5"></b><b class="x6"></b><b class="x7"></b></span>
<div class="web-tit">
<img src="images/backpic/tag.gif" alt="title" width="16" height="16" /><div class="web_3_title"><a
href='<!--{$site.url}-->' target="_blank"><!--{$site.name}--></a></div>
</div>
<div class="web-menu">
<a href="<!--{url controller=site action=all}-->"><img src="images/backpic/class-more.gif" alt="all" width="16" height="16" />查看所有分类</a>
</div>
<table class="web">
	<tr class="t1">
		<td><!--{$site.comment}--></td>
	</tr>
</table>
</div>
