@charset "utf-8";
/* CSS Document */
/* Blue */
#logo{
	background: url(../img/logo-bg.gif) bottom no-repeat;
}
.menu-bg{
	background: url(../img/menu-bg.gif) no-repeat bottom;
}
#color,.x2,.x3,.x4,.x5,.x6,.x7,.mainweb,.mw1,.mw3,.mw5,.sw1,.sw3,.sw1-more,.web-tit,.web .t2,.t1 p,#background_add,#sites_add,.sw1-more a:hover{	
}
.x-bg b,.gameweb,.sw2-more li{
	background: #ECF5FA;
}
#color,.sw1,.sw2,.sw3,.gameweb,#class,.cs-all,.sw1-more li,.sw2-more li,.web,#custom,#sites li,#submit,#linkcheck{	
	border: 1px #F9D984 solid;
}
.mainweb{
border:1px solid #F9D984;
}
.x1{
	background: #A7DBFA!important;
}
.x2,.x3,.x4,.x5,.x6,.x7,.search,.myweb,#myweb-all,.sw1-more,.sw2-more,.web-tit{
}
.search,#myweb-all,#left .title,#left .title2,.sw1-more,.sw2-more,.t1 td{
	/*border-bottom: 1px #A7DBFA solid;*/
}
#left .title2{
	border-top: 1px #A7DBFA solid;
}
.sh-txt,#background_add,#sites_add,#bg-thumb a img,.submit-ct,.input-img,#submit textarea,#sites .border{
	/*border: 1px #5891BA solid;*/
}
.sh-st,.input-submit{
	background: url(../img/search_bg.gif) center;
	border: 1px #5891BA solid;
	background-color:#00adfc;
}
#myweb-all{
	background: #F9FDFF;
}
#left{
	background:#C06000;
}
#class,#custom,#submit,#linkcheck {
	/*background: url(../img/classmore-bg.gif);*/
	background:#FDF0CD;
}
.cs-content .td1 a{
	color: #01293D;
}
#msg{
	background: #01293D;
	border: 3px #fff solid;
}
#menu a:hover,.sp2 a:hover,.sw1-more a:hover,.sw2-more a:hover,#left a:hover,.web td a:hover{
	color: #01293D;
}
#bg-thumb a:hover img,#bg-thumb a:active img{
	border: 3px #01293D solid;
}
.web-ico{
	background: url(images/blue/img/web-ico.gif);
}
.sp-show{
	background: url(images/blue/img/more.gif);
}
.sp-close{
	background: url(images/blue/img/close-more.gif);
}

