@import url("design.css");
/* ---------------------------
Normal: the left and right box
--------------------------- */
.boxText {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
}
/* ---------------------------
Error: the left and right box
--------------------------- */
.errorBox {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size : 10px;
	background: #ffb3b5;
	font-weight: bold;
}
/* ---------------------------
"What's in the cart?" message to be displayed when there is no stock of the catalog page
--------------------------- */
.stockWarning {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size : 12px;
	color: #cc0033;
}
/* ---------------------------
Under investigation
--------------------------- */
.productsNotifications {
	background: #f2fff7;
}
/* ---------------------------
"Change character" on the "final confirmation of order"page
--------------------------- */
.orderEdit {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size : 11px;
	color: #70d250;
	text-decoration: underline;
}
/* ---------------------------
BODY：Body
--------------------------- */
BODY {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	color: #656565;
}
/* ---------------------------
A：Link (usually)
--------------------------- */
A {
	color: #555;
	text-decoration: none;
}
/* ---------------------------
A：Link(when the cursor is on the ride)
--------------------------- */
A:hover {
  color: #004149;
  text-decoration: underline;
}
/* ---------------------------
FORM：form
--------------------------- */
FORM {
	display: inline;
	margin: 0px;
	padding: 0px;
}
/* ---------------------------
IMG: image
--------------------------- */
IMG {
	border-style: none;
	vertical-align: bottom;
}
/* ---------------------------
TR：Header（product_info）
--------------------------- */
TR.header2 {
	background: #ffffff;
}
/* ---------------------------
TR：Header (navigation)
--------------------------- */
TR.headerNavigation {
	background: #bbc3d3;
}
/* ---------------------------
TD：Header (navigation)
--------------------------- */
TD.headerNavigation {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 10px;
	background: #FFFFFF;
	color: #029DBB;
}
/* ---------------------------
A：Header(link in the navigation)
--------------------------- */
A.headerNavigation { 
	color: #000;
}
/* ---------------------------
A：Header(when the cursor navigation rode on)
--------------------------- */
A.headerNavigation:hover {
	color: #002226;
}
/* ---------------------------
TR：Header (Error)
--------------------------- */
TR.headerError {
	background: #ff0000;
}
/* ---------------------------
TD：Header (Error)
--------------------------- */
TD.headerError {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	background: #ff0000;
	color: #ffffff;
	font-weight : bold;
	text-align : center;
	width:900px;
}
/* ---------------------------
TR：Header (message)
--------------------------- */
TR.headerInfo {
	background: #00ff00;
}
/* ---------------------------
TD：Header (message)
--------------------------- */
TD.headerInfo {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	background: #00ff00;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}
/* ---------------------------
TABLE：Information box
--------------------------- */
.infoBox {
	width: 100%;
}
.product_info_box{
	border: solid 1px #ccc;
	background: #f4f4f4;
	padding: 5px;
}
.product_info_box table{
	width: 100%;
	*width: 398px;/*IE*/
	border-collapse: collapse;
	border-spacing: 0px;
	border: solid 1px #ddd; 
}
.product_info_box table td{
	background: #fff;
	border: solid 1px #ddd;
}
.product_info_box .small_table{
	width: 100%;
	border: dotted 1px #eee;
	background: #f5ffff!important;
	padding: 0px 5px 5px;
}
.product_info_box .small_table td{
	border: none;
	background: #f5ffff url(images/design/box/dot.gif) bottom repeat-x!important;
}
.product_info_box .p_i_b_title{
	color: #00474b;
	font-weight: bold;
	background: #fff url(images/design/box/product_info_box_td.gif) bottom repeat-x;
}
/* ---------------------------
TABLE：Information box (content)
--------------------------- */
.infoBoxContents{
	width: 100%;
	background: #eee;
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
	border: solid 1px #ddd;
	border-collapse: separate;
	border-spacing: 1px;
}
.infoBoxContents td{
	line-height: 20px;
	padding: 3px 5px;
	background: #fff;
}
.infoBoxContents td a{
	color: #06727d;
}
/* ---------------------------
Under investigation
--------------------------- */
.infoBoxNotice {
	background: #FF8E90;
}
/* ---------------------------
Under investigation
--------------------------- */
.infoBoxNoticeContents {
	background: #FFE6E6;
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 10px;
}
/* ---------------------------
TD：Information box (title)
--------------------------- */
TD.infoBoxHeading {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
/* ---------------------------
TD,SPAN：Information box (message information)
--------------------------- */
TD.infoBox, SPAN.infoBox {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
}
/* ---------------------------
TR：Odd-numbered rows
--------------------------- */
TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
	background: #F5FFFF;
}
/* ---------------------------
TR：Even-numbered rows
--------------------------- */
TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
	background: #ffffff;
}
/* ---------------------------
TR：Catalog List (title)
--------------------------- */
TR.productListing-heading {
	background: #d2e9fb;
}
/* ---------------------------
TD：Catalog List (title)
--------------------------- */
TD.productListing-heading {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
	background: #d2e9fb;
	color: #656565;
	font-weight: bold;
	font-variant: small-caps;
}
/* ---------------------------
TD：Catalog List (date)
--------------------------- */
TD.productListing-data {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
}
/* ---------------------------
A：Page link (usually)
--------------------------- */
A.pageResults { 
	color: #000;
}
/* ---------------------------
A：Page link(when the cursor is on the ride)
--------------------------- */
A.pageResults:hover { 
	color: #d27515;
}
/* ---------------------------
TR：Subbar (not used)
--------------------------- */
TR.subBar {
	background: #f4f7fd;
}
/* ---------------------------
TD：Subbar (not used)
--------------------------- */
TD.subBar {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
}
/* ---------------------------
TD：Main
--------------------------- */
TD.main, P.main {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
	*+font-size: 10px;
	line-height: 1.5;
}
/* ---------------------------
TD,SPAN：Small character (message)
--------------------------- */
TD.smallText, SPAN.smallText, P.smallText {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 10px;
	line-height: 1.5;
	letter-spacing:-0.3mm;
}
/* ---------------------------
TD：Account category
--------------------------- */
TD.accountCategory {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 13px;
	color: #aabbdd;
}
/* ---------------------------
TD：Field (key)
--------------------------- */
TD.fieldKey {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
/* ---------------------------
TD：Field (value)
--------------------------- */
TD.fieldValue {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
}
/* ---------------------------
TD：Item name of the list
--------------------------- */
TD.tableHeading {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
/* ---------------------------
SPAN：Information box(add to a new cart catalog)
--------------------------- */
SPAN.newItemInCart {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #ff0000;
}
/* ---------------------------
CHECKBOX, INPUT, RADIO, SELECT：FORM input and choice
--------------------------- */
CHECKBOX, INPUT, RADIO, SELECT {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
}

/* ---------------------------
TEXTAREA：FORM input field
--------------------------- */
TEXTAREA {
	width: 100%;
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
}
/* ---------------------------
SPAN：Message on the top page (say hello to○ ○)
--------------------------- */
SPAN.greetUser {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #0000a0;
	font-weight: bold;
}
/* ---------------------------
TABLE：Form area (border)
--------------------------- */
TABLE.formArea {
	background: #FFFFFF;
	border-color: #E8E8E8;
	border-style: solid;
	border-width: 1px;
}
/* ---------------------------
TD：Form area (title)
--------------------------- */
TD.formAreaTitle {

	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
/* ---------------------------
SPAN：Mark (out of stock)
--------------------------- */
SPAN.markProductOutOfStock {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #c76170;
	font-weight: bold;
}
/* ---------------------------
SPAN：Catalog price deals
--------------------------- */
SPAN.productSpecialPrice {
	font-family: Osaka, Verdana, Arial, sans-serif;
	color: #ff0000;
}
/* ---------------------------
SPAN：Error
--------------------------- */
SPAN.errorText {
	font-family: Osaka, Verdana, Arial, sans-serif;
	color: #ff0000;
}
/* ---------------------------
Cashier check box mouseoff
--------------------------- */
.moduleRow, .moduleRow td {
	background: #e5e5e5;
}
/* ---------------------------
Mouseover cashier check box
--------------------------- */
.moduleRowOver, .moduleRowOver td {
	background: #ccc;
	cursor: hand;
}
/* ---------------------------
Register the selected row check box
--------------------------- */
.moduleRowSelected, .moduleRowSelected td {
	background: #ccc;
}
/* ---------------------------
Check out procedure
--------------------------- */
.checkoutBarFrom, .checkoutBarTo {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #8c8c8c;
}
/* ---------------------------
Check out procedure(Current step)
--------------------------- */
.checkoutBarCurrent {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #000000;
}
.menu_bg {
	background-image: url(images/design/menu_bg.jpg);
	background-repeat: no-repeat;
	width: 115px;
	text-align: center;
}
.c_menu {
	background-image: url(images/design/menu_arrow.jpg);
	width: 135px;
	background-repeat: no-repeat;
	padding-left: 15px;
	color: #656565;
}
.bestseller_image_border {
	border: 2px solid #FFFFFF;
}
.pageHeading_line {
	background-image: url(images/design/page_heading.gif);
	background-repeat: no-repeat;
	height: 8px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.image_border {
	padding: 1px;
	border: 1px solid #E8E8E8;
}
.listing_image {
	float: left;
	margin-right: 25px;
	margin-top: 25px;
}
.listing_image_return {
	margin-top: 25px;
	float: none;
}
address {
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-style: normal;
	font-size: 10px;
}
#menu a{
   color:#656565;
}   
.body_shadow {
		/*float: left;*/
}
#body_text {
	background-color: #FFFFFF;
}
.search_box{
	color: #9DB391;
	background-color: #F1F2EE;
	border: 1px solid #9DB391;
}
/*
strong {
	color: #95A078;
}
*/
.underline{
	border-top: 1px solid #E0E0E7;
	margin-top: 15px;
	          /*width:689;*/
}
P.description{
	margin-top:5px;
	text-align : left;
	width : 95%;
	height : 63px;
	scrollbar : yes;
	overflow:auto;
	font-family: Osaka, Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #666666;
	padding-left: 10px;
}

.formAreaTitle {
	font-size: 11px;
	font-weight: bold;
	color: #003639;
}

.smallText {
	font-size: 10px;
}

#tabtable {
	background-image: url(./images/design/top_tab/tab-bg.jpg);background-repeat: repeat-y;
}

.show_tags01{
list-style:none;
}
.show_tags01 li{
display:block;
float:left;
margin:3px 5px;
overflow:hidden;
}
.show_tags01 li a{
display:block;
}
.show_tags01 li a img{
width:40px;
height:40px;
border:0;
vertical-align:middle;
}
.contents{
font-size:11px;
}
/*button*/
.button_delete02{
display:block;
overflow:hidden;
text-indent:-2000px;
width:55px;
height:25px;
background-image: url(./includes/languages/japanese/images/buttons/button_delete02.gif);
}
.shopping_cart_continue{
display:block;
cursor:pointer;
width:80px;
height:25px;
padding:0;
border:0;
background-image: url(./includes/languages/japanese/images/buttons/button_continue_shopping.gif);
}
.shopping_cart_checkout{
display:block;
cursor:pointer;
width:74px;
height:25px;
padding:0;
border:0;
background-image: url(./includes/languages/japanese/images/buttons/button_checkout.gif);
}
.waring_category {
color:#000;
margin:5px 10px 2px 0;
overflow:hidden;
padding:5px 7px;
border:2px solid #FF8080;
}
.waring_product{
color:#000;
margin:5px 0 5px 0;
overflow:hidden;
padding:5px 7px;
border:2px solid #FF8080;
}

    
/* Generic CSS based Icons. use=> <tag class="Icon iconname">text</tag> */
    
.Icon {
        
    width: auto;
    padding-left:20px;
    background-position: left center;
    background-repeat: no-repeat;
    color:#006699; 
    text-decoration: none;
}

a.Icon{
padding-top:3px;
padding-bottom:3px;
}
   
a.Icon:hover {
    text-decoration: underline;    
}

    
.Icon.Ticket { background:url(images/icons/ticket.gif) 0 0 no-repeat; }
.Icon.webTicket { background:url(images/icons/ticket_source_web.gif) 0 0 no-repeat; }
.Icon.emailTicket { background:url(images/icons/ticket_source_email.gif) 0 0 no-repeat; }
.Icon.phoneTicket { background:url(images/icons/ticket_source_phone.gif) 0 0 no-repeat; }                
.Icon.otherTicket { background:url(images/icons/ticket_source_other.gif) 0 0 no-repeat; }


.Icon.attachment { background-image: url(images/icons/attachment.gif); }
.Icon.file { background: url(images/icons/attachment.gif) no-repeat left center;}
.Icon.refresh { background-image: url(images/icons/refresh.gif); }   
.Icon.thread {
    font-weight: bold;
    font-size: 1em;
    background-image: url(images/icons/thread.gif);
}
.response{font-size:11px;}


