<!--{include file=header.html}-->
<!--{include file=menu.html}-->
<div class="right">
 <h3>
 <!--{_t key='menu_UserManager}-->
 </h3>
 <div class="description"><!--{_t key='menu_UserManager_des'}--></div>
<!--{foreach key=key item=item from=$acts name=loopActs}-->
<!--{if $smarty.foreach.loopActs.first}-->
<div>
<!--{/if}-->
<dl>
<dt><h4><a href='<!--{url controller="ActManager" action="AuthEdit" controlle=$key}-->'><!--{$key}--></a></h4></dt>
<!--{if $item.actions}-->
		<!--{foreach key=action item=action_act from=$item.actions }-->
		<dd><a href='<!--{url controller="ActManager" action="AuthEdit" controlle=$key actio=$action}-->' ><!--{$action}--></a></dd>
		<!--{/foreach}-->			
<!--{/if}-->
</dl>
<!--{if $smarty.foreach.loopActs.last}-->
</div>
<!--{/if}-->
<!--{/foreach}-->


<!--echo "<div>";
		foreach ($acts as $controller=>$acts) {
			echo "<dl>";
			echo "<dt><a href='".url("ActManager","AuthEdit",array("controlle"=>$controller))."'>".$controller."</a></dt>";
			if(isset($acts['actions'])){
				foreach ($acts['actions'] as $action=>$action_act)
				{
					echo "<dd><a href='".url("ActManager","AuthEdit",array("controlle"=>$controller,"actio"=>$action))."'>".$action."</a></dd>";
				}
			}
			echo "</dl>";
		}
		echo "</div>";
-->


</body>
</html>