<!--{include file=header.html}-->
<div id="left">
<!--{include file=menu.html}-->
</div>
<div id="right">
<div id="content">
<ul>
<li class="content-bg">
<div id="title"><span><h3>
<!--{if $class.class_id eq 0}-->
<!--{_t key='ui_c_create'}-->
<!--{else}-->
<!--{_t key='ui_c_edit'}-->
<!--{/if}--></h3></span>
</div>
<div id="menu-top"><!--{_t key='ui_c_edit_description'}--></div>
<form action="<!--{url controller='class' action='save'}-->" method="POST" enctype="multipart/form-data"  >
<table id="table-line">
<tr>
<td class="td1"><!--{_t key='ui_c_class_name'}-->:</td>
<td class="td2"><!--{webcontrol type='textbox' name='name' value=$class.name}--></td>
</tr>
<tr>
<td class="td1"><!--{_t key='ui_c_class_img'}-->:</td>
<td class="td2">   
<!--{if $class.thumb }-->
<img src="images/thumb/<!--{$class.thumb}-->" alt='ico' /> 
<!--{/if}-->
<!--{webcontrol type='FileUpload' name='thumb' }-->  16px*16px
</td>
</tr>
<tr>
<td class="td1"><!--{_t key='ui_c_parent_class'}-->:</td>
<td class="td2">
<!--{_t key='ui_c_root_dir'}--><br />
<!--{section name=looppart loop=$path}-->
<!--{$aspater|default:'+-'|indent:$smarty.section.looppart.index}-->
<!--{$path[looppart].name}-->
<!--{/section}-->
<!--{webcontrol type='hidden' name='class_id'  value=$class.class_id }-->
<!--{webcontrol type='hidden' name='parent_id' value=$parent.class_id}-->
</td>
</tr>
<tr>
<td class="td-submit" colspan="2">
<input type="submit" name="Submit" value="<!--{_t key='ui_g_submit'}-->" id="submit" />  &nbsp;&nbsp;
<input name="Cancel" type="button" id="Cancel" value="<!--{_t key='ui_g_cancel'}-->" class="submit"
onclick="location.href='<!--{url controller=class action=index
parent_id=$parent.class_id}-->'"
/>
</td>
</tr>  
</table>
</form>
<div id="divFileProgressContainer" style="height: 75px;"></div>
<div id="thumbnails">
</li>
</ul>
</div>
</div>
</body>
</html>
