<!--{include file=Admin/header.html}-->
<div id="left">
<!--{include file=Admin/menu.html}-->
</div>
<div id="right">
	<div id="content">
		<ul>
			<li class="content-bg">
 				<div id="title"><h3>常用分类管理</h3></div>
				<!--{section name=loopClasses loop=$classes}-->
				<!--{if $smarty.section.loopClasses.first}-->
				<table id="table-row">
					<tr class="tr1">
						<td><!--{_t key='id'}--></td>
						<td><!--{_t key='class_name'}--></td>
						<td><!--{_t key='order'}--></td>
						<td><!--{_t key='show'}--></td>
						<td><!--{_t key='more'}--></td>
						<td><!--{_t key='opreate'}--></td>
					</tr>
				<!--{/if}-->
					<tr class="tr2">
						<td class="td-center"><!--{$classes[loopClasses].class.class_id}--></td>
						<td><!--{$classes[loopClasses].class.name}--></td>
						<td class="td-center"><!--{$classes[loopClasses].order}--></td>
						<td class="td-center"><!--{$classes[loopClasses].show}--></td>
						<td class="td-center"><!--{$classes[loopClasses].more}--></td>
						<td class="td-center"><a href='<!--{url controller=frequentclass action=edit id=$classes[loopClasses].class.class_id}-->'><img src="images/backpic/edit.gif" width="16" height="16" alt="edit">  <!--{_t key='edit'}--></a> 
							<a href='<!--{url controller=frequentclass action=del id=$classes[loopClasses].class_id}-->'><img src="images/img/del.gif" width="13" height="13" alt="del">  <!--{_t key='del'}--></a>
						</td>
					</tr>
				<!--{if $smarty.section.loopClasses.last}-->
				</table>
				<!--{/if}-->
				<!--{/section}-->
			</li>
		</ul>
	</div>
</div>
</body>
</html>
