<!--{include file=header.html}-->
<!--{$login_title}-->       
<div id="loginTop">
<ul>
<li class="logo"><img src="images/img/login1.gif" width="204" height="77" alt="logo"></li>
<li class="top-bg"><img src="images/img/login3.gif" width="7" height="77" alt="img"></li>
</ul>
</div>
<div id="loginMiddle">
<ul>
<li>
<form action="<!--{url controller='admin' action='login'}-->" method="post">
<table>
<tr>
<td colspan="2" class="td-submit"><span><h3><!--{_t key='login_entry'}--></h3></span></td>
</tr>
<tr>
<td><img src="images/backpic/username.gif" width="16" height="16" alt="username"> <!--{_t key='ui_g_username'}-->:</td>
<td><input type="text" name="username"
class="userName" tabindex="1" accesskey="a" /></td>
</tr>
<tr>
<td><img src="images/backpic/password.gif" width="16" height="16" alt="password"> <!--{_t key='ui_g_password'}-->:</td>
<td><input type="password" name="password" class="userName"  tabindex="2" accesskey="p" /></td>
</tr>
<tr style="display:none">
<td><img src="images/backpic/login-img.gif" width="15" height="15" alt="login-img"> <!--{_t key='login_img'}-->:</td>
<td>
<a href ="<!--{url controller='Admin' action='ChangeCode'}-->"><img src="<!--{url controller='Admin' action='ImgCode' id=$randid}-->" /></a>
<input type="text" name="imgcode" class="loginImg" value="" tabindex="2" accesskey="p" />					
</td>
</tr>
<tr>
<td colspan="2" class="td-submit"><input type="submit" name="submit" id="submit" value="<!--{'submit'|@_T}-->" tabindex="3" accesskey="s" /></td>
</tr>
</table> 
</form>
</li>
</ul>
</div>
</body>
</html>
