<!--{include file=Admin/header.html}-->
<div id="left">
<!--{include file=Admin/menu.html}-->
</div>
<div id="right"> <div id="content">
<div id="title"><span><h3><!--{_t key='seo_edit'}--></h3></span></div>
<form action='<!--{url controller=Setseo action=addDo act=edit}-->' method='post'>
<!--{if $seo.id}-->
<input type='hidden' name='id' value='<!--{$seo.id}-->' />
<!--{/if}-->
<!--{if $seo.action}-->
<input maxlength='50' name='action' value='<!--{$seo.action}-->' type="hidden"/>
<!--{/if}-->
<table id="table-line">
<tr>
<td class="td1"><!--{_t key=seo_action_name}-->:</td>
<td class="td2" width="400"><strong><!--{$seo.name}--></strong></td>
<td class="td3"></td>
</tr>
<tr>
<td class="td1"><!--{_t key=seo_title}-->:</td>
<td class="td2"><input size = "47"name='title' value='<!--{$seo.title}-->' /></td>
<td class="td3">#STORE_NAME#</td>
</tr>
<tr>
<td class="td1"><!--{_t key=seo_keywords}-->:</td>
<td class="td2"><textarea cols = '40' rows='5' name='keywords'><!--{$seo.keywords}--></textarea></td>
<td class="td3">
#BREADCRUMB#<br />
#PAGE_TITLE#
</td>
</tr>
<tr>
<td class="td1"><!--{_t key=seo_description}-->:</td>
<td class="td2"><textarea cols = '40' rows='5'name='description'><!--{$seo.description}--></textarea></td>
<td class="td3">
#BREADCRUMB_KEYWORDS#<br />
#BREADCRUMB_FIRST# 
</td>
</tr>
<tr>
<td class="td1"><!--{_t key=seo_robots}-->:</td>
<td class="td2">
<!--{ if $seo.robots eq 'index,follow'}-->
<input type="radio" name="robots" value="index,follow"
checked="checked">
index,follow
<br>
<input type="radio" name="robots" value="noindex"> 
noindex
<!--{else}-->
<input type="radio" name="robots" value="index,follow">
index,follow
<br>
<input type="radio" name="robots" value="noindex" checked="checked"> 
noindex
<!--{/if}-->
</td>
<td class="td3"></td>
</tr>
<tr>
<td class="td1"><!--{_t key=seo_copyright}-->:</td>
<td class="td2"><input size='24' name='copyright' value='<!--{$seo.copyright}-->' /></td>
<td class="td3"></td>
</tr>
<tr>
<td class="td-submit" colspan="3" height="40" align="left">
<input type='submit' value="<!--{_t key='submit'}-->" id="submit" /></td>
</tr>
</table>
</form>
</div>
</div>
</body>
</html>
