<!--{include file=Admin/header.html}-->
<div id="left">
<!--{include file=Admin/menu.html}-->
</div>
<div id="right">
<div id="content">
<ul>
<li class="content-bg">
<div id="title"><h3><!--{_t key=site_manage}--></h3></div>
<div id="menu-top">	
<!--{_t key='ui_c_current_location'}--><a href="<!--{url controller='class' action='index'}-->"><!--{_t key='ui_c_root_dir'}--></a>
<!--{section name=loopPath loop=$path}-->
-&gt; <a href="<!--{url controller='class' action='index' parent_id=$path[loopPath].class_id}-->"><!--{$path[loopPath].name}--></a>
<!--{/section}--> 
</div>				
<div id="menu-top">
[  <img src="images/backpic/add-class.gif" width="16" height="16" alt="add">  <a href='<!--{url controller=site action=add id=$class.class_id}-->'><!--{_t key=new_site_in_this_class}--></a>]
</div>	   
<!--{section name=loopSite loop=$sites}-->
<!--{if $smarty.section.loopSite.first}-->
<table id="table-row">
<tr class="tr1">
<td><!--{_t key='id'       }--></td>
<td><!--{_t key='site_name'}--></td>
<td><!--{_t key='url'      }--></td>
<td><!--{_t key='comment'  }--></td>
<td><!--{_t key="seoplink_site_linkcheck"}--></td>
<td><!--{_t key="seoplink_show_state"}--></td>
<td><!--{_t key='operate'  }--></td>
</tr>
<!--{/if}-->
<tr class="tr2">
<td><!--{$sites[loopSite].id     }--></td>
<td><!--{$sites[loopSite].name   }--></td>
<td><!--{$sites[loopSite].url    }--></td>
<td><!--{$sites[loopSite].comment}--></td>
<td>
<!--{if $sites[loopSite].is_custom eq '1'}-->
<!--{if $sites[loopSite].state eq '1'}-->
<img src="images/img/success.png" alt="search">  
<!--{else}-->
<img src="images/img/fail.png" alt="search">  
<!--{/if}-->
<!--{/if}-->
</td>
<td align="center">
<!--{if $sites[loopSite].is_custom eq '1'}-->
<!--{if $sites[loopSite].show_state eq '1'}-->
<img src="images/icon_status_green.gif">
<a href="<!--{url controller=seoplink
action=linkcheckupdate id=$sites[loopSite].id show=0 
}-->" >
<img src="images/icon_status_red_light.gif">
</a>
<!--{else}-->
<a href="<!--{url controller=seoplink
action=linkcheckupdate id=$sites[loopSite].id show=1 
}-->" >
<img src="images/icon_status_green_light.gif">
</a>
<img src="images/icon_status_red.gif">
<!--{/if}-->
<!--{/if}-->
</td>
<td><a href='<!--{url controller=site action=edit id=$sites[loopSite].id                }-->'><!--{_t key='edit'}--></a> 
<!--{if $sites[loopSite].frequent}-->
<a href='<!--{url controller=frequentsite action=del id=$sites[loopSite].frequent.id}-->'><!--{_t key='del_from_frequent_site'}--></a> 
<!--{else}-->
<a href='<!--{url controller=frequentsite action=add id=$sites[loopSite].id         }-->'><!--{_t key='add_to_frequent_site'}--></a> 
<!--{/if}-->
<a href='<!--{url controller=site action=del id=$sites[loopSite].id                 }-->'><!--{_t key='del'}--></a>
</td>
</tr>
<!--{if $smarty.section.loopSite.last}-->
</table>   		
<!--{/if}-->
<!--{/section}-->
<!--{include file=Admin/pager.html    }-->
</li>
</ul>
</div>
</div>
</body>
</html>
