<!--{include file=Admin/header.html}-->
<div id="left">
<!--{include file=Admin/menu.html}-->
</div>
<div id="right"> <div id="content">
<ul>
<li class="content-bg">
<div id="title"><h3><!--{_t key='site_edit'}--></h3></div>
<form action='<!--{url controller=Site action=editDo}-->' method='post'>
<!--{if $site.id}-->
<input type='hidden' name='id' value='<!--{$site.id}-->' />
<!--{/if}-->
<table id="table-line">
<tr>
<td class="td1"><!--{_t key='site_name'}-->:</td>
<td class="td2"><input maxlength='50' name='name' value='<!--{$site.name}-->' /></td>
</tr>
<tr>
<td class="td1"><!--{_t key='url'}-->:</td>
<td class="td2"><input maxlength='999' name='url' value='<!--{$site.url}-->' /></td>
</tr>
<tr>
<td class="td1"><!--{_t key="seoplink_site_linkpage_url"}-->:</td>
<td><input maxlength="999" name="linkpage_url" value="<!--{$site.linkpage_url}-->" /></td>
</tr>
<tr>
<td class="td1"><!--{_t key='comment'  }-->:</td>
<td class="td2"><textarea name='comment'><!--{$site.comment}--></textarea></td>
</tr>
<tr>
<td class="td1"><!--{_t key='class'    }-->:</td>
<td class="td2"><select name='class'><!--{$str_classes}--></select></td>
</tr>

<tr>
<td class="td1"><!--{_t key='order'    }-->:</td>
<td class="td2"><input maxlength='4' name='order' value='<!--{$site.order}-->' /></td>
</tr>
<tr>
<td class="td1">
<!--{_t key='created_at'}-->:
</td>
<td class="td2">
<input type='text' name="created" value="<!--{$smarty.now|date_format:'%Y-%m-%d %H:%M'}-->" readonly='true'>
</td>
</tr>
<tr>
<td class="td1">
<!--{_t key='checklink'}-->:
</td>
<td class="td2">
&lt;a href="<!--{$site_url}-->"&gt;
<td>
</tr>
<tr>
<td class="td1">
<!--{_t key='state'}-->:
</td>
<td class="td2">
<img id = 'checklink_state' src="images/img/fail.png" alt='state'>
<input type = 'button' onclick="checklink()" value="<!--{_t key='valadate'}-->"
id="submit">
<td>
</tr>
<tr>
<td class="td-submit" colspan="2"><input type='submit' value="<!--{_t key='submit'}-->" id="submit" /></td>						
</tr>
</table>
</form>
</li>
</ul>
</div>
</div>
</body>
</html>
