<!--{include file=header.html}-->
<div id="left">
<!--{include file=menu.html}-->
</div>
<div id="right">
	<div id="content">
		<ul>
			<li class="content-bg">
 				<div id="title"><span><h3> <!--{_t key='menu_AddOperator'}--></h3></span></div>
 				<div id="menu-top"><!--{_t key='menu_AddOperator_des'}--></div>
  				<form action="<!--{url controller='UserManager' action='save'}-->" method="post">
 				<table id="table-line">
  					<tr>
 					 	<td class="td1"><!--{_t key='ui_g_username'}-->:</td>
  						<td class="td2"><!--{webcontrol type='textbox' name='username' value=$user.username}--><!--{webcontrol type='hidden' name='user_id' value=$user.user_id}--></td>
  					</tr>
  					<tr>
  						<td class="td1"><!--{_t key='ui_g_password'}-->:</td>
  						<td class="td2"><!--{webcontrol type='password' name='password' value=$user.password}--></td>
  					</tr>
  					<tr>
  						<td colspan="2" class="td-submit"><!--{webcontrol type='submit' name='submit' value='送信'}--></td>     
  					</tr>
  				</table>
  				</form>
			</li>
		</ul>
	</div>
</div>
</body>
</html>