<!--{include file=header.html}-->
<div id="left">
<!--{include file=menu.html}-->
</div>
<div id="right">
	<div id="content">
		<ul>
			<li class="content-bg">
 				<div id="title"><h3><!--{_t key='search_result'}--></h3></div>
				<table id="table-row">
					<tr class="tr1">
				    	<td>ID</td>
					    <td><!--{_t key='ui_c_class_name'}--></td>
					    <td><!--{_t key='ui_c_child_count'}--></td>
					    <td><!--{_t key='ui_g_operation'}--></td>
				 	</tr>
				<!--{section name='loopSearch' loop=$subClass}-->
					<tr class="tr2">
						<td><!--{$subClass[loopSearch].class_id}--></td>
						<td><a href="<!--{url controller='class' action='index' parent_id=$subClass[loopSearch].class_id}-->" ><!--{$subClass[loopSearch].name}--></a>&nbsp;</td>
						<td><!--{$subClass[loopSearch].child_count}--></td>
						<td>
							<a href="<!--{url controller='class' action='edit' class_id=$subClass[loopSearch].class_id}-->" > <!--{_t key='ui_g_operation_edit'}--></a> | 
							<a href="<!--{url controller='class' action='remove' class_id=$subClass[loopSearch].class_id}-->" onclick="return confirm('<!--{_t key='ui_c_remove_confirm'}-->');"><!--{_t key='ui_g_operation_remove'}--></a> | 
							<a href="<!--{url controller='site' action='list' id=$subClass[loopSearch].class_id}-->" > <!--{_t key='ui_c_operation_list_site'}--></a> |
							<a href="<!--{url controller='class' action='create' parent_id=$subClass[loopSearch].class_id}-->" > <!--{_t key='ui_c_operation_create_child'}--></a> | 	
							<a href="<!--{url controller='frequentclass' action='add' id=$subClass[loopSearch].class_id}-->" > <!--{_t key='add_to_frequent_class'}--></a> | 
							<a href="<!--{url controller='frequentspecial' action='add' id=$subClass[loopSearch].class_id}-->" > <!--{_t key='add_to_frequent_special'}--></a>
						</td>
					</tr>
				<!--{sectionelse}-->
				  	<tr>
			  			<td class="td-submit" colspan="4"><!--{_t key='no_result'}--></td>
			  		</tr>
				<!--{/section}-->
				</table>
				<div id="divFileProgressContainer" style="height: 75px;"></div>
				<div id="thumbnails"></div>
			</li>
		</ul>
	</div>
</div>
</body>
</html>

