<!--{include file=Admin/header.html}-->
<div id="left">
<!--{include file=Admin/menu.html}-->
</div>
<div id="right">
<div id="content">
<ul>
<li class="content-bg">
<div id="title"><h3><!--{_t key='frequentsite_manage'}--></span></div>
<!--{section name=loopSite loop=$sites}-->
<!--{if $smarty.section.loopSite.first}-->
<table id="table-row">
<tr class="tr1">
<td><!--{_t key='id'     }--></td>
<td><!--{_t key='name'   }--></td>
<td><!--{_t key='url'    }--></td>
<td><!--{_t key='comment'}--></td>
<td><!--{_t key='order'  }--></td>
<td><!--{_t key="seoplink_show_state"}--></td>
<td><!--{_t key='operate'}--></td>
</tr>
<!--{/if}-->
<tr class="tr2">
<td class="td-center"><!--{$sites[loopSite].id     }--></td>
<td><!--{$sites[loopSite].name   }--></td>
<td><!--{$sites[loopSite].url    }--></td>
<td class="td-center"><!--{$sites[loopSite].comment}--></td>
<td class="td-center"><!--{$sites[loopSite].order       }--></td>
<td align="center">
<!--{if $sites[loopSite].show_state eq '1'}-->
<img src="images/icon_status_green.gif">
<a href="<!--{url controller=seoplink
action=linkcheckupdate id=$sites[loopSite].id show=0 
}-->" >
<img src="images/icon_status_red_light.gif">
</a>
<!--{else}-->
<a href="<!--{url controller=seoplink
action=linkcheckupdate id=$sites[loopSite].id show=1 
}-->" >
<img src="images/icon_status_green_light.gif">
</a>
<img src="images/icon_status_red.gif">
<!--{/if}-->
</td>
<td class="td-center"><a href='<!--{url controller=frequentsite action=edit id=$sites[loopSite].id}-->'><img src="images/backpic/edit.gif" width="16" height="16" alt="edit">  <!--{_t key='edit'}--></a> 
<a href='<!--{url controller=frequentsite action=del id=$sites[loopSite].id }-->'><img src="images/img/del.gif" width="13" height="13" alt="del">  <!--{_t key='del' }--></a>
</td>
</tr>
<!--{if $smarty.section.loopSite.last}-->
</table>
<!--{/if}-->
<!--{/section}-->
</li>
</ul>
</div>
</div>
</body>
</html>
