<!--{include file=header.html }-->
<div id="left">
<!--{include file=menu.html   }-->
</div>
<div id="right">
<div id="content">
<div class="custom-menu">
<a href='<!--{url controller=seoplink action=admin_top}-->'><img
src="public/images/backpic/custom-door.gif" alt="door" width="16"
height="16" /> <!--{_t key='back_window'}--></a>
</div>
<div class="submit_form_div">
  <form action='<!--{url controller=Seoplink action=editDo}-->' method='post'>
  <table id="table-line">
  <!--{if $consumer.consumer_name}-->
  <tr>
  <td class="td1" align="right" valign="top">
  <!--{_t key='seoplink_fname'}-->
  :
  </td>
  <td class="td2">
  <!--{$consumer.consumer_name}-->
  </td>
  </tr>
  <!--{/if}-->
  <!--{if $consumer.consumer_email}-->
  
  <tr>
  <td class="td1" align="right" valign="top">
  <!--{_t key='seoplink_femail'}-->
  :
  </td>
  <td class="td2">
  <!--{$consumer.consumer_email}-->
  </td>
  </tr>
  <!--{/if}-->
  <!--{if $site.name}-->
  
  <tr>
  <td class="td1" align="right" valign="top">
  <!--{_t key='seoplink_site_name'}-->
  :
  </td>
  <td class="td2">
  <input type="text" size="40"  name="name" value="<!--{$site.name}-->">
  </td>
  </tr>
  <!--{/if}-->
  <!--{if $site.url}-->
  
  <tr>
  <td class="td1" align="right" valign="top"><!--{_t key='seoplink_site_url'}-->
  :
  </td>
  <td class="td2">
  <input type="text" size="40"  name="url" value="<!--{$site.url}-->">
  </td>
  </tr>
  <!--{/if}-->
  <!--{if $site.comment}-->
  
  <tr>
  <td class="td1" align="right" valign="top"><!--{_t key='seoplink_site_comment'}-->
  :
  </td>
  <td colspan="3" class="td2">
  <textarea cols="34" rows="5" name="comment"><!--{$site.comment}--></textarea>
  </td>
  </tr>
  <!--{/if}-->
  <!--{if $class.name}-->
  
  <tr>
  <td class="td1" align="right" valign="top"><!--{_t key='seoplink_site_category'}-->
  :
  </td>
  <td class="td2" valign="top">
  <select name='class'><!--{$str_classes}--></select>
  </td>
  </tr>
  <!--{/if}-->
  <!--{if $site.linkpage_url}-->
  
  <tr>
  <td class="td1" align="right" valign="top"><!--{_t key='seoplink_site_linkpage_url'}-->
  :
  </td>
  <td class="td2">
  <input type="text" size="40"  name="linkpage_url" value="<!--{$site.linkpage_url}-->">
  </tr>
  <!--{/if}-->
  <!--{if $site.created}-->
  
  <td class="td1" align="right" valign="top"><!--{_t key='created_at'}-->
  :
  </td>
  <td class="td2">
  <input type="text" size="40"  name="created" value="<!--{$created}-->">
  </tr>
  <!--{/if}-->
  <tr height="20"><td colspan="2" align="center">
  <!--{if $site.is_custom}-->
  <input type="hidden" name="is_custom" value='1'>
  <!--{else}-->
  <input type="hidden" name="is_custom" value='0'>
  <!--{/if}-->
  <input type="hidden" name="id" value='<!--{$site.id}-->'>
  <input type='submit' value="<!--{_t key='submit'}-->" id="submit" />
  </td></tr>
  </table>
  </form>
</div>
</div> 
</div>
</body>
</html>
