.container {
	margin:0 auto;
	width:900px;
	background-color:#373737;
}
.header_search_input01{
    border: 1px solid #535252;
    color: #555555;
    font-size: 12px;
    height: 10px;
    padding: 3px 5px;
    width: 110px;
}
.web_3{
width:100%;
}
.web_3 td{
width:20%;
}
.web_3_top {
	width:100%;
}
.web_3_top a { font-size:12px;}
.web_3_top h3 a{
	padding-left:10px;
	font-size:12px;
	font-weight:bold;
	color:#555;
	background:url(../../../images/design/box/arrow_2.gif) no-repeat left center;
}
.web_3 a{
	padding-left:10px;
	font-size:12px;
	background:url(../../../images/design/box/arrow_2.gif) no-repeat left center;
}
.web-tit a{ font-size:12px;}
.search_and_tools{
	overflow:hidden;
	margin-bottom:5px;
/*	background-color:#F2F2F2;
*/}
.text_out { font-size:12px;}
.boxes {
	padding:0;
/*	margin-bottom:5px;
	background:#F2F2F2;
*/	
}
.boxes_02 {
	margin-bottom:15px;
/*	background:#F2F2F2;
*/	
}
.category_h2{ 
	height:24px;
	background:#F2F2F2 url(../../../images/design/link_h1.gif) no-repeat;;
}
#content{
clear:both;
padding:0 8px;
}
#content a { font-size:12px;}
.search_head{
float:right;
width:700px;
padding-left:0;
padding-right:8px;
background:url(../../../images/design/link_h.gif) no-repeat top left;
}
.tools{
float:left;
width:170px;
background:url(../../../images/design/menu.gif) no-repeat top left;
margin-left:8px;
}
.boxes h1 {
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	height:24px;
	line-height:24px;
	text-align:center;
}
.boxes h2 {
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	height:24px;
	line-height:24px;
	text-align:center;
}
.boxes_02 h2 {
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	height:24px;
	line-height:24px;
	text-align:center;
}
.linkcheck_h3{
	font-size:12px;
	font-weight:bold;
}
.link_h2{
	
}
.link_h1 img {
	vertical-align:middle;
}
.middle {
    background-color: #CDCACC;
    border: 1px solid #616060;	padding:5px;
	margin:5px;
}
.middle_class{
margin-top:10px;
margin-bottom:5px;
}
.all_links{
width:884px;
float:right;
margin:0 8px 15px 8px;
background: url(../images/design/comment1_bg.gif) repeat-y scroll 0 0 transparent;
}
#custom{
padding-left:185px;
width:75%;
}
.web_3_title strong {
	padding-left:10px;
	color:#C51138;
	background:url(../../../images/design/box/arrow_2.gif) no-repeat left center;
}
.search_head_text{
height:150px;
padding-bottom:0;
}
.tools_links{
height:150px;
}
.tools_link a{
display:block;
line-height:24px;
background:url(../../../images/design/box/arrow_2.gif) no-repeat scroll left center transparent;
color:#555;
font-size:12px;
font-weight:bold;
padding-left:10px;
}
.web a{
font-size:12px;
}
.web_page_table{
width:100%;
}
.web_page_table a{
font-size:12px;
}
.web_page_table tr:hover{
background:#eee;
}
#email{
display:none;
}
#linksite{
padding-left:185px;
padding-top:10px;
}
.submit_form_div{
/*padding-left:185px;*/
padding-top:10px;
}
#content_class{
height:auto;
}
#content_linkpage_url{
width:400px;
}
#content_comment{
width:400px;
}
#content_fname{
width:400px;
}
#content_femail{
width:400px;
}
#content_fpass{
width:400px;
margin-bottom:2px;
}
#content_fpass2{
width:400px;
}
#content_name{
width:400px;
}
#content_url{
width:400px;
}
#image_code{
width:50px;
}
.send_mail{
display:block;
width:35px;
height:17px;
margin-left:3px;
background:url(images/button_send_mail.gif) no-repeat;
}
.button02{
cursor:pointer;
text-indent:-2500px;
border:none;
display:block;
width:47px;
height:17px;
background:url(images/button02.gif) no-repeat;
}
.footer_link {
    background: url(../images/design/footer_xian.gif) repeat-x scroll 0 0 transparent;
    height: 24px;
    line-height: 27px;
	text-align:center;
}
.footer_link a {
    color: #FFFFFF;
    font-size: 12px;
    padding: 0 10px;
}
.footer_link a:hover {
	color:#0c9dea;
	text-decoration:underline;
}
.categories{
    background: url(../images/design/categories_bg.gif) repeat-y scroll 0 0 transparent;
    border-bottom: 2px solid #4C4C4C;
    margin-bottom: 5px;
	padding-bottom:33px;
    overflow: hidden;
    width: 170px;
}
.coment_edit { 
	background: url(../images/design/comment_bg.gif) repeat-y scroll 0 0 transparent;
    border-bottom: 2px solid #4C4C4C;
    margin:0;
	padding:2px 0;
    width: 700px;
}
.coment_edit1 { 
	background: url(../images/design/comment1_bg.gif) repeat-y scroll 0 0 transparent;
    border-bottom: 2px solid #4C4C4C;
    margin: 0 auto 5px;
	padding:2px 0 10px 0;
    width: 884px;
}
