<!--{php}-->
<?xml version="1.0" encoding="UTF-8"?>   <!-- {/php}-->
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml"  lang="ja-JP">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
      
    <link href="images/class/cssbase-min.css" type="text/css" rel="stylesheet">
    <link href="images/class/cssfonts-min.css" type="text/css" rel="stylesheet">
    <link href="images/class/cssreset.css" type="text/css" rel="stylesheet">
    <link href="images/class/grids-min.css" type="text/css" rel="stylesheet">
    <link href="images/class/hm-gm.css" type="text/css" rel="stylesheet">
    <link href="images/class/hm.css" type="text/css" rel="stylesheet">


   <!-- <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
    <link type="text/css" rel="stylesheet" href="images/class/style.css" />-->
    <script type='text/javascript' src='public/cookie.js'></script>
    <script type='text/javascript' src='public/style.js'></script>
    <script type='text/javascript' src='Script/jquery-1.4.2.js'></script>
<!--{if $seo}-->
<title><!--{$seo.title}--></title>
<meta name="keywords" content="<!--{$seo.keywords}-->" />
<meta name="description" content="<!--{$seo.description}-->" />
<meta name="robots" content="<!--{$seo.robots}-->" />
<meta name="copyright" content="<!--{$seo.copyright}-->" />
    <!--{else}-->
    <title>相互リンク集｜RMTゲームマネー</title>
    <!--{/if}-->
    </head>
<body id='body'>
    <div id="header">

     <div id="header-top" class="yui3-g">
     <div class="yui3-u-1-3">
     <div id="business-hour">
     <img src="image/header_time.gif">
     <h1>RMT 最安値-アイテムの激安販売</h1>
     <span>営業時間10：00～24：00 365日年中無休</span>
     </div>
     </div>
     <div id="logo" class="yui3-u-1-3">
     <a href="http://gm.hm1002.200.com">
     <img alt="logo" onmouseout="this.src='image/logo.gif'" onmouseover="this.src='image/logo_hover.gif'" src="image/logo.gif">
     </a>
     </div>
     <div id="header-payment" class="yui3-u-1-3">
     <img width="368" height="46" alt="payment" src="/image/header_payment.gif">
     </div>
     </div>
     <div id="header-nav" class="yui3-u">
     <ul>
     <li class="space-1-7">
     <a href="http://gm.hm1002.200.com/shopping_cart.php">
     <img onmouseout="this.src='/image/shopping.png'" onmouseover="this.src='/image/shopping_hover.png'" alt="shopping" src="/image/shopping.png">
     </a>
     </li>
     <li class="space-2-7">
     <a href="http://gm.hm1002.200.com/info/guide.html">
     <img onmouseout="this.src='/image/space.png'" onmouseover="this.src='/image/space_hover.png'" alt="space" src="/image/space.png">
     </a>
     </li>
     <li class="space-3-7">
     <a href="/info/starting_rmt.html">
     <img onmouseout="this.src='/image/getin.png'" onmouseover="this.src='/image/getin_hover.png'" alt="qetin" src="/image/getin.png">
     </a>
     </li>
     <li class="space-4-7">&nbsp;</li>
     <li class="space-5-7">
     <a href="/contact_us.php">
     <img onmouseout="this.src='/image/quick.png'" onmouseover="this.src='/image/quick_hover.png'" alt="quick" src="/image/quick.png">
     </a>
     </li>
     <li class="space-6-7">
     <a href="http://gm.hm1002.200.com/create_account.php">
     <img onmouseout="this.src='/image/login.png'" onmouseover="this.src='/image/login_hover.png'" alt="login" src="/image/login.png">
     </a>
     </li>
     <li class="space-7-7">
     <img id="login_click" onclick="lg()" onmouseout="this.src='/image/MENBERS_after.png'" onmouseover="this.src='/image/MENBERS_after_hover.png'" src="/image/MENBERS_after.png">
     </li>
     </ul>
     </div>
     </div>
</div>
   <div id="main">
<div id="layout" class="yui3-u">
<div id="current">
<img src="/images/navbar_img.png">
<a class="headerNavigation" href="/">RMT</a>
<img src="images/point.png">相互リンク募集中

</div>
<div id="main-content">
<div id="box">
<ul class="product_listing">
<li><a class="product_listing_link" href="/<!--{$hostlink}-->/">相互リンク集TOP</a></li>
<li><a class="product_listing_link" href="<!--{url controller=site action=regist}-->">新規登録</a></li>
<li><a class="product_listing_link" href="<!--{url controller=site action=renew}-->">更新されたサイト</a></li>
<li><a class="product_listing_link" href="<!--{url controller=site action=new}-->">新着サイト</a></li>
<li><a class="product_listing_link" href="<!--{url controller=site action=recommend}-->">おすすめサイト</a></li>
<li><a class="product_listing_link" href="<!--{url controller=site action=sitemap}-->">サイトマップ</a></li>
</ul>
</div>

<div class="box_title">メニュー</div>
  <div class="search_head">
        <!--{include file='Site/header_search.html'}-->

 
