<!--{if $classkind.children}-->
<div id="web-box">
<span class="web-line"><b class="x1">&nbsp;</b><b class="x2">&nbsp;</b><b class="x3">&nbsp;</b><b class="x4">&nbsp;</b><b class="x5">&nbsp;</b><b class="x6">&nbsp;</b><b class="x7">&nbsp;</b></span>
<div class="web-tit_classbox"><div class="web_3_title">
<strong><!--{$classkind.name}--></strong></div>
</div>
<div class="web-menu">
</div>
<!--{section name=loopClass loop=$classkind.children}-->
<!--{if $smarty.section.loopClass.first}-->
<table class="web">
<!--{/if}-->
  <tr class="t1">
    <td>
    <span class="web-ico">&nbsp;</span>
    <a class = "web-ico-a" href='<!--{url controller=site action=class id=$classkind.children[loopClass].class_id}-->'><!--{$classkind.children[loopClass].name}-->
    </a>
    </td>
  </tr>
<!--{if $smarty.section.loopClass.last}-->
</table>
<!--{/if}-->
<!--{/section}-->
</div>
<!--{/if}-->
<!--{if $sites}-->
<div class="web-box">
<span class="web-line"><b class="x1">&nbsp;</b><b class="x2">&nbsp;</b><b class="x3">&nbsp;</b><b class="x4">&nbsp;</b><b class="x5">&nbsp;</b><b class="x6">&nbsp;</b><b class="x7">&nbsp;</b></span>
<div class="web-tit_classbox">
<div class="web_3_title">
<strong><!--{$class.name}--></strong></div>
</div>
<div class="web-menu">
</div>
</div>
<!--{section name=loopSite loop=$sites}-->
<!--{if $smarty.section.loopSite.first}-->
<div id ='web_page'>
<table class="web_page_table">
<!--{/if}-->
<tr>
<td class="web_table_td1"><strong><a target="_blank" href="<!--{$sites[loopSite].url}-->">
<!--{$sites[loopSite].name}--></a></strong></td>
<td class="web_table_td2"><!--{$sites[loopSite].comment}--></td>
</tr>
<!--{if $smarty.section.loopSite.last}-->
</table>      
</div>
<!--{/if}-->
<!--{/section}-->
<div id='fornt_pager'>
<!--{include file=Admin/pager.html    }-->
</div>
<!--{/if}-->



<!--{if $class.sites}-->
<div class="web-box">
<span class="web-line"><b class="x1">&nbsp;</b><b class="x2">&nbsp;</b><b class="x3">&nbsp;</b><b class="x4">&nbsp;</b><b class="x5">&nbsp;</b><b class="x6">&nbsp;</b><b class="x7">&nbsp;</b></span>
<div class="web-tit"> <div class="web_3_title">
<h2><!--{$class.name}--></h2></div>
</div>
<div class="web-menu">
</div>

<!--{section name=loopSite loop=$class.sites}-->
<!--{if $smarty.section.loopSite.first}-->
<table class="web">
<!--{/if}-->
	<tr class="t1">
		<td>
		<span class="web-ico">&nbsp;</span><h3><a class = "web-ico-a"
                href='<!--{$class.sites[loopSite].url}-->'
                target='_blank'><!--{$class.sites[loopSite].name}--></a><h3>
		<!--{if $class.sites[loopSite].comment}-->
		<p><h3><a href='<!--{url controller=site action=detail
                  id=$class.sites[loopSite].id}-->'><!--{$class.sites[loopSite].comment|truncate:36:"..."}--></a></h3></p>
		<!--{/if}-->
		</td>
	</tr>
<!--{if $smarty.section.loopSite.last}-->
	<!--{section name=loopClassAdd loop=$sitesAdd}-->
	<td></td>
	<!--{/section}-->
</tr>
</table>
<!--{/if}-->
<!--{/section}-->
</div>
<!--{/if}-->
<!--{if !$classkind.sites && !$classkind.children}-->
<div id="no_datas">
「<!--{$classkind.name}-->」<!--{_t key=no_datas_msg}-->
</div>
<!--{/if}-->
