<div class="footer_5" id="footer">
          <div class="info_foot01">

          <a
          href="http://www.itemdepot.jp/info/salespolicies.html">特定商取引法に基づく表記</a>|
          <a href="http://www.itemdepot.jp/info/orderflow.html">お取引の流れ</a>|
          <a href="http://www.itemdepot.jp/info/guide.html">ご利用方法</a>|
          <a href="http://www.itemdepot.jp/info/smartpit.html">コンビニ決済</a>|
          <a href="http://www.itemdepot.jp/info/qa.html">Q&amp;A</a>|
          <a href="http://www.itemdepot.jp/info/profile.html">会社概要</a>|
          <a href="http://www.itemdepot.jp/link/">相互リンク</a>        
         </div>
         <font color="#333333">当ウェブサイトに記載されている会社名・製品名・システム名などは、各社の登録商標、もしくは商標です。</font> 
         <address class="footer_contacts"> Copyright &copy;2013 <a href="http://www.itemdepot.jp/">RMTアイテムデポ</a> </address>
        <div class="info_foot02"> | <a target="_blank" href="http://www.iimy.co.jp/">RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-168.html">FF11 RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-195.html">レッドストーン RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-169.html">リネージュ2 RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-171.html">ラグナロク RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-591.html">PSO2 RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-396.html">AION RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-178.html">信長の野望 RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-325.html">ラテール RMT</a> |<br>
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-218.html">アラド RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-247.html">ウェブマネー</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-456.html">FF14 RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-278.html">アトランティカ RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-170.html">リネージュ RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-547.html">TERA RMT</a> | 
                                    <a target="_blank" href="http://www.iimy.co.jp/rmt/c-597.html">DQ10 RMT</a> | 
                                    <a target="_blank" href="http://37109.jp/pc/event/">香川 イベント</a> | 
                                    <a target="_blank" href="http://www.orangere.com/">香川県高松市の賃貸</a> |
        </div>
  <!-- footer_eof --> 
</div>
</body>
</html>
