<table id="footer" class="footer_5" cellpadding="0" cellspacing="0" summary="footer">
      <tr>
     <td align="center">
        <div class="info_foot01">
        <a href="/info/salespolicies.html">特定商取引に基づく表記</a>|<a href="/info/guide.html">ご利用方法</a>|<a href="/info/profile.html">会社概要</a>|          <a href="/contact_us.php">お問い合わせ</a>          | 
          <a href="/link/">相互リンク</a>

         </div>
      </td>
    </tr>
    <tr>
        <td>
          <address class="footer_contacts">
            <font color="#333333">当ウェブサイトに記載されている会社名·製品名·システム名などは、各社の登録商標、もしくは商標です。</font>
      <br/>

              Copyright&nbsp;&copy;&nbsp;2011&nbsp;&nbsp;<a class="bold" href="/">RMTアイテムデポ</a>
            </address>
        </td>
    </tr>
</table>

</body>
</html>
