<!--{php}-->
echo '<?xml version="1.0" encoding="UTF-8"?>';
<!--{/php}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link type="text/css" rel="stylesheet" href="../css/id.css" />
<link type="text/css" rel="stylesheet" href="images/class/style.css" />
<script type='text/javascript' src='public/style.js'></script>
<script type='text/javascript' src='Script/jquery-1.4.2.js'></script>
<!--{if $seo}-->
<title><!--{$seo.title}--></title>
<meta name="keywords" content="<!--{$seo.keywords}-->" />
<meta name="description" content="<!--{$seo.description}-->" />
<meta name="robots" content="<!--{$seo.robots}-->" />
<meta name="copyright" content="<!--{$seo.copyright}-->" />
<!--{else}-->
<title>相互リンク集｜RMTRMTアイテムデポ</title>
<!--{/if}-->
<script type="text/javascript" src="Scripts/AC_RunActiveContent.js"></script>
</head>
<body id='body'>
  <div id="title"> RMT
    <a href="javascript:void(0);" style="cursor:hand" onKeyPress="SomeJavaScriptCode" onClick="if (document.all) {window.external.AddFavorite(location.href, document.title)} else {window.sidebar.addPanel(document.title, location.href, null)}">RMT総合サイト アイテムデポをお気に入りに追加して下さい！</a>
  </div>
<div id="header">
    <div id="header_flash">
          <table cellpadding="0" cellspacing="0" border="0" summary="logo">
            <tr>
              <td>
				<embed src="../../../images/design/header_flash.swf?url_1=http://www.3id.kthiz.200.com" quality=high  width="900" height="120" ></embed>
              </td>
            </tr>
          </table>
    </div>
    <div id="header_Menu">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="432">
                 <div style="height: 43px; overflow:hidden;">
                  <form name="quick_find" action="/advanced_search_result.php" method="get">
                    <table style="margin-top: 3px;" cellpadding="2" cellspacing="2" summary="search">
                      <tr>
                        <td><img class="middle" src="../images/design/button/search_text.gif" width="76" height="25" alt="RMT検索" /></td>
                        <td><select name="categories_id" class="header_search_select">
                            <option value="" selected="selected">全てのゲーム</option>
                            <option value="168">FF11 RMT</option>
                            <option value="396">AION RMT</option>
                            <option value="195">レッドストーン RMT</option>
                            <option value="169">リネージュ2 RMT</option>
                            <option value="200">CABAL RMT</option>
                            <option value="231">SUN RMT</option>
                            <option value="278">アトランティカ RMT</option>
                            <option value="325">ラテール RMT</option>
                            <option value="171">ラグナロク RMT</option>
                            <option value="250">ルーセントハート RMT</option>
                            <option value="468">蒼天 RMT</option>
                            <option value="299">エミルクロニクル RMT</option>
                            <option value="253">大航海時代 RMT</option>
                            <option value="450">タルタロス RMT</option>
                            <option value="444">ドラゴニカ RMT</option>
                            <option value="431">エイカオンライン RMT</option>
                            <option value="190">テイルズウィーバー RMT</option>
                            <option value="462">エルソード RMT</option>
                            <option value="319">女神転生IMAGINE RMT</option>
                            <option value="287">クロノス RMT</option>
                            <option value="459">ヴァルキリースカイ RMT</option>
                            <option value="430">カナン RMT</option>
                            <option value="308">RFonlineZ RMT</option>
                            <option value="477">アイラオンライン</option>
                            <option value="382">ROHAN RMT</option>
                            <option value="453">トリックスター RMT</option>
                            <option value="436">ファンタジーアース ゼロ RMT</option>
                            <option value="447">アークサイン RMT</option>
                            <option value="441">ルシエルブルー RMT</option>
                            <option value="465">RAPPELZ RMT</option>
                            <option value="385">WYD RMT</option>
                            <option value="367">ミックスマスター RMT</option>
                            <option value="425">チョコットランド RMT</option>
                            <option value="302">デカロン RMT</option>
                            <option value="399">SEKIHEKI RMT</option>
                            <option value="422">MU RMT</option>
                            <option value="337">天上碑 RMT</option>
                            <option value="295">シャイヤ RMT</option>
                            <option value="402">グランドファンタジア RMT</option>
                            <option value="170">リネージュ RMT</option>
                            <option value="292">ナイトオンライン RMT</option>
                            <option value="222">夢世界 RMT</option>
                            <option value="322">マスターオブエピック RMT</option>
                            <option value="179">マビノギ RMT</option>
                            <option value="305">ルナ トゥインクル RMT</option>
                            <option value="209">メイプルストーリー RMT</option>
                            <option value="410">イースオンライン RMT</option>
                            <option value="238">十二之天 RMT</option>
                            <option value="206">アークロード RMT</option>
                            <option value="221">三国志 RMT</option>
                            <option value="212">パーフェクトワールド RMT</option>
                            <option value="331">ローズオンライン RMT</option>
                            <option value="407">エンジェル戦記 RMT</option>
                            <option value="281">LEGEND of CHUSEN RMT</option>
                            <option value="286">ルナティア RMT</option>
                            <option value="413">パンヤ RMT</option>
                            <option value="416">プリウス RMT</option>
                            <option value="340">オマージュ RMT</option>
                            <option value="370">R2 RMT</option>
                            <option value="241">パンドラサーガ RMT</option>
                            <option value="177">PSU RMT</option>
                            <option value="419">天地大乱 RMT</option>
                            <option value="328">コルムオンライン RMT</option>
                            <option value="334">グラナドエスパダ RMT</option>
                            <option value="343">World of Warcraft RMT</option>
                            <option value="346">ウルティマオンライン RMT</option>
                            <option value="349">英雄オンライン RMT</option>
                            <option value="355">ラストカオス RMT</option>
                            <option value="358">エターナルカオスNEO RMT</option>
                            <option value="364">フローレンシア RMT</option>
                            <option value="373">三国無双 RMT</option>
                            <option value="376">コンチェルトゲート RMT</option>
                            <option value="379">TANTRA RMT</option>
                            <option value="244">熱血江湖 RMT</option>
                            <option value="203">ラグナロク2 RMT</option>
                            <option value="215">モンスターハンター RMT</option>
                            <option value="471">ブライトシャドウ RMT</option>
                            <option value="472">三国志豪傑伝 RMT</option>
                            <option value="247">ウェブマネー RMT</option>
                          </select></td>
                        <td><input style="height:auto;" type="text" name="keywords" value="RMT" class="header_search_input" /></td>
                        <td><input name="imageField" type="submit" class="header_search_submit" value="" alt="検索" /></td>
                      </tr>
                    </table>
                    <input type="hidden" name="search_in_description" value="1" />
                    <input type="hidden" name="inc_subcat" value="1" />
                  </form>
                 </div>
              </td>
              <td width="400" valign="top">
                 <div style="overflow: hidden; height: 30px;">
                  <table cellspacing="1" cellpadding="0" summary="search" class="header_botton_link">
                    <tr>
                        <td><a href="/checkout_products.php" class="header_menu_3"></a></td>
                        <td><a href="/shopping_cart.php" class="header_menu_2"></a></td>
                        <td><div class="top_subto_link"><span id="jk-shoppingcart">0円</span></div></td>
                    </tr>
                  </table>
                 </div>
              </td>
            </tr>
          </table>
    </div>
    <div class="header_Navigation">
      <div class="header_navigation_content">
          <p class="header_Navigation_p">
            <a href="/sitemap.php">サイトマップ</a>
            &nbsp;&nbsp;
            <!--{$bread}-->
          </p>
        </div>
    </div>

<div class="search_head">
<!--{include file='Site/header_search.html'}-->
</div>
