<!--{include file='Site/header.html'}-->
<div id="content">
<div class="top"></div>
<div class="middle">
<div id="custom">
<!--{if $state eq '1'}-->
<!--{_t key='del_success'}-->
<!--{elseif $state eq '2'}-->
<!--{_t key='id_or_pass_wrong'}-->
<!--{else}-->
<!--{_t key='please_check'}-->
<!--{/if}-->

<div class="site_del_return">

<!--{if $state eq '1'}-->
<a href="<!--{url controller=site action=sitelist}-->" >
<!--{elseif $state eq '2'}-->
<a href="<!--{url controller=site action=editsite id=$id}-->" >
<!--{elseif $state eq '3'}-->
<a href="<!--{url controller=site action=editsite id=$id}-->" >
<!--{/if}-->
<!--{_t key="site_del_return"}-->
</a>
</div> <!--end of .site_del_return -->
</div> 
</div>
<div class="bottom"></div>
</div>
<!--{include file=Site/footer.html}-->
