<div id="footer">
<div class="footer_link">
<a
href="http://www.redstone-rmt.com/info/salespolicies.html">特定商取引に基づく表記</a>|
<a href="http://www.redstone-rmt.com/info/guide.html">ご利用方法</a>|
<a href="http://www.redstone-rmt.com/info/smartpit.html">コンビニ決済</a>|
<a href="http://www.redstone-rmt.com/info/faq.html">FAQ</a>|
<a href="http://www.redstone-rmt.com/info/companyprofile.html">会社概要</a>|
<a
href="http://www.redstone-rmt.com/info/privacypolicy.html">プライバシーポリシー</a>|
<a href="http://www.redstone-rmt.com/link/">相互リンク</a>
</div>
<div class="footer_address">
当ウェブサイトに記載されている会社名・製品名・システム名などは、各社の登録商標、もしくは商標です。
<address class="footer_contacts">
Copyright &copy;2013 <a href="http://www.redstone-rmt.com">RedStone-RMT.com</a>
</address>
</div>
</div>
</body>
</html>
