<!--{include file='Site/header.html'}-->
<div id="content">
<div class="top"></div>
<div class="middle">
<div id="linkcheck">
<div class="custom-menu">
		<a href='<!--{url controller=site action=index}-->'><img
                src="images/backpic/custom-door.gif" alt="door" width="16" height="16" /> <!--{_t key='custom_close_window'}--></a>
	</div>

        <div class="submit_form_div">
        <!--{if $state eq 1}-->
        <!--{_t key="send_success"}-->
        <!--{else}-->
        <!--{_t key="send_faild"}-->
        <!--{/if}-->

        <br />
        <a href="<!--{url controller=site action=sitelist}-->" >
        <!--{_t key="table_return"}-->
        </a>
        <div>
</div>
</div>
</div>
</div>
<div class="bottom"></div>
</div> 
<!--{include file=Site/footer.html}-->
