<!--{include file='Site/header.html'}-->
<div id="content">
<div class="coment_edit1 boxes">
<div class="category_h2"></div>
<div class="middle">
<div id="custom">

<div class="site_list">
<!--{assign var=pager_data value=$pager->getPagerData()}-->
<div class="custom-menu">

<!--{if $pager_data.firstPage eq $pager_data.currentPage}-->
<!--{_t key="prevPage"}-->
<!--{else}-->
<!--{if $pager_data.prevPage eq 1}-->
<a class="site_page_link02" href="<!--{url controller=site action=recommend }-->" >
<!--{else}-->
<a class="site_page_link02" href="<!--{url controller=site action=recommend page=$pager_data.prevPage}-->" >
<!--{/if}-->
<!--{_t key="prevPage"}-->
</a>
<!--{/if}-->
|
<!--{assign var=pages value=$pager->getNavbarIndexs($pager_data.current_page)}-->
<!--{section name=page loop=$pages}-->
<!--{if $pager_data.currentPage eq $pages[page].index}-->
<b> <!--{$pages[page].index}--></b>
<!--{else}-->
<!--{if $pages[page].index eq 1}-->
<a class="site_page_link01" href="<!--{url controller=site action=recommend }-->" >
<!--{else}-->
<a class="site_page_link01" href="<!--{url controller=site action=recommend page=$pages[page].number}-->" >
<!--{/if}-->
<!--{$pages[page].index}-->
</a>
<!--{/if}-->
|
<!--{/section}-->

<!--{if $pager_data.lastPage eq $pager_data.currentPage}-->
<!--{_t key="nextPage"}-->
<!--{else}-->
<a class="site_page_link02" href="<!--{url controller=site action=recommend page=$pager_data.nextPage}-->" >
<!--{_t key="nextPage"}-->
</a>
<!--{/if}-->
</div> <!--end of .site_page-->
<!--{assign var="sites" value=$pager->findAll()}-->
<!--{section name=list loop=$sites}-->
<div id="sites_add">
<img width="55" height="15" border="0" alt="<!--{$sites[list].name}-->"
src="http://cabbage-search.jp/pr/?url=<!--{$sites[list].url}-->"/>
<a href="<!--{$sites[list].url}-->" target="_blank" >
<!--{$sites[list].name}-->
</a>
<!--{if $sites[list].is_recommend  eq '1'}-->
<img src="images/isrec.gif" alt='recommend '/>
<!--{/if}-->
<!--{if $sites[list].is_king eq '1'}-->
<img src="images/rec.gif" alt='king'/>
<!--{/if}-->
<br /><br />
<!--{_t key="update_date"}-->:<!--{$sites[list].updated|date_format:"%Y-%m-%d %H:%M:%S"}-->
[
<a href="<!--{url controller=site action=editsite id=$sites[list].id}-->" >
<!--{_t key="edit_or_delete"}-->
</a>
]
&nbsp;
[
<a href="<!--{url controller=site action=mailadmin id=$sites[list].id}-->" >
<!--{_t key="mail_to_admin"}-->
</a>
]
<br /><br />
<!--{$sites[list].comment}--><br /><br />
</div> 
<!--{/section}-->
<div class="custom-menu">
<!--{if $pager_data.firstPage eq $pager_data.currentPage}-->
<!--{_t key="prevPage"}-->
<!--{else}-->
<!--{if $pager_data.prevPage eq 1}-->
<a class="site_page_link02" href="<!--{url controller=site action=recommend }-->" >
<!--{else}-->
<a class="site_page_link02" href="<!--{url controller=site action=recommend page=$pager_data.prevPage}-->" >
<!--{/if}-->
<!--{_t key="prevPage"}-->
</a>
<!--{/if}-->
|
<!--{assign var=pages value=$pager->getNavbarIndexs($pager_data.current_page)}-->
<!--{section name=page loop=$pages}-->
<!--{if $pager_data.currentPage eq $pages[page].index}-->
<b> <!--{$pages[page].index}--></b>
<!--{else}-->
<!--{if $pages[page].index eq 1}-->
<a class="site_page_link01" href="<!--{url controller=site action=recommend }-->" >
<!--{else}-->
<a class="site_page_link01" href="<!--{url controller=site action=recommend page=$pages[page].number}-->" >
<!--{/if}-->
<!--{$pages[page].index}-->
</a>
<!--{/if}-->
|
<!--{/section}-->

<!--{if $pager_data.lastPage eq $pager_data.currentPage}-->
<!--{_t key="nextPage"}-->
<!--{else}-->
<a class="site_page_link02" href="<!--{url controller=site action=recommend page=$pager_data.nextPage}-->" >
<!--{_t key="nextPage"}-->
</a>
<!--{/if}-->
</div> 
</div> 
</div> 
</div>
<div class="bottom"></div> 
</div></div>
<!--{include file=Site/footer.html}-->
