<!--{include file='Site/header.html'}-->
<div id="content">

<div id='custom'>
	<div id='msg'>&nbsp;</div>

	<div class="custom-menu">
		<a href='javascript:void(0);' onclick='clearCookie()'><img
                src="public/images/img/del.gif" alt="del" width="13" height="13" /> <!--{_t key='custom_clear_cookie'}--></a> | 
		<a href="<!--{url controller=Site action=index}-->" ><img
                src="public/images/backpic/custom-door.gif" alt="door" width="16" height="16" /> <!--{_t key='custom_close_window'}--></a>
	</div>
<div id='custom_site'>
		<h3><!--{_t key='custom_site_title'}--></h3>
	<div id='sites'></div>
	<div id='sites_add'>
		<!--{_t key='custom_site_name'}-->:<input id='new_name' maxlength='20' class="input-name" />
		<!--{_t key='custom_site_url' }-->:<input id='new_url'  maxlength='30' class="input-url" />
		<a href='javascript:void(0);' onclick='siteAdd()' title="<!--{_t key='custom_add_new'}-->" ><img src="/public/images/backpic/sites-add.gif" alt="add" width="16" height="16" /> <!--{_t key='custom_site_add'}--></a>
	</div>
</div>

</div>
<!--{include file=Site/footer.html}-->
