<div id="footer">
          当ウェブサイトに記載されている会社名・製品名・システム名などは、各社の登録商標、もしくは商標です。
          <address class="footer_contacts">
          Copyright &copy;2013 <a href="http://www.rmtgakuen.jp/">RMT学園</a>
          </address>
                    <div align="center">
                    | <a target="_blank" href="http://www.iimy.co.jp/">RMT</a> | 
                    <a target="_blank"
                    href="http://www.iimy.co.jp/rmt/c-591.html">PSO2 RMT</a> | 
                    <a target="_blank"
                    href="http://www.iimy.co.jp/rmt/c-168.html">FF11 RMT</a> | 
                    <a target="_blank"
                    href="http://www.iimy.co.jp/rmt/c-456.html">FF14 RMT</a> | 
                    <a target="_blank"
                    href="http://www.iimy.co.jp/rmt/c-169.html">リネ2 RMT</a> | 
                    <a target="_blank"
                    href="http://www.iimy.co.jp/rmt/c-597.html">ドラクエ RMT</a> | 
                    <a target="_blank"
                    href="http://www.iimy.co.jp/rmt/c-171.html">ラグナロク RMT</a> | 
                    <a target="_blank"
                    href="http://www.iimy.co.jp/rmt/c-178.html">信長の野望 RMT</a> | 
                    <a target="_blank"
                    href="http://www.iimy.co.jp/rmt/c-218.html">アラド RMT</a> | 
                    <a target="_blank"
                    href="http://www.iimy.co.jp/rmt/c-247.html">ウェブマネー</a> | 
                    <a target="_blank"
                    href="http://www.iimy.co.jp/rmt/c-278.html">アトランティカ
                    RMT</a> | 
                    <a target="_blank"
                    href="http://www.orangere.com/">香川県高松市の賃貸</a> |</div>
                    </div>
</body>
</html>
