<!--{include file='Site/header.html'}-->
<div id="content">
    <div class="top"></div>
        <div class="middle">
            <div id="linksite">
            <div class="custom-menu">
                </div>
            
                    <div class="return_form_div">
                    <form name="reture_form" action="<!--{url controller=site
                    action=regist}-->" method="post">
                    <input type="hidden" name="fname" value="<!--{$fname}-->" />
                    <input type="hidden" name="femail" value="<!--{$femail}-->" />
                    <input type="hidden" name="fpass" value="<!--{$fpass}-->" />
                    <input type="hidden" name="name" value="<!--{$name}-->" />
                    <input type="hidden" name="url" value="<!--{$url}-->" />
                    <input type="hidden" name="comment" value="<!--{$comment}-->" />
                    <input type="hidden" name="class" value="<!--{$class}-->" />
                    <input type="hidden" name="linkpage_url" value="<!--{$linkpage_url}-->" />
                    <input type="hidden" name="to_admin" value="<!--{$to_admin}-->" />
                    <input type="submit" value="<!--{_t key="return_setlinkcheck"}-->" />
                    </form>
                    <br />
                    <b>
                    <!--{_t key="site_preview_title"}-->
                    </b>
                    <br />
                    <!--{_t key="site_preview_attention"}-->
                    </div> <!-- end of .return_form_div -->
            
                    <div class="submit_form_div">
                    <!--{_t key='submit_form_attention'}-->
                    <br />
                <form name="submit_form" action='<!--{url controller=Site
                      action=linkcheck_submit}-->' method='post' onsubmit="return check_pre_Sm()">
                    <input type="hidden" name="preview" value="off" />
                <table class="linkcheck-ct">
                    <tr>
                        <td class="left" align="right" valign="top">
                            <!--{_t key='seoplink_fname'}-->
                            <!--{_t key='require_symbol'}-->:
                            </td>
                        <td class="right">
                            <!--{$fname}-->
                            <input type="hidden" id="content_fname" name='fname'
                            value="<!--{$fname}-->" class="input-fname" />
                            </td>
                    </tr>
                    <tr><td colspan="2" height="20"></td></tr>
                    <tr>
                        <td class="left" align="right" valign="top">
                            <!--{_t key='seoplink_femail'}-->
                            <!--{_t key='require_symbol'}-->:
                            </td>
                        <td class="right">
                            <!--{$femail}-->
                            <input id="content_femail" type="hidden" name='femail' value='<!--{$femail}-->' class="input-femail" /></td>
                    </tr>
                    <tr><td colspan="2" height="20"></td></tr>
                    <tr>
                        <td class="left" align="right" valign="top">
                            <!--{_t key='seoplink_fpass'}-->
                            <!--{_t key='require_symbol'}-->:
                            </td>
                        <td class="right">
                            ******
                            <input id="content_fpass" name='fpass' type="hidden" value='<!--{$fpass}-->' class="input-fpass" />
                            </td>
                    </tr>
                    <tr><td colspan="2" height="20"></td></tr>
                    <tr>
                        <td class="left" align="right" valign="top">
                            <!--{_t key='seoplink_site_name'}-->
                            <!--{_t key='require_symbol'}-->:
                            </td>
                        <td class="right">
                            <!--{$name}-->
                            <input id="content_name" type="hidden" name='name' value='<!--{$name}-->' class="input-name" /></td>
                    </tr>
                    <tr><td colspan="2" height="20"></td></tr>
                    <tr>
                        <td class="left" align="right" valign="top"><!--{_t key='seoplink_site_url'}-->
                            <!--{_t key='require_symbol'}-->:
                            </td>
                        <td class="right">
                            <!--{$url}-->
                            <a href="<!--{$url}-->" target="_blank">
                            <font color="blue">
                            <!--{_t key="check_url"}-->
                            </font>
                            </a>
                            <input type="hidden" name='url' id="content_url" value='<!--{$url}-->' class="input-url" /></td>
                    </tr>
                    <tr><td colspan="2" height="20"></td></tr>
                    <tr>
                        <td class="left" align="right" valign="top"><!--{_t key='seoplink_site_comment'}-->
                            <!--{_t key='require_symbol'}-->:
                            </td>
                        <td colspan="3" class="right">
                            <!--{_t key="comment_attention}-->
                            <br />
                            <textarea id="content_comment" name='comment' rows="5" cols="20"
                            class="input-comment"><!--{$comment}--></textarea></td>
                    </tr>
                    <tr><td colspan="2" height="20"></td></tr>
                    <tr>
                        <td class="left" align="right" valign="top"><!--{_t key='seoplink_site_category'}-->
                            <!--{_t key='require_symbol'}-->:
                            </td>
                        <td class="right" valign="top">
                            <!--{$class_name}-->
                            <input type="hidden" name="class" value="<!--{$class}-->" />
                            </td>
                    </tr>
                    <tr><td colspan="2" height="20"></td></tr>
                    <tr>
                        <td class="left" align="right" valign="top"><!--{_t key='seoplink_site_linkpage_url'}-->
                            <!--{_t key='require_symbol'}-->:
                            </td>
                        <td class="right">
                            <!--{$linkpage_url}-->
                            <input id="content_linkpage_url" type="hidden" name='linkpage_url'
                            value='<!--{$linkpage_url}-->' class="input-linkpage-url"/></td>
                    </tr>
                    <tr><td colspan="2" height="20"></td></tr>
                    <tr>
                        <td colspan="2" class="button">
                            <input type='submit' value='<!--{_t
                              key=seoplink_site_submit_review}-->' class="input-submit" />
                            &nbsp;
                            <input type='reset' value='<!--{_t key=seoplink_site_reset}-->' class="input-submit" />
                            </td>
                    </tr>
                </table>
                </form>
            </div>
                    <div>
            </div>
            </div> 
        </div>
    <div class="bottom"></div>
</div>
<!--{include file=Site/footer.html}-->
