/* ---------------------------
文字装飾
--------------------------- */
a{
	font-size: 10px;
}
#a_font_12{
	font-size: 12px;
}
H1 {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
body{ font-size:12px;font-family: "MS PGothic", "Osaka", Arial, sans-serif;}
H2 {
	font-size: 10px;
	margin: 0px;
	padding: 0px;
}
h2 a{
	font-size: 10px;
}
H3 {
	font-size: 11px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
H4 {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: #000;
}
.bold {
	font-weight: bold;
}
.red {
	color: #C85050!important;
}
.line {
	width: 672;
	background:url(../../../images/design/box/dot.gif) repeat-x 0 15px;
	font-weight: bold;
	text-align: right;
	padding-bottom: 5px;
	margin-top: 4px;
	margin-bottom: 10px;
}
.comment {
	width: 498px;
	*width: 530px;
	margin: 0px;
	padding: 5px 15px 6px 15px;
	overflow: hidden;
	font-size:12px;
	background-color:#F2F0F0;
}
.comment_index02 , .comment_index01{
	width: 520px;
	margin: 0px;
	padding: 5px;
	overflow: hidden;
}
.comment_index01 img{
	float:left;
	margin-right:4px;
}
.comment_index01 p{
	clear:both;
}
.comment_index02 img{
	float:right;
	margin-left:4px;
}
table.comment {
	width:auto;
	margin: 0px;
	padding: 5px 15px 0px 15px;
	overflow: hidden;
	background: url(../../../images/design/contents/headding_content.gif) repeat-y;
}

/*.comment textarea {
width:370px;
}*/
.comment_long{
	width: 682px;
	*width: 714px;
	margin: 0px;
	padding: 5px 15px 5px 15px;
	overflow: hidden;
	border:1px solid #ccc;
}
p.pageBottom_long{
margin:0;
padding:0;
}
/* ---------------------------
画像
--------------------------- */
img.middle {
	vertical-align: middle;
	/*height:6px;*/
}
.dot {
	height: 1px;
	line-height: 0px;
	font-size: 0px;
	background-image: url(../../../images/design/box/dot.gif);
	background-repeat: repeat-x;
	margin: 10px 10px;
}
/* ---------------------------
リスト
--------------------------- */
UL {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.r_c_links_ul {
	padding: 5px 10px;
	margin: 0px;
	*margin-bottom: -5px;/*IE*/
	background-color: #f2f2f2;
}
.r_c_links_ul li {
	padding: 0px;
	height: 19px;
	overflow: hidden;
	margin: 0px 0px 2px 0px;	
}
.r_c_links_ul li a{
	display: block;
	line-height:17px;
	height: 17px;
	*line-height:19px;
	*height: 19px;
	overflow: hidden;
	background: #fff;
	border: solid 1px #ddd;
	padding: 0px 5px;
}
.r_c_links_ul li a:hover{
	color: #000;
	text-decoration: none;
	background: url(../../../images/design/box/bestlinks_menu_bg.gif) repeat-x;
}
.r_c_links_ul li span{
	display: block;
	line-height: 17px;
	height: 17px;
	overflow: hidden;
	padding: 0px 0px 0px 5px;
	background: url(../../../images/design/box/bestlink_ico.gif) 0px 5px no-repeat;
	margin: 0px;
}
.l_m_category_ul {
	list-style: none;
	text-align:center;
	padding: 0px;
	margin: 0 0 10px 0;
	width:170px;
}
.l_m_category_ul_infomation {
	list-style: none;
	text-align:left;
	padding: 0px;
	margin: 0 0 10px 0;
	width:170px;
}
.l_m_category_ul2 {
	list-style: none outside none;
/*	padding: 0 0 5px 5px;
	margin: 0 5px ;*/
	clear:both;
	*margin-top:-2px;
}
.l_m_category_ul3 {
	list-style: none outside none;
	padding: 0px 5px;
	margin: 16px 0px 0px 5px;
	*margin: -2px 0px 0px 5px;
}
.l_m_category_li, .l_m_category_li2{
	color: #004080;
	margin-bottom:2px;
	overflow: hidden;
	text-align:left;
}

.l_m_category_li, .l_m_category_li2{
	width:170px;
	overflow:hidden;
	background:url(../../../images/design/category_li.gif) no-repeat;
}
.l_m_category_li a, .l_m_category_li2 a{
	line-height: 26px;
	height: 24px;
	width:143px;
	*width:170px;
	margin:0 auto;
	font-size: 11px;
	display: block;
	padding-left:27px;
}
.l_m_category_li a:hover{
	background:url(../../../images/design/category_li_hover.gif) no-repeat;
	*width:170px;
	color:#AF0D32;
}
.l_m_category_li2 a:hover{
	*width:170px;
	color:#AF0D32;}
.l_m_category_li_infomation, .login_list_info{
	margin-bottom:2px;
	background:url(../../../images/design/category_li.gif) no-repeat scroll 0 0 transparent;
	height:24px;
	width:170px;
	overflow:hidden;
	font-weight:normal;
}
.l_m_category_li_infomation a, .login_list_info a{
	line-height: 25px;
	height: 24px;
	width:145px;
	margin:0 auto;
	font-size: 11px;
	display: block;
	overflow: hidden;
	padding-left:25px;
}
.l_m_category_li_infomation a:hover, .login_list_info a:hover{
	background:url(../../../images/design/category_li_hover.gif) no-repeat;
	color:#AF0D32;
	height:24px;
	width:170px;
	
}
.l_m_categories_tree{
	line-height: 10px;
	color: #555;
	margin: 0px;
/*	padding: 2px 0;
*padding:0;*/
	overflow: hidden;
	clear: both;
	width:168px;
	*width:170px;
	font-size:10px;
	background-color:#EBEAEA;
	height:26px;
	border-top:1px solid #fff;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.l_m_categories_tree3{
	line-height: 10px;
	color: #555;
	margin: 0px;
	padding: 2px 0px 0px 0px;
	overflow: hidden;
	clear: both;
}
.l_m_categories_tree img ,.l_m_categories_tree3 img{
	float: left;
	margin:11px 0 0 20px;
	*margin:6px 0 0 20px;
}
.l_m_categories_tree a{
	font-size: 10px;
	float: right;
	display: block;
	padding: 2px;
/*	line-height: 10px;*/
	*line-height: 15px;
	text-align:left;
	width:135px;
}
.l_m_categories_tree3 a{
	font-size: 11px;
	*font-size: 9px;
	float: right;
	display: block;
	padding: 2px 2px 2px 15px;
	*padding: 2px 2px 2px 2px;
	line-height: 10px;
	text-align:left;
	width:120px;
	margin-top:-10px;
	*margin-top:2px;
}
.l_m_categories_tree a:hover, .l_m_categories_tree3 a:hover{
/*	background: #fff;*/
	font-size: 10px;
	float: right;
	display: block;
	padding: 2px;
/*	line-height: 10px;*/
	*line-height: 15px;
	text-align:left;
	width:135px;

}
#information{
	margin-top: 10px;	
}
#login_form{
	width:166px;
	padding:1px;
}
#login_form ul{
	list-style: none;
    padding: 0;
    text-align: left;
    width: 170px;
}
/*#login_form table{
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 0px 5px;
	height: 70px;
	width:151px;
	margin:0 auto;
}*/
#login_form table .back_password{
	display:block; 
	float:left; 
	margin-top: 5px;	
	margin-left: 15px;
}
.login_box{ *margin-bottom:5px; width:170px;}
.login_info{
	*margin:2px 0 0 10px;	
}
.login_text_box{
	width: 113px;
	height: 20px;
	background: url(../../../images/design/box/login_text_bg.gif) no-repeat;
}
.login_text{
	width: 98px;
	height: 20px;
	border: none;
	background: none;
	padding: 3px 5px;
}
.login_submit{
	margin: 2px 16px 0px 0px;
}
.login_form_bottom{ *margin-top:-5px;}
#login_form table .menu{
    font-size: 12px;
	line-height: 20px;
	background: url(../../../images/design/box/dot.gif) repeat-x 0 bottom;
	padding: 0px 5px;
}
#login_form table .menu a{
	background: url(../../../images/design/menu_arrow.gif) no-repeat;
	padding: 0px 5px 0px 10px;
}
.ranking_warpper{
	width:170px; 
	margin:5px 0;
}
.ranking_area_lint{
	border-bottom:1px solid #ccc; 
	border-left:1px solid #ccc; 
	border-right:1px solid #ccc; 
	margin-bottom:3px;
	*margin-top:-5px;
	width:168px;
}
.ranking_area{
	width:168px;
	margin: 0 auto;
	clear:both;
	border-bottom:3px solid #F7F7F7;
	border-left:3px solid #F7F7F7;
	border-right:3px solid #F7F7F7;
	*margin:5px 0 0 0;
}
.ranking_money_ico{
	display: block;
	margin: 2px 0px 2px 2px;
}
.link{
	margin-bottom: 10px;
}
.reviews_box{ 
	width:170px;
	margin:0;
}
.reviews_top{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.reviews_top img{
	margin-bottom: 5px;
}
.reviews_bottom{
	margin: 0px;
	padding: 0px;
	width:150px;
	display:block;
}
.reviews_area{
	border: solid 1px #eee;
	background: #F6F6F5;
	padding: 8px;
}
.reviews_area p{
	margin: 0px;
	border: dotted 1px #ddd;
	background: #fff;
	padding: 5px;
	margin-bottom: 5px;
}
.reviews_area div{
	padding: 0px 5px;
}
/* ---------------------------
button
--------------------------- */
.button_order{
	display: block;
	width: 82px;
	height: 25px;
	background: url(../../../images/design/button/button_order.gif) no-repeat;
	overflow: hidden;
	font-size: 0px;
}
.button_order:hover{
	background: url(../../../images/design/button/button_order2.gif) no-repeat;
}
.button_description{
	display: block;
	width: 69px;
	height: 17px;
	background: url(../../../images/design/button/button_description.gif) no-repeat;
	overflow: hidden;
	font-size: 0px;
}
.button_description:hover{
	background: url(../../../images/design/button/button_description2.gif) no-repeat;
}
/* ---------------------------
input textarea select
--------------------------- */
.input_text, textarea, .input_text_short{
	border:1px solid #DDDDDD;
	color:#555555;	
	padding:3px 5px;
}
.input_text{
	width: 200px;
	height:20px;
}
.input_text_short{
	width: 40px;
	height:20px;
	text-align: right;
}
select{
	border:1px solid #DDDDDD;
	color:#555555;
	height:20px;
}
/* ---------------------------
ヘッダー
--------------------------- */
#title {
	margin: 0 auto;
	width:900px;
}
#header {
	width: 900px;
	margin:0 auto;
	background:#212121;
}
#header_Menu {
	overflow: hidden;
}
.header_menu_content{
    background: url(../../../images/design/menu_content.gif) no-repeat scroll 0 0 transparent;
    height: 23px;
    padding: 4px 0 0;
    width: 900px;}
.header_search_input{
	border: solid 1px #ddd;
	padding: 3px 5px;
	*padding:0;
	height: 19px;
	color: #555;
	width: 120px;
	font-size:12px;
}
.header_search_select{
	border: solid 1px #ddd;
	height: 20px;
	margin:0 8px;
	color: #555;
	width:172px;
}
.header_search_submit{
	width: 58px;
	border: none;
	height:21px;
	cursor: pointer;
	background: url(../../../images/design/button/search.gif) no-repeat;
}
.header_menu_2, .header_menu_3{
	display:block;
	line-height:19px;
	height:19px;
}
.header_menu_2{
	text-align:left;
	padding-left:25px;
	width:94px;
	*width:119px;
	margin-right:10px;
	color:#ffffff;
	background: url(../../../images/design/button/shopping_cart.gif) no-repeat;
}
.header_menu_3{
	padding-left:21px;
	width:66px;
	*width:89px;
	margin-right:10px;
	color:#ffffff;
	background: url(../../../images/design/button/checkout.gif) no-repeat;
}
.header_menu_4{
	width: 118px;
	height:19px;
	color:#ffffff;
	background: url(../../../images/design/button/header_menu_bg.gif) no-repeat;
}
.header_menu_4 span{
line-height:19px;
padding-right:5px;
}
.header_Navigation {
	width:890px;
	*width:900px;
	height:17px;
	*height:23px;
	background:url(../../../images/design/header_navigation.gif) no-repeat;
	font-size: 12px;
	margin:0 auto 5px auto;
	text-align:left;
	padding:2px 0 0 10px;
	color:#FFFFFF;
}
.header_Navigation a{
	color: #ffffff;
	font-size:12px;
}
.header_Navigation a:hover{
	color: #BC3436;
	font-size:12px;
}
.category_menu {
    font-size: 11px;
	background-color: #E5EBF2;
	border: 1px solid #B0BFCF;
	margin: 1px;
	padding-left: 1px;
}
/* ---------------------------
sitemap
--------------------------- */
.sitemap ul ul li{
	padding: 0px 5px;
	margin: 1px 0px;
	*+font-size: 10px;
}
.sitemap ul ul li a{
	color: #555!important;
}
.sitemap ul{
	list-style-position:inside;
	list-style-type:square;
	font-weight: bold;
}
.sitemap ul ul{
	list-style-position:inside;
	list-style-type:disc;
	margin: 0px 20px;
	font-weight: normal;
}
/* ---------------------------
ランキング
--------------------------- */
.bestseller_text {
    font-size: 10px;
	background: url(../../../images/design/box/ranking_title_bg.gif) no-repeat;
	padding-left: 5px;
	height:16px;
}
.bestseller_text a{
	display: block;
	width: 135px;
	height: 16px;
	line-height: 13px;
	overflow: hidden;
	padding-left:13px;
	color:#fff;
}
.bestseller_img {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 0px;
}
.bestseller_description {
	font-size: 10px;
}
.bestseller_description p{
	height: 56px;
	background: #fff;
	padding: 1px 2px;
	margin: 2px;
}
#contents, #contents_long{
	font-size: 11px;
	/*padding-top: 17px;*/
	padding-left: 13px;
	padding-bottom: 20px;
}
#contents{
	padding-right: 13px;
}
/* ---------------------------
Quick link
--------------------------- */
#quick_link{
	text-align: center;
	font-size: 12px;
}
#quick_link a:hover{
	text-decoration: underline;
}
/* ---------------------------
Game List
--------------------------- */
.game_list_content{
	padding-top: 5px;
}
.game_list_content td{
	vertical-align: top;
}
h3.game_list{
	font-size:10px;
	*+font-size:10px;
	margin-bottom: 15px;
	*margin-bottom: -5px;
}
h3.game_list br{
	margin: 0px;
	font-size: 0px;
	line-height: 0px;
}
h3.game_list a{
	width: 170px;
	height: 80px;
	padding-top: 4px;
}
h3.game_list a:hover{
	
}
/* ---------------------------
product listing
--------------------------- */
.product_listing_link01{
	background: url(../../../images/design/box/product_listing_sort_02.gif);
}
.product_listing_link02{
	background: url(../../../images/design/box/product_listing_sort_01.gif);
}
.product_listing_link{
	display:block;
	line-height:25px;
	height:25px;
	padding-left:25px;
	background: url(../../../images/design/box/product_listing_sort_01.gif);
	color:#000;
}
.product_listing_link:hover{
	display:block;
	height:25px;
	color:#fff;
	background: url(../../../images/design/box/product_listing_sort_02.gif) !important;
}
.product_listing_sort_1, .product_listing_sort_2{
	font-size: 11px;
	line-height: 1.5;
}
.product_listing_sort_1{
	background: url(../../../images/design/box/product_listing_sort_01.gif);
}
.product_listing_sort_2{
	background: url(../../../images/design/box/product_listing_sort_02.gif);
}
.product_listing_content{
	width: 650px;
	border: solid 1px #ddd;
	background: #fff;
	margin: 10px 11px;
	padding: 5px;
}
.product_listing_content02{
	width: 480px;
	border: solid 1px #ddd;
	background: #fff;
	margin: 10px 11px;
	padding: 5px;
}
/* ---------------------------
お知らせ
--------------------------- */
#news {
  	text-align: left;
}
.news_ul {
	padding: 0px;
	margin: 0px 10px;
}
.news_list {
    font-size: 11px;
	background-image: url(../../../images/design/box/dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding: 5px 0px;
	margin: 0px;
}
/*
#contents h2 {
	font-size: 14px;
	font-weight: normal;
	color: #516182;
}
*/
.menu_top{
	background: url(../../../images/design/box/menu.gif) no-repeat 0 bottom;
	height:35px;
	margin-bottom:2px;
	font-weight: bold;
	font-size:12px;
	text-align:left;
	width:170px;
}

/*.menu_top_login{
	background: url(images/design/box/login_top_bg.gif) no-repeat;
	height:25px;
	*height:35px;
	padding:10px 0 0 20px;
	font-weight: bold;
	font-size:12px;
}*/
/*.menu_top_ranking{
	background: url(images/design/box/ranking.gif) no-repeat;
	height:35px;
	padding:10px 0 0 20px;
	font-weight: bold;
	font-size:12px;
	width:170px;
}*/
.menu_top_reviews{
	background: url(../../../images/design/box/reviews.gif) no-repeat;
	padding:10px 0 0 20px;
	font-weight: bold;
	font-size:12px;
	width:170px;
	height:35px;
}
.menu_top_reviews a:hover{
	text-decoration: none;
}
.menu_top img{
	display:block;
	float:left;
	margin-left:10px;
}
.menu_top span{ float:left; padding-left:10px; margin-top:15px; color:#fff; font-weight:bold;}
.categories{ width:171px;}
/*.categories_bottom{
	margin-top:-10px;
	*margin-top:-15px;
}*/
.categoryh2{
  font-size: 11px;
  font-weight: normal;
  color: #004080;
  line-height: 25px;
  padding-top: 0px;
  padding-left: 15px;
  margin-bottom: 0px;
}
.categories_tree {
	font-size: 10px;
	color:#004080;
	background-color: #ECF0F4;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CBCBCB;
	border-left-color: #CBCBCB;
	padding-top: 2px;
	padding-left: 25px;
	padding-bottom: 2px;
}
/* ---------------------------
Information
--------------------------- */
#qa{
	width: 470px;
	*+width: 500px;
	border-top: solid 5px #a9834f;
	border-right: solid 5px #a9834f;
	border-left: solid 5px #a9834f;
	background: #005555;
	padding: 10px;
	margin: 5px auto 0px auto;
	color: #ccdddd;
}
#qa a{
	font-weight: bold;
	color: #e8c083;
}
#qa_bottom{
	width: 500px;
	height: 23px;
	background: url(../../../images/design/box/qa_bottom.gif) no-repeat;
	margin: 0px auto 5px auto;
}
#qa td{
	background: #005555;
	color: #ccdddd;
}
#qa b{
	color: #e8c083;
}
#qa_q h4{
	margin: 5px;
}
#qa_q ul{
	margin-left: 15px;
	list-style-position:inside;
	list-style-type:square;
}
/* reorder */
.information_table{
	width: 100%;
	font-size: 11px;
	background-color:#F2F2F2;
}
.information_table td{
	line-height: 20px;
	padding: 3px 5px;
	vertical-align: top;
}
.information_table02{
	width: 100%;
	font-size: 11px;
	background-color:#ccc;
}
.information_table02 td{
	line-height: 20px;
	padding: 3px 5px;
	vertical-align: top;
}
.information_table03{
	width: 100%;
	font-size: 11px;
	background-color:#ccc;
}
.information_table03 td{
	line-height: 20px;
	padding: 3px 5px;
	vertical-align: top;
	background-color:#FFFFFF;
}
.information_table03 th{
	line-height: 20px;
	padding: 3px 5px;
	vertical-align: top;
	background-color:#DEDDDD;
}
/* ---------------------------
ページタイトル
--------------------------- */
.pageHeading_gameList{
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding:5px 0 0 8px;
	height: 30px;
	line-height: 24px;
	/*padding-top: 3px;*/
	color:#676565;
}
.pageHeading {
	background: url(../../../images/design/contents/headding_title.gif) no-repeat 0 bottom;
	width:530px;
	font-size:12px;
	font-weight:bold;
	height:35px;
	margin-bottom:2px;
	text-align:left;
}
.pageHeading span{
	color:#A81235;
	float:left;
	font-weight:bold;
	margin-top:15px;
	padding-left:10px;
}
.pageHeading_left{
	float:left;
}
.pageHeading_right{
	float:right;
	margin:15px 15px 0 0;
	padding-right:5px;
}
.pageHeading_right a{ color:#000; font-size:11px;}
.pageHeading_right a:hover{ color:#676565;}
.pageHeading img , .pageHeading_long img{
	display:block;
	float:left;
	margin-left:10px;
}
.pageHeading_gameList{
	background: url(../../../images/design/contents/game_list.gif) no-repeat;
}
/*.pageBottom{
	width: 530px;
	height: 15px;
	margin: 0 0 5px 0;
	background: url(images/design/contents/headding_bottom.gif) no-repeat;
}
*/
.pageHeading_long {
	background: url(../../../images/design/contents/headding_title_long.gif) no-repeat 0 bottom;
	width: 714px;
	font-size:12px;
	font-weight:bold;
	height:35px;
	margin-bottom:2px;
	text-align:left;
}
.pageHeading_long span{
	color:#A81235;
	float:left;
	font-weight:bold;
	margin-top:15px;
	padding-left:10px;
}
/*.pageHeading_long {
	font-weight: bold;
	color: #676565;
	width: 694px;
	*width: 714px;
	font-size: 12px;
	background: url(images/design/contents/headding_title_long.gif) no-repeat;
	padding-left: 25px;
	height: 30px;
	*height: 35px;
	padding:5px 0 0 20px;
	line-height: 24px;
}*/
.pageBottom_long{
	width: 714px;
	height: 14px;
	margin-bottom: 5px;
	background: url(../../../images/design/contents/headding_bottom_long.gif) no-repeat;
}
/* ---------------------------
フッター
--------------------------- */
#footer {
	width: 900px;
	font-size: 10px;
	text-align: center;
	margin:0 auto 5px auto;
	clear:both;
	height:85px;
	background:url(../../../images/design/box/footer_bg.gif) repeat-x;
	color: #FFFFFF;
    letter-spacing: 0.5mm;
    line-height: 20px;
    padding-bottom: 16px;
	padding-top:15px;
}
.footer_contacts{
	letter-spacing:0.5mm;
	padding-top:25px;
}
.footer_contacts a{
	color: #AE0E32;
}
/*link color*/
.product_listing_content a{
	color: #237023;
}
.comment a{
	color:#C51138;
}
.comment .main ul li a{
	color: #336600;
}
.comment .main ul li a:hover{
	text-decoration:underline;
}
.main p a{
	color:#06727D;
}
.main p a:hover{
	text-decoration:underline;
}
.Tlist a{
	color:#008000;
}
.Tlist a:hover{
	text-decoration:underline;
}
.subcategory_tree{
list-style-type:none;
}

.contact_us_warpper{ clear:both;}
.tcol{ clear:both;}
.lcol{height:100%;clear:both; padding:5px; border:1px solid #E0E0E0; overflow:hidden; background-color:#fff;}
.rcol{height:100%;font-size:11px;clear:both; padding:5px; margin-top:5px; border:1px solid #ccc; overflow:hidden; background-color:#fff;}
.contact_left{ float:left;}
.contact_right{ float:left; padding-left:8px; width:390px;}
.contact_right h3{
	font-weight: bold;
}
.contact_right input{ float:right;}
.status_form{ clear:both;}
.status_warpper02{ clear:both;}
.status_warpper{ clear:both; padding:5px 10px; width:350px; display:block;overflow:hidden;}
.status_warpper label{ float:left; padding:3px;width:110px;}
.status_warpper input{ float:left;}
.button2{ float:right;}
.open_title{
	font-weight: bold;
	clear:both;
	font-size:14px;
}
.open_users{ background-color:#E0E0E0;}
.open_users td{ background-color:#F2F2F2;}
.open_users th{ background-color:#F2F2F2; text-align:left; font-size:12px; }
.open_tele{ color: #3399CC;}
.error{ color:#FF0000;}
#infomessage{
	font-weight: bold;
}
.login_inc{ background-color:#F2F2F2; border:1px solid #E0E0E0; padding:5px;}
#errormessage{ font-weight: bold; background-color:#F2F2F2; border:1px solid #E0E0E0; font-size:12px;}
.open_login{background-color:#E0E0E0; width:70%; font-size:12px;}
.open_login td{ background-color:#F2F2F2; padding:6px;}
.open_login th{ background-color:#F2F2F2; text-align:left; font-size:12px; }
.tickets_lout{font-size:12px; margin-bottom:5px;}
.tickets,.infotable{background-color:#E0E0E0; font-size:12px;margin-bottom:5px;}
.tickets a,.infotable a{font-size:12px;}
.tickets td,.infotable td{ background-color:#F2F2F2; padding:2px;}
.tickets th,.infotable th{ background-color:#F2F2F2; text-align:left; font-size:12px; }
#ticketthread{margin:15px 0;}
.captcha_comment{ font-size:12px;}
.right_colum_border{ width:170px;}
.link_banner{ margin:5px 0;}
.side_border{ width:900px; margin:0 auto;}
.latest_news_box,.welcome_box{
	width:530px;
	margin:0 auto 5px auto;
}
.login_bottom{
	margin-bottom:5px;
	*margin:-5px 0 0 0;
}
.product_list_page{ margin:5px 0; font-size:10px;}
.product_list_info{background: #f2f2f2; padding-top: 10px; border:1px #ddd solid;}
.header_m_login{ width:372px; *width:400px; *float:right;}
/*ost*/
.login_inc {
	font-size:11px;
	margin:0;
	padding:5px;
}
.error{
	font-size:11px;
	clear:both;
	margin:5px auto;
	text-align:center;
	clear:both;
	margin-bottom:5px;
}
.response{
	font-size:12px;
	clear:both;
	margin:5px auto;
	text-align:center;
	clear:both;
	background-color:#F2F2F2;
	border:1px solid #E0E0E0;
	text-align:left;
	
}
.login_inc_bottom{
	clear:both;
	float:right;
	margin:5px 0;
}
.viewticket_warpper,.msg{
	font-size:12px;
}
.message{ font-size:12px; text-align:left; clear:both;margin-bottom:5px;background-color:#F2F2F2; border:1px solid #E0E0E0;}
.Icon {
font-size:12px;
    width: auto;
    padding-left:20px;
    background-position: left center;
    background-repeat: no-repeat;
    color:#006699; 
    text-decoration: none;
}
a.Icon{
font-size:12px;
padding-top:3px;
padding-bottom:3px;
}
a.Icon:hover {
    text-decoration: underline;    
}
.Icon.Ticket { background:url(../../../images/icons/ticket.gif) 0 0 no-repeat; }
.Icon.webTicket { background:url(../../../images/icons/ticket_source_web.gif) 0 0 no-repeat; }
.Icon.emailTicket { background:url(../../../images/icons/ticket_source_email.gif) 0 0 no-repeat; }
.Icon.phoneTicket { background:url(../../../images/icons/ticket_source_phone.gif) 0 0 no-repeat; }                
.Icon.otherTicket { background:url(../../../images/icons/ticket_source_other.gif) 0 0 no-repeat; }
.Icon.attachment { background-image: url(../../../images/icons/attachment.gif); }
.Icon.file { background: url(../../../images/icons/attachment.gif) no-repeat left center;}
.Icon.refresh { background-image: url(../../../images/icons/refresh.gif); }   
.Icon.thread {
	background:url(../../../images/icons/thread.gif) no-repeat;
	font-size:12px;
	font-weight:bold;
	padding-left:20px;}
.products03{
	height:12px;
	background-color:#E1E1E1;
	padding:6px;
	*width:690px;
}
.comment03{
	background-color:#F2F2F2;
	border-bottom:1px solid #DDD;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	padding:2px;
	margin-bottom:5px;
}

/* xy_rmt*/
.h_title{
    background-color: #801C1C;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: normal;
    height: 15px;
    line-height: 15px;
    padding-left: 8px;
    text-align: left;
}
.h_title a{color:#fff;font-size:10px;}
.h_title a:hover{color:#CCC;}
.search_info td{ padding-right:10px; color:#BF1731; font-size:10px; font-weight:bold;}
.h_search img{ float:left; padding-right:5px;}
.h_search span{ float:left; padding-top:3px;}
.top_index_image{ margin-top:7px;}
.reviews_warp{ width:168px;*width:170px; border:1px solid #ccc; font-size:10px; padding:5px 0;}
