<table cellspacing="0" cellpadding="0" summary="footer" id="footer">
  <tbody><tr>
        <td class="footer_1"></td>
                <td class="footer_2"></td>
                        <td class="footer_3"></td>
                            </tr>
                                <tr>
                                      <td colspan="3">
                                                <div class="footer_games_box">
                                                          <div align="center" class="footer_games"> | <a class="blank" href="http://www.iimy.co.jp/">RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-168.html">FF11 RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-195.html">レッドストーン RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/item/p-32238.html">WebMoney 換金</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-396.html">AION RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-169.html">リネージュ2 RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-456.html">FF14 RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-597.html">DQ10 RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-218.html">アラド RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-178.html">信長の野望 RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-325.html">ラテール RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-171.html">ラグナロク RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-462.html">エルソード RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-278.html">アトランティカ RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-497.html">ネクソンポイント</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-591.html">PSO2 RMT</a> | 
                                                          <a class="blank" href="http://www.iimy.co.jp/rmt/c-547.html">TERA RMT</a> | 
                                                          <a class="blank" href="http://37109.jp/pc/">高松市 クーポン</a> | 
                                                          <a class="blank" href="http://www.orangere.com/">高松市の不動産屋</a> |</div>  
                                                   </div>
                                           </td>
                                     </tr>
                                     <tr>
                                      <td class="footer_4"></td>
                                      <td class="footer_5"> 当ウェブサイトに記載されている会社名・製品名・システム名などは、各社の登録商標、もしくは商標です。
                                       <address class="footer_contacts"> Copyright &copy;2013 <a href="http://rmt.worldmoney.jp">RMTワールドマネー</a> </address>
                                      </td>
                                      <td class="footer_6"></td>
      </tr>
   </tbody>
 </table>
</body>
</html>
