<div class="top"></div>
<div class="middle">
<div class="text_out">
<p>
相互リンク集はSEO対策・アクセスアップが目的のサイトです。各ページは静的HTMLで出力していますので検索エンジンに好まれる作りになっております。
</p>
<p>
貴サイトからのリンクを確認後、当サイトに掲載させていただきます。また、当サイトは定期的に巡回を行い、リンクチェックを行っております。デッドリンクまたは、リンク削除の場合は、当サイトからのリンクも削除いたしますので、ご理解ご了承ください。
</p>
<p>
※貴サイトのプログラムの仕様上、掲載URLが変更になる場合は、恐れ入りますが変更の無いURLをご登録いただくか、登録内容の変更を行ってください。
</p>
</div>
</div>
<div class="bottom"></div>

<div class = 'search_header'>
<form action="<!--{url controller=site action=sitesearch}-->" method="post" 
onsubmit="return valsearch()" name="form1" id="form1">
<table><tr><td align="center">
▼ホームページ検索 
<input type="text" id="search_txt" class="sh-txt" name='word' />

  <select name="method">
    <option value="and" selected="selected">AND</option>
    <option value="or">OR</option>
  </select>
   <input type="submit" value=" 検 索 " /> 
</td></tr>
</table>
</form>
</div>
</div>
<div class='tools'>
<h2>メニュー</h2>
<div class="middle">
<a href="<!--{url controller=site action=index}-->">相互リンク集TOP</a>
<a href="<!--{url controller=site action=setlinkchecksite}-->">新規登録</a>
<a href="<!--{url controller=site action=sitelist}-->">更新・削除</a>
<a href="<!--{url controller=site action=sitenew}-->">新着サイト</a>
<a href="<!--{url controller=site action=siterec}-->">おすすめサイト</a>
<a href="<!--{url controller=site action=sitemap}-->">サイトマップ</a>
</div>
<div class="bottom"></div>
</div>


