aaaaaaaaaaaaa
<div id="email">
	<ul>
	<!--{section name=loopFrequentSpecial2 loop=$frequentSpecial2}-->
		<!--{assign var="num"   value=$smarty.section.loopFrequentSpecial2.index   }-->
		<!--{assign var="sites" value=$frequentSpecial2[loopFrequentSpecial2].sites }-->
		<!--{assign var="show"  value=$frequentSpecial2[loopFrequentSpecial2].show  }-->
		<!--{if $frequentSpecial2[loopFrequentSpecial2].class.name}-->
		<li class="m4"><strong><!--{$frequentSpecial2[loopFrequentSpecial2].class.name}-->:</strong></li>
		<li class="m5">
			<!--{section name=loopFrequentSpecial2Site loop=$sites max=$show}-->
			<a href='<!--{$sites[loopFrequentSpecial2Site].url}-->' target='_blank'><!--{$sites[loopFrequentSpecial2Site].name}--></a>
			<!--{/section}-->
		</li>
		<li class="m6"><a href='<!--{url controller=site action=class id=$frequentSpecial2[loopFrequentSpecial2].class.class_id}-->'>一覧</a></li>
		<!--{/if}-->
	<!--{/section}-->
        <li>&nbsp;</li>
	</ul>
</div>
