<!--{php}-->
echo '<?xml version="1.0" encoding="UTF-8"?>';
include('Fleaphp/FLEA/Helper/Breadcrumb.php');
$bread = new breadcrumb();
$bread->add('オレンジ不動産','/');
$script_name_arr = explode('/',$_SERVER['SCRIPT_NAME']);
$bread->add('相互リンク集','/'.$script_name_arr[1]);
$arr = array(
    'all' => '一覧',
    'search' => '検索結果',
    'setlinkchecksite' => '新規登録',
    'linkcheck_submit' => '新規登録',
    'sitelist' => '更新サイト',
    'siteupdate' => '修正サイト',
    'sitedel' =>'削除サイト',
    'mailadmin' => '送信',
    'mailadminsubmit'=> '送信完了',
    'helppage'=>'ヘルプ',
    'sitemap'=>'サイトマップ',
    'detailed'=>'詳細検索'
    );
if(isset($_GET['action'])&&$_GET['action']!=''&&$_GET['action']!='class'){
  if($show = $arr[$_GET['action']]){
    $bread->add($show,$_SERVER['REQUEST_URI']);
  }
}
    <!--{/php}-->
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link type="text/css" rel="stylesheet" href="images/class/style.css" />
    <link type="text/css" rel="stylesheet" id='blueStyle' href="images/blue/class/color.css" />
    <script type='text/javascript' src='public/style.js'></script>
    <script type='text/javascript' src='Script/jquery-1.4.2.js'></script>
    <title>相互リンク集</title>
    </head>
<body id='body'>
    <div id="header">
  <div id="title"> RMT
        <a href="javascript:void(0);" style="cursor:hand" onkeypress="SomeJavaScriptCode" onclick="if (document.all) {window.external.AddFavorite(location.href, document.title)} else {window.sidebar.addPanel(document.title, location.href, null)}">RMT総合サイト ワールドマネーをお気に入りに追加して下さい！</a>
      </div>
  <div id="header02">
        <div id="header_flash">
      <ul>
            <li class="header_flash_left"></li>
            <li class="header_flash_content">
          <table cellpadding="0" cellspacing="0" border="0" summary="logo">
                <tr>
              <td valign="top"><a href="http://rmt.worldmoney.jp/">
                <img src="../images/design/logo.jpg" width="200" height="103" alt="RMT" />
                </a>
                  </td>
              <td><object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="662" height="103">
                  <param name="movie" value="../images/design/header_flash.swf" />
                  <param name="quality" value="high" />
                  <param name="wmode" value="opaque" />
                  <param name="swfversion" value="8.0.35.0" />
                  <param name="expressinstall" value="Scripts/expressInstall.swf" />
                </object>
                    <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="../images/design/header_flash.swf" width="662" height="103">                  
                  <param name="quality" value="high" />

                  <param name="wmode" value="opaque" />
                  <param name="swfversion" value="8.0.35.0" />
                  <param name="expressinstall" value="Scripts/expressInstall.swf" />
                </object>
                <!--<![endif]-->
                  </td>
            </tr>
              </table>
        </li>
            <li class="header_flash_right"></li>
          </ul>
    </div>
        <div id="header_Menu">
      <ul>
            <li class="header_menu_left"></li>
            <li class="header_menu_content">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" summary="menu box" style="margin-top: 11px;">
                <tr>
              <td width="432"><div style="width: 432px; height: 43px; overflow:hidden;">
                  <form name="quick_find" action="/advanced_search_result.php" method="get">
                    <table style="margin-top: 3px;" cellpadding="2" cellspacing="2" summary="search">
                      <tr>
                        <td><img class="middle" src="../images/design/button/search_text.gif" width="76" height="25" alt="RMT検索" /></td>
                        <td><select name="categories_id" class="header_search_select">
                            <option value="" selected="selected">全てのゲーム</option>
                            <option value="168">FF11 RMT</option>
                            <option value="396">AION RMT</option>
                            <option value="195">レッドストーン RMT</option>
                            <option value="169">リネージュ2 RMT</option>
                            <option value="200">CABAL RMT</option>
                            <option value="231">SUN RMT</option>
                            <option value="278">アトランティカ RMT</option>
                            <option value="325">ラテール RMT</option>
                            <option value="171">ラグナロク RMT</option>
                            <option value="250">ルーセントハート RMT</option>
                            <option value="468">蒼天 RMT</option>
                            <option value="299">エミルクロニクル RMT</option>
                            <option value="253">大航海時代 RMT</option>
                            <option value="450">タルタロス RMT</option>
                            <option value="444">ドラゴニカ RMT</option>
                            <option value="431">エイカオンライン RMT</option>
                            <option value="190">テイルズウィーバー RMT</option>
                            <option value="462">エルソード RMT</option>
                            <option value="319">女神転生IMAGINE RMT</option>
                            <option value="287">クロノス RMT</option>
                            <option value="459">ヴァルキリースカイ RMT</option>
                            <option value="430">カナン RMT</option>
                            <option value="308">RFonlineZ RMT</option>
                            <option value="477">アイラオンライン</option>
                            <option value="382">ROHAN RMT</option>
                            <option value="453">トリックスター RMT</option>
                            <option value="436">ファンタジーアース ゼロ RMT</option>
                            <option value="447">アークサイン RMT</option>
                            <option value="441">ルシエルブルー RMT</option>
                            <option value="465">RAPPELZ RMT</option>
                            <option value="385">WYD RMT</option>
                            <option value="367">ミックスマスター RMT</option>
                            <option value="425">チョコットランド RMT</option>
                            <option value="302">デカロン RMT</option>
                            <option value="399">SEKIHEKI RMT</option>
                            <option value="422">MU RMT</option>
                            <option value="337">天上碑 RMT</option>
                            <option value="295">シャイヤ RMT</option>
                            <option value="402">グランドファンタジア RMT</option>
                            <option value="170">リネージュ RMT</option>
                            <option value="292">ナイトオンライン RMT</option>
                            <option value="222">夢世界 RMT</option>
                            <option value="322">マスターオブエピック RMT</option>
                            <option value="179">マビノギ RMT</option>
                            <option value="305">ルナ トゥインクル RMT</option>
                            <option value="209">メイプルストーリー RMT</option>
                            <option value="410">イースオンライン RMT</option>
                            <option value="238">十二之天 RMT</option>
                            <option value="206">アークロード RMT</option>
                            <option value="221">三国志 RMT</option>
                            <option value="212">パーフェクトワールド RMT</option>
                            <option value="331">ローズオンライン RMT</option>
                            <option value="407">エンジェル戦記 RMT</option>
                            <option value="281">LEGEND of CHUSEN RMT</option>
                            <option value="286">ルナティア RMT</option>
                            <option value="413">パンヤ RMT</option>
                            <option value="416">プリウス RMT</option>
                            <option value="340">オマージュ RMT</option>
                            <option value="370">R2 RMT</option>
                            <option value="241">パンドラサーガ RMT</option>
                            <option value="177">PSU RMT</option>
                            <option value="419">天地大乱 RMT</option>
                            <option value="328">コルムオンライン RMT</option>
                            <option value="334">グラナドエスパダ RMT</option>
                            <option value="343">World of Warcraft RMT</option>
                            <option value="346">ウルティマオンライン RMT</option>
                            <option value="349">英雄オンライン RMT</option>
                            <option value="355">ラストカオス RMT</option>
                            <option value="358">エターナルカオスNEO RMT</option>
                            <option value="364">フローレンシア RMT</option>
                            <option value="373">三国無双 RMT</option>
                            <option value="376">コンチェルトゲート RMT</option>
                            <option value="379">TANTRA RMT</option>
                            <option value="244">熱血江湖 RMT</option>
                            <option value="203">ラグナロク2 RMT</option>
                            <option value="215">モンスターハンター RMT</option>
                            <option value="471">ブライトシャドウ RMT</option>
                            <option value="472">三国志豪傑伝 RMT</option>
                            <option value="247">ウェブマネー RMT</option>
                          </select>
                        </td>
                        <td><input type="text" name="keywords" value="RMT" class="header_search_input" /></td>
                        <td><input name="imageField" type="submit" class="header_search_submit" value="" alt="検索" />
                        </td>
                      </tr>
                    </table>
                    <input type="hidden" name="search_in_description" value="1" />
                    <input type="hidden" name="inc_subcat" value="1" />
                  </form>
                </div></td>
              <td align="right" width="372"><div style=" width:372px; overflow: hidden; height: 43px;">
                  <table summary="menu">
                    <tr>
                      <td><a href="/rss.php" class="header_menu_1">
                        </a>
                        <a href="/shopping_cart.php" class="header_menu_2">
                        </a>
                        <a href="http://3wm.maker.200.com/checkout_products.php" class="header_menu_3">
                        </a>
                      </td>
                      <td width="88" align="right" style="background-repeat: no-repeat;"><span id="jk-shoppingcart" style="font-size:12px">0円</span></td>
                    </tr>
                  </table>
                </div></td>
            </tr>
              </table>
        </li>
            <li class="header_menu_right"></li>
          </ul>
    </div>
        <div class="header_Navigation">
      <ul>
            <li class="header_navigation_left"></li>
            <li class="header_navigation_content">
          <p class="header_Navigation_p">
                <a href="/sitemap.php">サイトマップ</a>
                &nbsp;&nbsp;
                <a href="http://3wm.maker.200.com" class="headerNavigation">RMT</a>
              </p>
        </li>
            <li class="header_navigation_right"></li>
          </ul>
    </div>
      </div>
  <!--end header-->
  <div id="content">
        <div class="top"></div>
        <div class="middle">
      <!--{section name=loopClass loop=$class}-->
      <!--{assign var='top' value=$class[loopClass]}-->
      <div class="web-box">
            <div class="web-tit">
            <strong>
              <a href='<!--{url controller=site action=class id=$class[loopClass].class_id}-->'>
                 <!--{$class[loopClass].name}-->
              </a>
            </strong></div>
            <!--{section name=loopTop loop=$top.children step=5}-->
            <!--{assign var='index' value=$smarty.section.loopTop.index}-->
            <!--{assign var='index2' value=$smarty.section.loopTop.index+1}-->
            <!--{assign var='index3' value=$smarty.section.loopTop.index+2}-->
            <!--{assign var='index4' value=$smarty.section.loopTop.index+3}-->
            <!--{assign var='index5' value=$smarty.section.loopTop.index+4}-->
            <!--{if $smarty.section.loopTop.first}-->
            <table class="web_3" width="100%">
          <!--{/if}-->
             <tr>
                <td><!--{if $top.children[$index].name != ''}-->
              <span class="web-ico">&nbsp;</span>
              <a href='<!--{url controller=site action=class id=$top.children[$index].class_id}-->'>
                  <!--{$top.children[$index].name}-->
                  </a>
              <!--{/if}-->
            </td>
                <td><!--{if $top.children[$index2].name != ''}-->
              <span class="web-ico">&nbsp;</span>
              <a href='<!--{url controller=site action=class id=$top.children[$index2].class_id}-->'>
                  <!--{$top.children[$index2].name}-->
                  </a>
              <!--{/if}-->
            </td>
                <td><!--{if $top.children[$index3].name != ''}-->
              <span class="web-ico">&nbsp;</span>
              <a href='<!--{url controller=site action=class id=$top.children[$index3].class_id}-->'>
                  <!--{$top.children[$index3].name}-->
                  </a>
              <!--{/if}-->
            </td>
                <td><!--{if $top.children[$index4].name != ''}-->
              <span class="web-ico">&nbsp;</span>
              <a href='<!--{url controller=site action=class id=$top.children[$index4].class_id}-->'>
                  <!--{$top.children[$index4].name}-->
                  </a>
              <!--{/if}-->
            </td>
                <td><!--{if $top.children[$index5].name != ''}-->
              <span class="web-ico">&nbsp;</span>
              <a href='<!--{url controller=site action=class id=$top.children[$index5].class_id}-->'>
                  <!--{$top.children[$index5].name}-->
                  </a>
              <!--{/if}-->
            </td>
          </tr>
          <!--{if $smarty.section.loopTop.last}-->
        </table>
            <!--{/if}-->
            <!--{/section}-->
          </div>
      <!--{/section}-->
    </div>
    <div class="bottom"></div>
      </div>
</div>
    <!--{include file=Site/footer.html}-->
    